@{
    ViewBag.Title = "ExcelIntellisenceInput";
}

<input type="text" class="tbExel" size="60" value="=if(,and(,),">

<p>ตัวอย่างการใช้งาน ExcelFormulate <a href="https://jsfiddle.net/dvdhage/oypf001v/6/" target="_blank"> ExcelFormulate</a></p>

@section ViewSpecificJavascript
{
    <script>
        $(function () {
            $(".tbExel").ExcelFormulate({});
        })
    </script>
}