<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmileUnderwriteBranchV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="th-TH" uiCulture="th" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="31240" />
	 
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="RouteJs" />
      <add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
      <remove name="WebHelpers" />
      <add name="WebHelpers" verb="GET" path="WebHelpers.axd" type="WebHelpers.Mvc5.Enum.EnumHandler" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <!--
    exposeAllRoutes: Sets whether to expose all routes to the site.
    If true, all routes will be exposed unless explicitly hidden using the [HideRoutesInJavaScript]
    attribute on the controller. If false, all routes will be hidden unless explicitly exposed
    using the [ExposeRoutesInJavaScript] attribute.

    lowerCaseUrls: Sets whether urls should be converted to lowercase.
    If true, urls will be converted to lowercase while preserving route value placeholders.
    Example: "Posts/{postKey}/Edit" -> "posts/{postKey}/edit"
  -->
  <routeJs exposeAllRoutes="true" lowerCaseUrls="false" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISSOService" />
        <binding name="BasicHttpBinding_IDocumentService" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IUnderwriteBranchService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://operation.siamsmile.co.th:9110/Services/SSOService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISSOService" contract="SSOService.ISSOService" name="BasicHttpBinding_ISSOService" />
      <endpoint address="http://operation.siamsmile.co.th:9208/Module/Document/DocumentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentService" contract="SSSDocService.IDocumentService" name="BasicHttpBinding_IDocumentService" />
      <endpoint address="http://operation.siamsmile.co.th:9214/wcfservices/UnderwriteBranchService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnderwriteBranchService" contract="UnderwriteBranchService.IUnderwriteBranchService" name="BasicHttpBinding_IUnderwriteBranchService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SmileUnderwriteBranchV2.Properties.Settings>
      <setting name="TokenName" serializeAs="String">
        <value>SiamsmileToken</value>
      </setting>
      <setting name="NumberOfPeriodToShow" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GiveBackInsuranceCardEditDate" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="AbsolutePathImage_Localhost" serializeAs="String">
        <value>http://localhost:61593/FileImg</value>
      </setting>
      <setting name="CMDueDate" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="AbsolutePathImage" serializeAs="String">
        <value>http://localhost:61593/FileImg/</value>
      </setting>
      <setting name="MotorCMDueDate" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CancerCMDueDate" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="RefreshTokenName" serializeAs="String">
        <value>SiamsmileRefreshToken</value>
      </setting>
      <setting name="LoginPageURL" serializeAs="String">
        <value>https://demoauthserver.devsiamsmile.com</value>
      </setting>
      <setting name="LogoutURL" serializeAs="String">
        <value>https://demoauthserver.devsiamsmile.com/Account/Logout</value>
      </setting>
      <setting name="LogoutAllURL" serializeAs="String">
        <value>https://demoauthserver.devsiamsmile.com/Account/Logout</value>
      </setting>
      <setting name="CallbackURL" serializeAs="String">
        <value>http://localhost:61593/Auth/SigninCallback</value>
      </setting>
      <setting name="SecretKey" serializeAs="String">
        <value>$ecretKeyF0rUA</value>
      </setting>
      <setting name="ChangePasswordURL" serializeAs="String">
        <value>https://demoauthserver.devsiamsmile.com/Manage/ChangePassword</value>
      </setting>
      <setting name="CheckSession" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SSSpath" serializeAs="String">
        <value>http://uat.siamsmile.co.th:9101/Modules/PH/frmPHDetail.aspx</value>
      </setting>
      <setting name="CancerCloseDate" serializeAs="String">
        <value>5,21.00</value>
      </setting>
      <setting name="MotorCloseDate" serializeAs="String">
        <value>5,21</value>
      </setting>
      <setting name="PHCloseDate" serializeAs="String">
        <value>20,21.00</value>
      </setting>
      <setting name="CancerChangeStartCoverDate" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MortorChangeStartCoverDate" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PHChangeStartCoverDate" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="docstorage" serializeAs="String">
        <value>https://docstorage.uatsiamsmile.com</value>
      </setting>
      <setting name="docstorageApi" serializeAs="String">
        <value>https://apigw.uatsiamsmile.com/docstorage/document/documentid/list?</value>
      </setting>
      <setting name="ChangePeriodDay" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="MotorChangePeriodDay" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="CancerChangePeriodDay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ClientId" serializeAs="String">
        <value>5f5096ae-8e17-2a86-1645-ffb5261fd16e</value>
      </setting>
      <setting name="Issuer" serializeAs="String">
        <value>https://authlogin.uatsiamsmile.com</value>
      </setting>
      <setting name="Scope" serializeAs="String">
        <value>openid profile email roles employee_profile employee_branch employee_department employee_team</value>
      </setting>
      <setting name="FileImgPath" serializeAs="String">
        <value>D:\DocumentFiles\UnderwriteBranch\FileImg\</value>
      </setting>
      <setting name="MotorReportChangePeriodDay" serializeAs="String">
        <value>22</value>
      </setting>
    </SmileUnderwriteBranchV2.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
	  
	  <!--uat-->
	  <add name="UnderwriteBranchV2Entities" connectionString="metadata=res://*/Models.UnderwriteBranchV2Model.csdl|res://*/Models.UnderwriteBranchV2Model.ssdl|res://*/Models.UnderwriteBranchV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=UnderwriteBranchV2;user id=DevDBA;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UnderwriteMotorModelContainer" connectionString="metadata=res://*/Models.UnderwriteMotorModel.csdl|res://*/Models.UnderwriteMotorModel.ssdl|res://*/Models.UnderwriteMotorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=UnderwriteBranchV2;persist security info=True;user id=DevDBA;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UnderwriteBranchV2MotorModelContainer" connectionString="metadata=res://*/Models.UnderwriteBranchV2MotorModel.csdl|res://*/Models.UnderwriteBranchV2MotorModel.ssdl|res://*/Models.UnderwriteBranchV2MotorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=UnderwriteBranchV2;persist security info=True;user id=devdba;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UnderwriteBranchV2CancerEntities" connectionString="metadata=res://*/Models.UnderwriteBranchV2CancerModel.csdl|res://*/Models.UnderwriteBranchV2CancerModel.ssdl|res://*/Models.UnderwriteBranchV2CancerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=UnderwriteBranchV2;user id=devdba;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	  <!--production-->
	  <!--<add name="UnderwriteBranchV2Entities" connectionString="metadata=res://*/Models.UnderwriteBranchV2Model.csdl|res://*/Models.UnderwriteBranchV2Model.ssdl|res://*/Models.UnderwriteBranchV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=UnderwriteBranchV2;user id=App_SmileUnderwriteBranch;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UnderwriteMotorModelContainer" connectionString="metadata=res://*/Models.UnderwriteMotorModel.csdl|res://*/Models.UnderwriteMotorModel.ssdl|res://*/Models.UnderwriteMotorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=UnderwriteBranchV2;persist security info=True;user id=App_SmileUnderwriteBranch;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UnderwriteBranchV2MotorModelContainer" connectionString="metadata=res://*/Models.UnderwriteBranchV2MotorModel.csdl|res://*/Models.UnderwriteBranchV2MotorModel.ssdl|res://*/Models.UnderwriteBranchV2MotorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=UnderwriteBranchV2;persist security info=True;user id=App_SmileUnderwriteBranch;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="UnderwriteBranchV2CancerEntities" connectionString="metadata=res://*/Models.UnderwriteBranchV2CancerModel.csdl|res://*/Models.UnderwriteBranchV2CancerModel.ssdl|res://*/Models.UnderwriteBranchV2CancerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=UnderwriteBranchV2;user id=App_SmileUnderwriteBranch;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->




  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>