
<div class="row">
    <div class="col-xs-12" style="padding-top:6px">
        <table id="dtDocument" class="table table-bordered table-hover dataTable" style="width:100%"></table>
    </div>
</div>

<script type="text/javascript">
    const GetDocumentDetail = (appId) => {
          
            $('#dtDocument').empty();
            var table = $('#dtDocument').DataTable({
                     pageLength: 10,
                     processing: true,
                     serverSide: true,
                     responsive: true,
                     destroy: true,
                     searching: false,
                     //paging: false,
                     info: false,
                     ajax: {
                         url: '@Url.Action("GetPersonnelDocument", "PartialView")',
                         type: 'POST',
                         data: function (d) {
                             d.draw = d.draw;
                             d.pageSize = d.length;
                             d.pageStart = d.start;
                             d.sortField = d.columns[d.order[0].column].data;
                             d.orderType = d.order[0].dir;
                             d.search = d.search.value;
                             d.applicationID = appId;
                             d.documentTypelistId = "42,43,45";
                             //d.applicationID = 2;
                         }
                     },
                columns: [
                    { title: 'รหัสเอกสาร', data: 'DocumentCode', className: 'h-dt-center d-dt-center', width: '10%' },

                    { title: 'ประเภทเอกสาร', data: 'DocumentType', className: 'h-dt-center d-dt-center', width: '23%'},
                        {
                            title: 'วันที่สแกนเอกสาร', data: 'CreatedDate', className: 'h-dt-center d-dt-center'
                             , mRender: function (data) {
                                 moment.locale('th');
                                 return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss");
                             }, width: '15%'
                        },

                        {
                            title: 'รายละเอียด',
                            className: 'h-dt-center d-dt-center',
                            data: null,
                            mRender: (data, type, full) =>
                            {
                                return '<a href="' + data.UrlLinkOpen + '" class="btn btn-primary btn-sm" target="_blank"><i class="fa fa-fw fa-desktop"></i> รายละเอียด(' + data.FileCount +') </a>';
                            }, width: '10%'
                        },
                     ],
                     bLengthChange: false,
                     createdRow: function (row, data, index) {

                     },
              });
        }
</script>