@{
    ViewBag.Title = "EditModel";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <!-- /.box-header -->
            <div class="box-body">
                <div id="form1_msg" class="alert alert-danger alert-dismissible" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                    กรุณากรอกข้อมูลให้ถูกต้องและครบถ้วน
                </div>
                <!-- form start -->
                <form class="form-horizontal" id="form1" action="@Url.Action("EditModel")" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="DesignModel_Id" value="@ViewBag.DesignModel_Id" />
                    <div class="box-body">
                        @* Type *@
                        <div class="form-group row">
                            <label for="ModelType" class="col-sm-2 control-label">ประเภท</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" name="ModelType" id="ModelType" required="required" style="width: 100%;">
                                    @if(ViewBag.Model.Type == "Calculation")
                                    {
                                        <option value="Calculation" selected>Calculation</option>
                                        <option value="Report">Report</option>
                                    }
                                    else
                                    {
                                        <option value="Calculation">Calculation</option>
                                        <option value="Report" selected>Report</option>
                                    }
                                </select>
                            </div>
                        </div>
                        @*Name*@
                        <div class="form-group row">
                            <label for="ModelName" class="col-sm-2 control-label">Model Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control checkModelName" placeholder="Model Name" name="ModelName" required="required" id="ModelName" value="@ViewBag.Model.Name">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" align="center">
                        <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-times"></i> Back</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i>  Next </button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

@section ViewSpecificJavascript{
    <script>
        $(function () {
            //Initialize Select2 Elements
            debugger;
            $('.select2').select2();

            $('#form1').valid();

            //TODO: set ModelName

        });
    </script>
}