@{
    ViewBag.Title = "SignalR";
}

View full Document at :
<a href="https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/tutorial-getting-started-with-signalr">Link</a>
<div class="row">
    <p class="alert-info">Note :</p>
    <p>1. Add nuget = SignalR</p>
    <p>2. Add Class ChatHub</p>
    <p>3. Add Class Startup</p>
    <p>4. Bundle "Scripts/jquery.signalR-2.3.0.min.js" ดู Version ให้ตรงกับที่ nuget load มาให้</p>
    <p>5. Add Script src="signalr/hubs" ใน Layout ข้างบน RenderSection("ViewSpecificJavascript", required: false)</p>
    <a target="_blank" href="@Url.Action("SignalRMonitor", "SignalRExample")">Monitor Page</a>
    <p></p>
    <a target="_blank" href="@Url.Action("SignalRClient", "SignalRExample")">Client Page</a>
</div>