@{
    ViewBag.Title = "แจ้งใช้สิทธิ์";
}

<style>
    .dt-center {
        text-align: center;
    }

    .dt-left {
        text-align: left;
    }

    /*.span-title {
        display: table-cell;
        width: 43px;
        vertical-align: middle;
        font-size: 16px;
    }*/
</style>
<form id="form_Index">
    <div class="row" id="divcontent">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">ค้นหาประกันส่วนบุคคล</h3>
                    @*<a href="#" class="btn btn-success" style="float: right; width: 100px;">+ New</a>*@
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <div class="span-title">
                                <span for="input_textsearch" class="col-form-label" style="font-weight: bold">คำค้น</span><span for="input_textsearch" class="col-form-label"> (ชื่อ,นามสกุล,เลขที่บัตรประชาชน)</span>
                            </div>
                            <div class="input-group">
                                <input id="input_textsearch" name="input_textsearch" type="text" class="form-control" required="required" checkStrEmpty="checkStrEmpty" minlength="5" placeholder="ค้นหาโดย ชื่อ,นามสกุล,เลขที่บัตรประชาชน">
                                <span class="input-group-btn">
                                    <button id="button_search" name="button_search" type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i> ค้นหา</button>
                                </span>
                            </div>
                        </div>
                        <table id="datatable1" class="table table-bordered table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</form>
@section ViewSpecificJavascript
    {
    <script>
        $(function () {
            $('#input_textsearch').keypress(function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    $('#button_search').click();
                }
            });
            $('#button_search').click(function () {
                if ($('#form_Index').valid()) {
                    drawTable();
                }

            });
        });

        function drawTable() {

            $('#datatable1').empty();

            $('#datatable1').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                searching: false,
                lengthChange: false,
                responsive: true,
                destroy: true,
                language: {
                    url: '/Content/js/plugins/datatable/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("GetDatatablePerson")',
                    method: "POST",
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = $('#input_textsearch').val();
                    }
                },

                columns: [
                    {
                        title: '#',
                        data: null,
                        bSortable: false,
                        mRender: function (o) {
                            //encode

                            if (o.Status_id == "3080") {
                                var encodeAppId = window.btoa(unescape(encodeURIComponent(o.ApplicationID)));
                                var encodeProductGroupId = window.btoa(unescape(2)); //2=PH
                                return '<a href="@Url.Action("GetDetail","PH")?appId=' + encodeAppId + '&pGroupId=' + encodeProductGroupId + '" class="btn btn-success" title="ดูรายละเอียด" target="_blank" style="margin: 2px;"><i class="fa fa-search"></i></a>';
                            } else {
                                return '<a class="btn btn-danger" title="เลือก" style="margin: 2px;" disabled="disabled"><i class="fa fa-search"></i></a>';
                            }
                        }

                    },
                    { title: 'เลขที่อ้างอิง', data: 'ApplicationID' },
                    { title: 'ชื่อ-สกุล', data: 'FullName' },
                     { title: 'เลขบัตรฯ', data: 'ZCard_id' },
                    {
                        title: 'แผน',
                        data: 'ProductGroup_id',
                        render: function (data) {
                            return 'ประกันส่วนบุคคล';
                        }

                    },
                    {
                        title: 'วันเกิด',
                        data: 'BirthDate',
                        render: function (data) {
                            return DisplayJsonDateBE(data);
                            //return moment(data).format('DD/MM/YYYY');
                        }
                    },
                    {
                        title: 'สถานะ',
                        data: 'Status_id',
                        render: function (data) {
                            if (data == "3080") {
                                return '<span class="label label-success">' + 'ปกติ' + '</span>';
                            }
                            else if (data == "3090") {
                                return '<span class="label label-danger">' + 'ยกเลิก' + '</span>';
                            }
                            else {
                                return '<span class="label label-warning">' + 'ติดต่อ Call Center' + '</span>';
                            }
                        }
                    },
                    {
                        title: 'วันเริ่มคุ้มครอง',
                        data: 'StartCoverDate',
                        render: function (data) {
                            return DisplayJsonDateBE(data);
                            //return moment(data).format('DD/MM/YYYY');
                        }
                    },
                    {
                        title: 'วันที่ยกเลิก',
                        data: 'CancelDate',
                        render: function (data) {
                            return DisplayJsonDateBE(data);
                            //return moment(data).format('DD/MM/YYYY');
                        }
                    }
                ]
            });
        }
    </script>
}