@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <img src="https://siamsmile.co.th/wp-content/uploads/2017/11/logo_ssm_.svg" style="width: 80px">
            <h3 class="panel-info">Siamsmile Operation</h3> <h4>(WinApp)</h4>
        </div>
    </div>
    @foreach(var itm in ViewBag.RootMenuWebApp)
    {
        <div class="col-sm-offset-4 col-sm-4">
            <a class="btn btn-block btn-info" href="@itm.URLAddress" target="_blank">
                <i class="@itm.IconMenu">
                    @itm.DisplayName
                </i>
            </a>
        </div>
        <div class="col-sm-12">
            <br>
        </div>
    }
</div>