@using SmileSUnderwrite.Models
@using SmileSUnderwrite.SmileSPAService
@using WebHelpers.Mvc5.Enum
@{

}
<div id="UnderwriteHistory_form" class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">ประวัติคัดกรอง</h4>
        </div>
        <div class="box-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <table id="tblUnderwriteHistory" class="table table-bordered table-striped"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
         $('#tblUnderwriteHistory').empty();
        var table = $('#tblUnderwriteHistory').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("UnderwriteHistory","PAUnderwriteCall")',
                    method:'POST',
                    data: function (d) {
                                d.pageSize = d.length;
                                d.pagestart = d.start;
                                d.sortField = d.columns[d.order[0].column].data;
                                d.orderType = d.order[0].dir;
                                d.search = d.search.value;
                                d.schoolId = @ViewBag.AppDetail.School_id;
                    }
                },
                columns: [
                    { title: 'วันที่โทร', data: 'CallDate' },
                    { title:'AppId', data:'ReferenceCode'},
                    { title:'ประเภทคิว', data:'QueueTypeDetail'},
                    { title: 'ผลการโทรคัดกรอง', data: 'UnderwriteStatusDetail' },
                    { title: 'สถานะคิวงาน', data: 'QueueStatus' },
                    { title: 'ผู้รับผิดชอบ', data: 'AssignToName' },
                    {  data: 'QueueId',
                        title: 'รายละเอียด',
                        render: function (data) {
                            return '<button type="button" class="btn btn-block btn-info" id="btnDetail_'+data+'" name="btnDetail_'+data+'" value="'+data+'" >';
                        }
                    }
                ]
            });

        GetUnderwriteHistory();
    });

    function GetUnderwriteHistory() {
        $('#tblUnderwriteHistory').empty();
        var table = $('#tblUnderwriteHistory').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("UnderwriteHistory","PAUnderwriteCall")',
                    method:'POST',
                    data: function (d) {
                                d.pageSize = d.length;
                                d.pagestart = d.start;
                                d.sortField = d.columns[d.order[0].column].data;
                                d.orderType = d.order[0].dir;
                                d.search = d.search.value;
                                d.schoolId = @ViewBag.AppDetail.School_id;
                    }
                },
                columns: [
                    { title: 'วันที่โทร', data: 'CallDate' },
                    { title:'AppId', data:'ReferenceCode'},
                    { title:'ประเภทคิว', data:'QueueTypeDetail'},
                    { title: 'ผลการโทรคัดกรอง', data: 'UnderwriteStatusDetail' },
                    { title: 'สถานะคิวงาน', data: 'QueueStatus' },
                    { title: 'ผู้รับผิดชอบ', data: 'AssignToName' },
                    {  data: 'QueueId',
                        title: 'รายละเอียด',
                        render: function (data) {
                            return '<button type="button" class="btn btn-block btn-info" id="btnDetail_'+data+'" name="btnDetail_'+data+'" value="'+data+'" >';
                        }
                    }
                ]
            });
    }
</script>