﻿@{
    ViewBag.Title = "Find Application";
    ViewBag.Description = "ค้นหา";
}
<style>

    .table {
        font-size: 14px;
    }

    .toolbar {
        float: left;
    }
</style>
<form action="" method="post" id="Mainform">
    <div class="row">

        @* search form *@
        <div id="Search_form" class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">ค้นหารายการ</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-2 col-md-5">
                            <label class="control-label" for="">คำค้นหา :</label>
                            <input type="text" id="txtSearch" name="txtSearch" class="form-control input" placeholder="เลขApplication/เลขบัตรประชาชน/ชื่อ-สกุล ผู้เอาประกัน/ชื่อ-สกุล ผู้ชำระเบี้ย" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1 col-md-offset-1 col-md-1 ">
                            <label class="control-label header" style="margin-top: 10px" for="">สถานะ :</label>
                        </div>
                        <div class=" col-sm-2 col-md-2 checkbox">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus1" class="icheckbox_minimal-blue chkAll" /> ทั้งหมด
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus2" class="icheckbox_minimal-blue chkSearch" /> บันทึกลูกค้าใหม่
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus3" class="icheckbox_minimal-blue chkSearch" /> ส่งตรวจเอกสารและคัดกรอง
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus4" class="icheckbox_minimal-blue chkSearch" /> ปกติ
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus5" class="icheckbox_minimal-blue chkSearch" /> ยกเลิก
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-offset-4 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus6" class="icheckbox_minimal-blue chkSearch" /> ยกเลิกก่อนDCR
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus7" class="icheckbox_minimal-blue chkSearch" /> มีกำหนดยกเลิก
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus8" class="icheckbox_minimal-blue chkSearch" /> ตรวจเอกสารผ่าน
                            </label>
                        </div>
                        <div class="col-sm-2 col-md-2 checkbox" style="margin-top: 10px">
                            <label style="padding-left: 0px">
                                <input type="checkbox" checked="checked" name="chk_AppStatus" id="chk_AppStatus9" class="icheckbox_minimal-blue chkSearch" /> ติดเงื่อนไข บริษัทประกัน
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-md-offset-4 col-md-2">
                            <button class="btn btn-block btn-info" type="button" id="btnSearch" onclick=""><i class="fa fa-search"></i> ค้นหา</button>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <button class="btn btn-block btn-primary" type="button" id="btnClear" onclick="">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* DT form *@
        <div id="dt_form" class="col-sm-12 col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="dtApplicationMonitor" name="dtApplicationMonitor" class="table table-bordered table-striped" style="width: 100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end form *@
    </div>
</form>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {

            $('#dt_form').hide();

            $('#btnClear').click(() => {
                //clear value
                $('#txtSearch').val('');
                $('#dt_form').hide();
                //select datepicker from dcr

            });

            //call when search
            $('#btnSearch').click(() => {
                if ($('#txtSearch').val().length < 3) {
                    swal_fail('กรุณากรอกคำค้นหามากกว่า 3 ตัวอักษร');
                } else {
                    GetMonitorApplication();
                    $('#dt_form').show();
                }

            });

            //checkbox func
            var checkAll = $('input.chkAll');
            var checkboxes = $('input.chkSearch');
            checkAll.on('ifChecked ifUnchecked', function(event) {
                if (event.type == 'ifChecked') {
                    checkboxes.iCheck('check');
                } else {
                    checkboxes.iCheck('uncheck');
                }
            });
            checkboxes.on('ifChanged', function(event){
                if(checkboxes.filter(':checked').length == checkboxes.length) {
                    checkAll.prop('checked', 'checked');
                } else {
                    checkAll.removeAttr('checked');
                    //checkAll.iCheck('uncheck');
                }
                checkAll.iCheck('update');
            });
        });

        const Play = (appCode) => {
             var enc = btoa(appCode);
            window.open('@Url.Action("DetailApp","Application")?appCode='+enc);
        }

        const GetMonitorApplication = () => {

            var search = $('#txtSearch').val();
            //get checkbox value
            var isNewApp = ($('#chk_AppStatus2').is(":checked")) ? '2' : '';
            var isWaitProcess = ($('#chk_AppStatus3').is(":checked"))?'3':'';
            var isNormal = ($('#chk_AppStatus4').is(":checked"))?'4':'';
            var isCancel = ($('#chk_AppStatus5').is(":checked")) ? '5' : '';
            var isCancelBdcr = ($('#chk_AppStatus6').is(":checked")) ? '6' : '';
            var isCancelDue = ($('#chk_AppStatus7').is(":checked")) ? '7' : '';
            var isPassDoc = ($('#chk_AppStatus8').is(":checked")) ? '8' : '';
            var isNotPassIns = ($('#chk_AppStatus9').is(":checked")) ? '9' : '';
            //get status list
            var statusList = isNewApp + ',' + isWaitProcess + ',' + isNormal + ',' + isCancel + ',' + isCancelBdcr + ','+isCancelDue+','+isPassDoc+','+isNotPassIns;

            //var userId = $('#hd_userId').val();

            //call api
            $('#dtApplicationMonitor').empty();
            var appTable = $('#dtApplicationMonitor').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                searching: false,
                responsive: true,
                destroy: true,
                ajax: {
                    url: '@Url.Action("GetMonitorApplication","Monitor")',
                    method: 'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.indexStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.searchDetail = search;
                        d.branchId = null;
                        d.startCoverDate = null;
                        d.cancelDate = null;
                        d.endCoverDate = null;
                        d.appStatusIdList = statusList;
                        d.appUdwStatusIdList = null;
                        d.userId = null;
                        d.appCode = null;
                    }
                },
                columns: [
                    {
                        title: 'วันที่คุ้มครอง', data: 'StartCoverDate',
                        render: function (data) {
                            if (data != null) {
                                let startCoverDate = moment(data)._d;
                                let yearBE = startCoverDate.getFullYear() + 543;
                                let startCoverDateBE = moment(startCoverDate.setFullYear(yearBE)).format("DD/MM/YYYY");
                                return startCoverDateBE;
                            } else {
                                return '';
                            }
                        }
                    },
                    { title: 'AppID', data: 'ApplicationCode' },
                    { title: 'กรมธรรม์', data: 'CurrentPolicyNo' },
                    { title: 'ผู้เอาประกัน', data: 'CustName' },
                    { title: 'แผนประกัน', data: 'Product' },
                    { title: 'เบี้ย', data: 'PremiumPerPolicy' },
                    { title: 'ตัวแทน', data: 'S1EmployeeName' },
                    { title: 'สถานะกรมธรรม์', data: 'ApplicationStatus' },
                    { title: 'ผลการพิจารณา', data: 'ApplicationUnderwriteStatus' },
                    {
                        title: 'จัดการ',
                        data: null,
                        searchable: false,
                        orderable: false,
                        mRender: function (data) {
                                 return '<a type="button" class="btn btn-block btn-success" id="btnPlay_' + data.ApplicationId
                                    + '" onclick="Play(\'' + data.ApplicationCode + '\')">ดู <i class="fa fa-arrow-right"></i></a>';

                        }
                    }
                ]
            });
        }
    </script>
}