@media (max-width: 768px) {
    #loader {
        top: 28em;
    }
}

@media (min-width: 768px) {
    #loader {
        bottom: 0;
        height: 175px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 175px;
    }
}
