@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@*@using (Html.BeginForm())
    {
        <legend>ระบบได้ทำการรีเซ็ตรหัสผ่านของท่านเป็นรหัสพนักงานแล้ว กดปิดเพื่อกลับไปยังหน้าหลัก...</legend>

    }*@
<style>
    .page-wrap {
        padding: 350px 0 0 0;
    }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block" style="color: green"><i class="fa fa-check-circle"></i></span>
                <div class="mb-4 lead">บันทึกเรียบร้อยแล้ว !</div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            //window.onload = function () {
            //    setTimeout(function () {
            //        window.close();
            //    }, 4000);
            //}
            //disable back button
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
            };
            //window.onload = function () { setTimeout(function () { window.location.href = "http://login_main_activity"; }, 3000); }
        });
    </script>
}