@{
    ViewBag.Title = "หน้าหลัก";

}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">เลือกระบบที่ต้องการใช้งาน</h3>
            </div>
            <div class="box-body">
                 <div class="form-group col-md-12">
                    <div class="col-md-4">
                      <a href="@Url.Action("ReportClaimPH", "Claim")">
                          <button type="button" class="btn btn-info pull" style="width:80%" id="btnPH" name="btnPH">รายงานเคลมประกันสุขภาพ</button>
                        </a>
                    </div>
                 </div>  
                <h1></h1>
                 <div class="form-group col-md-12">
                    <div  class="col-md-4">
                       <a href="@Url.Action("ReportClaimPA", "Claim")">
                        <button type="button" class="btn btn-info pull" style="width:80%" id="btnPA" name="btnPA">รายงานเคลมประกันนักเรียน</button>
                       </a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
   
</div>

@section ViewSpecificJavascript{
    <script>
        $(function () {

           @*$('#btnPH').on('click', function () {
               debugger;
               <a href="@Url.Action("ReportClaimPH", "Claim")"><i class="fa fa-link">

            });

           $('#btnPA').on('click', function () {
               debugger;
               window.open('http://49.231.178.252:81/SSSDoc/Modules/Document/frmDocumentScanPDF.aspx?dcid=' + Code + '&prjid=DocumentKTB', '_blank');

            });*@
        });
    </script>
}