.well {
    border-radius: 5px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin: 5px 0;
    background-color: white;
    padding: 0px;
    display: flex;
    overflow: auto;
}

.well-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
    margin-top: 10px;
    padding: 5px;
}

.well-icon {
    background-color: #72BBE5;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.icon {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    color: #62B6E3;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxIconAmount {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.container-boxIconAmount {
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 45em) {
    .container {
        grid-template-columns: 4fr 4fr;
    }
}
