body, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Kanit', sans-serif !important;*/
    font-family: 'Sarabun', sans-serif !important;
}

a {
    cursor: pointer;
}

.error {
    color: #dd4b39;
    font-weight: 400;
    border-color: #dd4b39;
}

thead, th {
    text-align: center;
}

/* OR */

.table thead,
.table th {
    text-align: center;
}

td.dt-center {
    text-align: center;
}

td.dt-right {
    text-align: right;
}

/* Loading Spinner */
#loading {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    background: rgba(255,255,255,0.5);
    /* display: none; */
}

.spinner {
    margin: 0;
    width: 70px;
    height: 18px;
    margin: -35px 0 0 -9px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #00bfff;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -.32s;
        animation-delay: -.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -.16s;
        animation-delay: -.16s;
    }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-moz-keyframes bouncedelay {
    0%, 80%, 100% {
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
/*-----------------END------------------------*/
/*-----------------Wizard------------------------*/
table tbody tr:hover {
    cursor: pointer;
}

.selected {
    background-color: #D9EAF6;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33.33%;
}

    /*.wizard li:after {
        content: " ";
        position: absolute;
        left: 47%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #5bc0de;
        transition: 0.1s ease-in-out;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 47%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom-color: #5bc0de;
    }*/

    .wizard .nav-tabs > li a {
        width: 70px;
        height: 70px;
        margin: 20px auto;
        margin-bottom: 40px;
        border-radius: 100%;
        padding: 0;
    }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.span-title {
    position: absolute;
    bottom: -22px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.pl-2 {
    padding-left: 2em;
}

.pr-2 {
    padding-right: 2em;
}

@media(max-width :585px) {
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 41%;
    }

    .span-title {
        position: absolute;
        bottom: -36px;
        width: 100%;
        text-align: center;
        white-space: nowrap;
    }

    .pl-2 {
        padding-left: 0;
    }

    .pr-2 {
        padding-right: 0;
    }
}
/*-----------------End Wizard------------------------*/
