@{
    ViewBag.Title = "ReOrder";
}

<form class="form-horizontal">
    <div class="form-group">
        <div id="sortTrue" class="list-group">
            @foreach (var item in ViewBag.MenuList)
            {
                <div class="list-group-item col-12" name="div_@item.MenuId">
                    <i class="@item.IconClassName"></i>@item.MainMenu &emsp; @item.Detail
                </div>
            }
        </div>
    </div>
    <div class="box-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
    </div>
</form>

@section ViewSpecificJavascript
{
    <script>
        $(document).ready(function () {
            // sort: true
            Sortable.create(sortTrue, {
                group: "sorting",
                handle: ".list-group-item",
                sort: true
            });

        });
    </script>
}