@{
    Layout = "~/Views/Shared/_LayoutForFeedback.cshtml";
}

<div class="row">

    <div class="col-xs-12 col-md-12" style="text-align:center; ">

        <img src="~/Content/img/logo.png" style="max-width: 60%; height: auto;">
    </div>
    <div class="col-xs-12 col-md-12">
        <div style="text-align:center">
            <p style="font-size:3rem;font-style:normal;  color:#337ab7;" class="box-title">@ViewBag.Msg</p>
            <br />
            <p style="font-size:2rem;color:#337ab7;margin-top:2rem" class="box-title">@Html.Raw(ViewBag.formMsg)</p>
        </div>
        <div style="text-align:center">
            <img src="~/Content/img/boyNgirl.png" style="max-width:300px;" class="responsive">
        </div>
    </div>
</div>