<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=192.168.100.6;Initial Catalog=DataCenterV1;Persist Security Info=True;User ID=sa;Password=gdiupogdUt" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApplicationService" />
        <binding name="BasicHttpBinding_IApplicationService1" />
        <binding name="BasicHttpBinding_IClaimService" />
        <binding name="BasicHttpBinding_IHCIService" />
        <binding name="BasicHttpBinding_IClaimService1" />
        <binding name="BasicHttpBinding_IClaimService2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52745/Module/App/ApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationService" contract="ApplicationService_PH.IApplicationService" name="BasicHttpBinding_IApplicationService" />
      <endpoint address="http://localhost:2080/Module/Application/ApplicationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApplicationService1" contract="ApplicationService_PA.IApplicationService" name="BasicHttpBinding_IApplicationService1" />
      <endpoint address="http://localhost:6964/Module/Claim/ClaimService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimService" contract="ClaimSeviceDataCenter.IClaimService" name="BasicHttpBinding_IClaimService" />
      <endpoint address="http://localhost:2217/Module/HospitalClaimInform/HCIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHCIService" contract="HCIService.IHCIService" name="BasicHttpBinding_IHCIService" />
      <endpoint address="http://localhost:52745/Module/Claim/ClaimService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimService1" contract="ClaimService_PH.IClaimService" name="BasicHttpBinding_IClaimService1" />
      <endpoint address="http://localhost:2217/Module/Claim/ClaimService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimService2" contract="ClaimService_HCI.IClaimService" name="BasicHttpBinding_IClaimService2" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>