@{
    ViewBag.Title = "ApplicationDetail";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet">
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.date.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.3/themes/default.time.css">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <form action="" method="POST" role="form">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                <h4>ข้อมูล Application</h4>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="txtAppID">App ID</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" name="" id="txtAppID" class="form-control" value="" required="required" pattern="" title="">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="txtAppStatus">สถานะ App</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" name="" id="txtAppStatus" class="form-control" value="" required="required" pattern="" title="">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="ddlProduct">ผลิตภัณฑ์</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <select id="ddlProduct" class="form-control" name="state">
                        <option value="502G">502 Silver</option>
                        <option value="502G">502 Gold</option>
                        <option value="502D">502 Diamond</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="txtKTBCard">เลขบัตร KTB</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" name="" id="txtKTBCard" class="form-control" value="" required="required" pattern="" title="">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <label for="">วันเริ่มคุ้มครอง</label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="text" name="" id="dtpStartCoverDate" class="datepicker" data-date-format="mm/dd/yyyy">
                </div>
            </div>
        </div>
    </form>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    @*<script src="~/Scripts/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/bootstrap-datepicker-thai.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.th.js"></script>*@
    <script src="~/Scripts/datepicker-thai/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/datepicker-thai/bootstrap-datepicker-custom.js"></script>
    <script src="~/Scripts/datepicker-thai/bootstrap-datepicker.th.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#ddlProduct').select2();

            var datepickerConfig = {
                language: 'th',
                format: 'dd/mm/yyyy',
                formatSubmit: 'yyyy/mm/dd',
                today: 'วันนี้',
                thaiyear: true
            };

            $(".datepicker").datepicker(datepickerConfig).datepicker("setDate", new Date());

            GetApplicationDetail();
        });

        function getQueryStringValue(key) {
            return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key)
                .replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
        }

        function GetApplicationDetail() {
            $('#txtAppID').val('@ViewBag.obj.App_id');
            $('#txtAppStatus').val('@ViewBag.obj.Status');
            $('#txtKTBCard').val('@ViewBag.obj.Card_no');
            $('#dtpStartCoverDate').val('@ViewBag.obj.StartCoverDate.ToString("MM/dd/yyyy")');
        }
    </script>
</body>
</html>