/*
    Font Style
*/
Table, Tr, Td {
    font: 10pt arial, tahoma, sans-serif;
    padding: 4px;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
/*
    Menu Style
*/
header1 {
    font: 10pt arial, tahoma, sans-serif;
    font-weight: bold;
    /*margin: .67em 0;
    font-size: 2em;*/
}
/*
    GridView Hover
*/
.GvGrid:hover {
    background-color: #f2eded;
    color: #CC3333;
}
/*
    GridView PagerStyle
*/
.GridViewPagerStyle {
    height: 20px;
    background-color: #F1F1F1;
}

    .GridViewPagerStyle table {
        text-align: center;
        margin: auto;
    }

        .GridViewPagerStyle table td {
            border: 0px;
            padding: 5px;
        }

    .GridViewPagerStyle td {
        color: red;
        border-top: #1d1d1d 2px solid;
    }

    .GridViewPagerStyle a {
        color: #000000;
        text-decoration: none;
        padding: 2px 10px 2px 10px;
        border-top: solid 1px #777777;
        border-right: solid 1px #333333;
        border-bottom: solid 1px #333333;
        border-left: solid 1px #777777;
    }

        .GridViewPagerStyle a:hover {
            color: #ffffff;
            font-weight: bold;
            background: #A1A1A1;
            border: solid 1px #2A4E77;
            text-decoration: none;
            text-decoration: none;
        }

.GridViewAlternatingRowStyle {
    background-color: #f6f6f6;
}

    .GridViewAlternatingRowStyle:hover {
        background-color: #f2eded;
        color: #CC3333;
    }
/*
    Modal
*/
.body {
    font-family: Arial;
    font-size: 10pt;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup {
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 10px;
    width: 300px;
}

.accordionHeader {
    background-color: #f5f5f5;
    border-color: #204d74;
    /*font: bold 11px auto "Trebuchet MS", Verdana;
    font-size: 12px;*/
    cursor: pointer;
    margin-top: 3px;
    padding: 1px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.accordionContent {
    background-color: #fff;
    /*font: normal 10px auto Verdana, Arial;*/
    border: 1px gray;
    padding: 4px;
    padding-top: 7px;
}
/*Textbox*/

/*TextUpercase LowerCase*/
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/*BOOM Input*/
/*input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url("/Image/LogoMini.png");
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

input[type=text]:focus {
    width: 100%;
}*/

/*Button Go to Top*/
.myBtnTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 60px; /* Rounded corners */
}

    .myBtnTop:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

/*Button Go to Top*/
.divTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    left: -60px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 60px; /* Rounded corners */
}