@{
    ViewBag.Title = "BarcodeGenerate";

      Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

        
 <br />
 <br />
 <br />

                    <div class="form-group">
                        <!-- C1 -->
                        <div class="col-md-6 ">
                            <h1>001</h1>
                            <div id="qrcode1"></div>
                            <svg id="barcode1" width="50px"></svg>
                        </div>

                        <div class="col-md-6 ">
                            <h1>002</h1>
                            <div id="qrcode2"></div>
                            <svg id="barcode2"></svg>
                        </div>
                    </div>

@*<h1>001</h1>
<div id="qrcode1"></div>
<svg id="barcode1" width="50px"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />

<h1>002</h1>
<div id="qrcode2"></div>
<svg id="barcode2"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />*@
<h1>003</h1>
<div id="qrcode3"></div>
<svg id="barcode3"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>004</h1>
<div id="qrcode4"></div>
<svg id="barcode4"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>005</h1>
<div id="qrcode5"></div>
<svg id="barcode5"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>006</h1>
<div id="qrcode6"></div>
<svg id="barcode6"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>007</h1>
<div id="qrcode7"></div>
<svg id="barcode7"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>008</h1>
<div id="qrcode8"></div>
<svg id="barcode8"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>009</h1>
<div id="qrcode9"></div>
<svg id="barcode9"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>010</h1>
<div id="qrcode10"></div>
<svg id="barcode10"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>011</h1>
<div id="qrcode11"></div>
<svg id="barcode11"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>012</h1>
<div id="qrcode12"></div>
<svg id="barcode12"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>013</h1>
<div id="qrcode13"></div>
<svg id="barcode13"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>014</h1>
<div id="qrcode14"></div>
<svg id="barcode14"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>015</h1>
<div id="qrcode15"></div>
<svg id="barcode15"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>016</h1>
<div id="qrcode16"></div>
<svg id="barcode16"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>017</h1>
<div id="qrcode17"></div>
<svg id="barcode17"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>018</h1>
<div id="qrcode18"></div>
<svg id="barcode18"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>019</h1>
<div id="qrcode19"></div>
<svg id="barcode19"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />
<h1>020</h1>
<div id="qrcode20"></div>
<svg id="barcode20"></svg>
<h1>------------------------------------------------------------------------------------</h1><br />



@*<div id="qrcode3"></div>
<div id="qrcode4"></div>
<div id="qrcode5"></div>
<div id="qrcode6"></div>
<div id="qrcode7"></div>
<div id="qrcode8"></div>
<div id="qrcode9"></div>
<div id="qrcode10"></div>
<div id="qrcode11"></div>
<div id="qrcode12"></div>
<div id="qrcode13"></div>
<div id="qrcode14"></div>
<div id="qrcode15"></div>
<div id="qrcode16"></div>
<div id="qrcode17"></div>
<div id="qrcode18"></div>
<div id="qrcode19"></div>
<div id="qrcode20"></div>*@

<br />

@*<input id="txtDetail" type="text" name="name" value="" />
<select id="barcodeType" title="CODE128">
    <option value="CODE128">CODE128 auto</option>
    <option value="CODE128A">CODE128 A</option>
    <option value="CODE128B">CODE128 B</option>
    <option value="CODE128C">CODE128 C</option>
    <option value="EAN13">EAN13</option>
    <option value="EAN8">EAN8</option>
    <option value="UPC">UPC</option>
    <option value="CODE39">CODE39</option>
    <option value="ITF14">ITF14</option>
    <option value="ITF">ITF</option>
    <option value="MSI">MSI</option>
    <option value="MSI10">MSI10</option>
    <option value="MSI11">MSI11</option>
    <option value="MSI1010">MSI1010</option>
    <option value="MSI1110">MSI1110</option>
    <option value="pharmacode">Pharmacode</option>
</select>
<button id="btnGenerate">Generate Barcode </button>*@


    @section scripts{
          <script>
        //barcode component = jsBarcode
        //https://github.com/lindell/JsBarcode


          


            var qrcode1 = new QRCode(document.getElementById("qrcode1"), {
                text: "",
                width: 256,
                height: 256,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
              });

  
            var qrcode2 = new QRCode(document.getElementById("qrcode2"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode3 = new QRCode(document.getElementById("qrcode3"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode4 = new QRCode(document.getElementById("qrcode4"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode5 = new QRCode(document.getElementById("qrcode5"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
              });
             var qrcode6 = new QRCode(document.getElementById("qrcode6"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode7 = new QRCode(document.getElementById("qrcode7"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode8 = new QRCode(document.getElementById("qrcode8"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode9 = new QRCode(document.getElementById("qrcode9"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode10 = new QRCode(document.getElementById("qrcode10"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode11 = new QRCode(document.getElementById("qrcode11"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode12 = new QRCode(document.getElementById("qrcode12"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode13 = new QRCode(document.getElementById("qrcode13"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode14 = new QRCode(document.getElementById("qrcode14"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
            });
            var qrcode15 = new QRCode(document.getElementById("qrcode15"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
              });
            var qrcode16 = new QRCode(document.getElementById("qrcode16"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
              });
            var qrcode17 = new QRCode(document.getElementById("qrcode17"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
              });
            var qrcode18 = new QRCode(document.getElementById("qrcode18"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
              });
            var qrcode19 = new QRCode(document.getElementById("qrcode19"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
              });
            var qrcode20 = new QRCode(document.getElementById("qrcode20"), {
            text: "",
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
              });


        Generate('', '');


        //function GenerateBarCode(detail, barcodeformat) {
        //    JsBarcode("#barcode", detail, { ean128: true });
        //}

            ////ถ้าเป็น EAN128 ให้ใช้ตัวอย่างตามนี้
            function Generate(detail, barcodeformat) {
                var x01 = "|013555100438301\r1101100011101\r581451613266\r75000";
                var x02 = "|013555100438301\r1101100011102\r5801730461763\r35000";
                var x03 = "|013555100438301\r1101100011103\r1701418027261\r114000";
                var x04 = "|013555100438302\r1101100011104\r2552221803444\r9000";
                var x05 = "|013555100438302\r1101100011105\r5738718261838\r15000";
                var x06 = "|013555100438301\r1101100011106\r3652435373758\r76000";
                var x07 = "|013555100438301\r1101100011107\r7688273317201\r3000";
                var x08 = "|013555100438303\r1101100011108\r1200137405312\r58800";
                var x09 = "|013555100438303\r1101100011109\r4630736308811\r705600";
                var x10 = "|013555100438301\r1101100011110\r4345335375248\r3000";
                var x11 = "|013555100438301\r1101100011111\r1100607745069\r6000";
                var x12 = "|013555100438301\r1101100011112\r2250450147589\r38000";
                var x13 = "|013555100438301\r1101100011113\r2222245747881\r38000";
                var x14 = "|013555100438302\r1101100011114\r2365327576748\r30000";
                var x15 = "|013555100438302\r1101100011115\r8656778108738\r15000";
                var x16 = "|013555100438304\r1101100011116\r6525144624612\r85000";
                var x17 = "|013555100438303\r1101100011117\r2163507873236\r1560059";
                var x18 = "|013555100438301\r1101100011118\r1362373104666\r30049";
                var x19 = "|013555100438302\r1101100011119\r8356606048349\r6049";
                var x20 = "|013555100438304\r1101100011120\r4063748860661\r1725050";

                JsBarcode("#barcode1", x01, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode2", x02, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode3", x03, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode4", x04, { fomat: "CODE128A", ean128: true });
                JsBarcode("#barcode5", x05, { fomat: "CODE128A", ean128: true });
                JsBarcode("#barcode6", x06, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode7", x07, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode8", x08, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode9", x09, { fomat: "CODE128A", ean128: true });
                JsBarcode("#barcode10", x10, { fomat: "CODE128A", ean128: true });
                JsBarcode("#barcode11", x11, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode12", x12, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode13", x13, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode14", x14, { fomat: "CODE128A", ean128: true });
                JsBarcode("#barcode15", x15, { fomat: "CODE128A", ean128: true });
                JsBarcode("#barcode16", x16, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode17", x17, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode18", x18, { fomat: "CODE128A", ean128: true });   //FOR EAN128
                JsBarcode("#barcode19", x19, { fomat: "CODE128A", ean128: true });
                JsBarcode("#barcode20", x20, { fomat: "CODE128A", ean128: true });


                qrcode1.makeCode(x01);
  
                qrcode2.makeCode(x02);
                qrcode3.makeCode(x03);
                qrcode4.makeCode(x04);
                qrcode5.makeCode(x05);
                qrcode6.makeCode(x06);
                qrcode7.makeCode(x07);
                qrcode8.makeCode(x08);
                qrcode9.makeCode(x09);
                qrcode10.makeCode(x10);
                qrcode11.makeCode(x11);
                qrcode12.makeCode(x12);
                qrcode13.makeCode(x13);
                qrcode14.makeCode(x14);
                qrcode15.makeCode(x15);
                qrcode16.makeCode(x16);
                qrcode17.makeCode(x17);
                qrcode18.makeCode(x18);
                qrcode19.makeCode(x19);
                qrcode20.makeCode(x20);
            }
    </script>
    


        }
  