
@{
    ViewBag.Title = "รายงานยกเลิก";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">ค้นหารายงาน</h3>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>วันที่ส่งการเงิน :</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="dtpDateFrom" data-date-language="th-th">
                            </div>
                            <!-- /.input group -->
                        </div>
                        <div class="col-sm-3">
                            <label>ถึงวันที่ :</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="dtpDateTo" data-date-language="th-th">
                            </div>
                           
                        </div>
                        <div class="col-sm-2" style="padding-top:26px;">
                            <button type="button" class="btn btn-block btn-success" id="btnExportExcel"><i class="fa fa-file-excel-o"></i>  Export To Excel </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

        $(function () {
            //Date picker
            $('#dtpDateFrom').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            }).datepicker('setDate', today)

            $('#dtpDateTo').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            }).datepicker('setDate', today)

            //Button Export
            $('#btnExportExcel').click(function (e) {
                e.preventDefault();
                //Validate
                if (Isvalidate()) {
                    //Export
                    ExportToExcel()
                }
            });

            $("#dtpDateFrom").on("change", function () {
                var dateEndString = $('#dtpDateTo').val();
                var [day, month, year] = dateEndString.split("/");
                var dateEnd = new Date(`${year}-${month}-${day}`);

                var dateStartString = $('#dtpDateFrom').val();
                var [day, month, year] = dateStartString.split("/");
                var dateStart = new Date(`${year}-${month}-${day}`);

                if (dateEnd < dateStart) {
                    debugger;
                    $('#dtpDateTo').val($('#dtpDateFrom').val());
                }
            });

        });

        const Isvalidate = () => {

            //Chk Datefrom & DateTo Is Null
            if ($('#dtpDateFrom').val() == "" || $('#dtpDateTo').val() == "") {
                swal_info("กรุณาเลือก วันที่ส่งการเงิน");
                return false;
            }

            debugger;
            var d_datefrom = moment($('#dtpDateFrom').val())._i;
            let nowDateStr = toBuddhistYear(moment(new Date()), 'DD/MM/YYYY');

            let d_dateto = moment($('#dtpDateTo').val())._i;


            let arrDateToDate = d_dateto.split(" ");
            let arrDateToDate2 = arrDateToDate[0].split("/");


            let arrNowDate = nowDateStr.split(" ");
            let arrNowDate2 = arrNowDate[0].split("/");

            let arrDatefromDate = d_datefrom.split(" ");
            let arrDatefromDate2 = arrDatefromDate[0].split("/");

            let nowDate = new Date(parseInt(arrNowDate2[2]) - 543, parseInt(arrNowDate2[1]) - 1, parseInt(arrNowDate2[0]));
            let datefromDate = new Date(parseInt(arrDatefromDate2[2]) - 543, parseInt(arrDatefromDate2[1]) - 1, parseInt(arrDatefromDate2[0]));

            let dateToDate = new Date(parseInt(arrDateToDate2[2]) - 543, parseInt(arrDateToDate2[1]) - 1, parseInt(arrDateToDate2[0]));


            //Chk Datefrom > DateTime Now
            if (datefromDate > nowDate) {
                swal_info("กรุณาตรวจสอบ วันที่ส่งการเงิน");
                return false;
            }


            if (datefromDate > dateToDate) {
                swal_info("กรุณาตรวจสอบ ช่วงวันที่ ");
                return false;
            }


            return true;
        }

        const ExportToExcel = () => {
             loadingSpinner('fadeIn');
            $.ajax({
                url: "@Url.Action("ExportCancelledClaimPayBack", "ClaimPayBack")",
                type: "POST",
                data: {
                    dateFrom: $('#dtpDateFrom').val(),
                    dateTo: $('#dtpDateTo').val(),
                    branchId: '@ViewBag.BranchIdLogin',
                },
                success: function (response) {
                    if (!response.isError) {
                        window.location = "@Url.Action("ExportCancelledDownload", "ClaimPayBack")";
                        loadingSpinner('fadeOut');
                    }
                    else
                    {
                        swal('เกิดข้อผิดพลาด !', response.Msg, 'error');
                        loadingSpinner('fadeOut');
                    }
                }
            });
        }

        function toBuddhistYear(moment, format) {
            var christianYear = moment.format('YYYY')
            var buddhishYear = (parseInt(christianYear) + 543).toString()
            return moment
                .format(format.replace('YYYY', buddhishYear).replace('YY', buddhishYear.substring(2, 4)))
                .replace(christianYear, buddhishYear)
        }

    </script>
}
