/*body{
    font-family:'Angsana New' !important;
}*/

.error {
    color: #dd4b39;
    font-weight: 400;
    border-color: #dd4b39;
}

thead, th {
    text-align: center;
}

/* OR */

.table thead,
.table th {
    text-align: center;
}

td.dt-center {
    text-align: center;
}

td.dt-right {
    text-align: right;
}

.text-wordwrap {
    word-wrap: break-word;
}

.text-center {
    text-align: center;
}

.text-font-color-blue {
    color: #4fc3f7;
}

.text-font-color-black {
    color: #6D6C6C;
}

.text-padding {
    padding: 10px;
}

.btn-blue {
    background-color: #4fc3f7;
    padding: 4px 2px;
    color: #fff;
    font-weight: bold;
}

.input-margin {
    margin: 0 600px 10px 600px;
}

.btn-search-tax {
}

.btn-back {
    padding: 4px 20px;
    color: #fff;
    box-shadow: none;
    border: 1px solid transparent;
}

.btn-back-lineblue {
    padding: 4px 29px;
    color: #4fc3f7;
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #4fc3f7;
}

.btn-next {
    padding: 4px 29px;
    border-radius: 15px;
    background-color: #4fc3f7;
    color: #fff;
    box-shadow: none;
    border: 1px solid transparent;
}

.btn-line {
    background-color: #32cd32;
    color: white;
    padding: 4px 7px;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /*vertical-align:top;*/
    display: inline-block;
    position: relative;
}

.icon-line {
    /*font-size: 35px;*/
    color: #fff;
    vertical-align: text-top;
    text-align: center;
    /*width: 42px;*/
    background-image: url("../img/line-logo_2.png");
}

.warning-icon {
    color: #F99E9E;
    text-align: center;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 65px;
}

.success-icon {
    color: #7DCEA0;
    text-align: center;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 65px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.responsive {
    width: 100%;
    max-width: 130px;
    height: auto;
}

.grad {
    /*height: auto;*/
    background-color: #4fc3f7; /* For browsers that do not support gradients */
    background-image: linear-gradient(#4fc3f7, #fff, #4fc3f7); /* Standard syntax (must be last) */
}

.siamsmile-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
}

.fontKanit {
    font-family: 'Kanit', sans-serif;
}

.btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    line-height: 38px;
    font-size: 1.6em;
    text-align: center;
    border-right: 0px solid rgba(0, 0, 0, 0.2);
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .dataTables_length {
        display: none !important;
    }

    .subject_date {
        display: inline-block !important;
        font-size: 65% !important;
    }

    .dot_status {
        display: block !important;
    }

    .status_label {
        display: none !important;
    }

    table {
        font-size: 14px;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    .info-box {
        min-height: 120px !important;
    }

    .info-box-text {
        font-size: 18px !important;
    }

    .badge, .none-badge, .info-box-number {
        font-size: 11px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: left !important;
    }

    .input-margin {
        margin: 0 auto 10px auto;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    table {
        font-size: 12px;
    }

    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    .info-box {
        min-height: 100px !important;
    }

    .info-box-text {
        font-size: 16px !important;
    }

    .badge, .none-badge, .info-box-number {
        font-size: 8px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: left !important;
    }

    .input-margin {
        margin: 0 auto 10px auto;
    }
}

@media only screen and (max-width : 1024px) {
    table {
        font-size: 12px;
    }

    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    .info-box {
        min-height: 100px !important;
    }

    .info-box-text {
        font-size: 16px !important;
    }

    .badge, .none-badge, .info-box-number {
        font-size: 8px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: left !important;
    }

    .input-margin {
        margin: 0 300px 10px 300px;
    }

   
}

@media only screen and (width: 280px) {
    .siamsmile-footer {
        position:absolute;
        bottom: auto;
    }
    strong{
        font-size: 12px;
    }
}

