
@{
    ViewBag.Title = "TaxCustomer";
    Layout = "~/Views/Shared/_LayoutForTaxCustomer.cshtml";
}

<div class="row">
    <div class="col-xs-12">

        <div class="panel panel-default">

            <div class="panel-body text-wordwrap">
                <div class="row text-center text-font-color-blue" style="font-size:22px;">
                    บริษัท สยามสไมล์ โบรกเกอร์ (ประเทศไทย) จำกัด
                </div>
                <div class="row text-font-color-black " style="font-size:16px;">
                    <p style="text-indent:2.5em" class="text-padding">ท่านสามารถแจ้งความประสงค์ในการใช้สิทธิขอยกเว้นภาษีเงินได้ตามกฎหมายว่าด้วยภาษีอากรและยินยอมให้บริษัทเปิดเผยข้อมูลเกี่ยวกับเบี้ยประกันภัยต่อกรมสรรพากร</p>
                </div>

                <div class="row text-center text-padding">
                    @*<div class="col-xs-4 col-xs-offset-4">

                        </div>*@

                    <button style="width:auto; text-decoration:none; border-radius:15px; background-color:#4fc3f7; border-color:#4fc3f7;" class="btn btn-primary" id="btnStartTax">เริ่มทำรายการ</button>
                </div>
            </div>
        </div>


    </div>
</div>

@section ViewSpecificJavascript
{
    
    <script type="text/javascript">
        $(function () {

            $('#btnStartTax').click(function (e) {  
                e.preventDefault();
                window.location.href = "@Url.Action("TaxCustomerSearch", "TaxCustomer")";
            });
        });
    </script>

}
