@{
    Layout = "~/Views/Shared/_LayoutNoTitle.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="col-sm-12 col-md-12">
                    <div class="box box-solid">
                        <div class="row" style="background-color: #f7f7f7; text-align: left; padding: 5px 5px; margin-top: 0;">
                            <div class="col-sm-12">
                                <h4 style="font-size: 20px; font-weight: bold;">ส่งข้อความ</h4>
                                <hr />
                            </div>
                            <div class="form-group col-md-12 col-sm-12">
                                <div class="col-md-3">
                                    <label class="title1">ประเภทข้อความ :</label>
                                    <select id="select_type" name="select_type" class="form-control select2" style="width: 100%;">
                                        @foreach (var i in @ViewBag.ComunicateType)
                                        {
                                            if (@i.ComunicateTypeID != 1)
                                            {
                                                <option value="@i.ComunicateTypeID">@i.ComunicateTypeName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="DCRDate"><span style="color: red">*</span>งวดคุ้มครอง</label>
                                    <input type="text" class="form-control" id="DCRDate" name="DCRDate" data-date-language="th-th" data-provide="datepicker" required="required" />
                                </div>
                                <div class="col-md-2">
                                    <label class="title1"><span style="color: red">*</span>จำนวนที่ต้องการส่ง</label>
                                    <select id="select_top" style="width: 100%" class="form form-control">
                                        <option value="100">100</option>
                                        <option value="300">300</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                                <div class="col-md-1" style="margin-top: 25px">
                                    <button id="btn_show" style="width: 100%" class="form-control btn btn-warning">แสดง</button>
                                </div>
                                <div class="col-md-2" style="margin-top: 25px">
                                    <button id="btn_preview" style="width: 100%" class="form-control btn btn-info">ดูตัวอย่าง</button>
                                </div>
                                <div class="col-md-2" style="margin-top: 25px">
                                    <button id="btn_send" style="width: 100%" class="form-control btn btn-success"><i class="fa fa-paper-plane"></i>ส่งข้อความ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <table id="datatable_detail" class="table table-bordered table-striped" style="width: 100%"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section ViewSpecificJavascript
{
    <script>
        var tempId;
        $(function () {
            $('#DCRDate').datepicker({
                format: 'MM yyyy',
                viewMode: "months",
                minViewMode: "months",
                autoclose: true
            });

            $('#DCRDate').on('change', function (e) {
                var sss = moment($('#DCRDate').datepicker('getDate'))._d;
                let yearBE = sss.getFullYear() + 543;
                let sssBE = moment(sss.setFullYear(yearBE)).format("DD/MM/YYYY");
                console.log(sssBE);
            });
        });
    </script>
}