#logo{
    text-align : center;
    margin-top : 50px;
}

#ImageLogo{
    width : 150px;
}

#ImageBarcode{
    width : 320px;
    height : 80px;
    padding : 10px 10px 10px 10px;
}

.tableDetail{
    width : 320px;
    border : 1px solid #ddd;   
    margin : 8px auto;
}

.lbRight{
    float : right;
}

.lbLeft{
    float : left;
    font-size : 20px;
    font-weight : bold;
}

#textDetail{
    font-size : 20px;
}

#cellBarcode{
    padding : 15px 0px 10px 0px;
}

#cellDetail{
    padding : 7px 7px 7px 7px;
}

#textWarning{
    margin : 40px 5px 50px;
    font-size : 10px;
}

#ImageLogo2{
    width : 60px;
    float : right;
}

.lbRightVar{
    float : right;
    font-size : 18px;
}

.lbLeftVar{
    /*float : left;*/
    font-size : 18px;
    font-weight : bold;
}

#barcodeValue{
    margin-top : 20px;
}