@{
    ViewBag.Title = "New Model";
}
<style>
    .fakey {
        border: solid 1px;
        color: gray;
        font-family: sans-serif;
        font-size: .9em;
    }

        .fakey input {
            border: none;
            outline: none;
            font-family: sans-serif;
            font-size: .9em;
            color: black;
            width: 200px;
        }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <!-- /.box-header -->
            <div class="box-body">
                <div id="form1_msg" class="alert alert-danger alert-dismissible" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                    กรุณากรอกข้อมูลให้ถูกต้องและครบถ้วน
                </div>
                <!-- form start -->
                <form class="form-horizontal" id="form1" action="@Url.Action("NewModel")" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        @* Type *@
                        <div class="form-group">
                            <label for="ModelType" class="col-sm-2 control-label">ประเภท</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" name="ModelType" id="ModelType" required="required" style="width: 100%;">
                                    <option value="Calculation">Calculation</option>
                                    <option value="Report">Report</option>
                                </select>
                            </div>
                        </div>
                        @*Name*@
                        <div class="form-group">
                            <label for="ModelName" class="col-sm-2 control-label">Model Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="checkModelName form-control" placeholder="Model Name" name="ModelName" required="required" id="ModelName">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" align="center">
                        <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-times"></i> Back</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i>  Next </button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

@section ViewSpecificJavascript{
    <script>
        $(function () {
            $('#form1').validate();
            //Initialize Select2 Elements
            $('.select2').select2();

            $(".datepicker").datepicker();

            //TODO: เช็คชื่อซ้ำ
            $("#form1").validate({
                rules: {
                    Name: { required: true, checkSpecialCha: true, checkModelName: true }

                },
                invalidHandler: function (e, r) {
                    $("#form1_msg").css('display', 'block');
                },
                submitHandler: function (e) {
                    e.preventDefault();
                }
            });
        });
    </script>
}