.error {
    color: #dd4b39;
    font-weight: 400;
    border-color: #dd4b39;
}

thead, th {
    text-align: center;
}

/* OR */

.table thead,
.table th {
    text-align: center;
}

td.dt-center {
    text-align: center;
}

td.dt-right {
    text-align: right;
}