@{
    ViewBag.Title = "PDPADetail";
    Layout = "~/Views/Shared/_LayoutForPDPA.cshtml";
}

<form>
    <div class="row">
        <div class="col-xs-12">

            <div id="divDetail" style="display:block">
                <div class="row">
                    <div class="col-xs-12" style="text-align:center; font-size:18px">
                        <span>นโยบายการคุ้มครองข้อมูลส่วนบุคคลสำหรับผู้รับบริการรายเก่า</span>
                    </div>
                </div>

                <div class="row" style="padding-top:15px">
                    <div class="col-xs-12" style="text-indent: 50px;">
                        <span>บริษัทขอแจ้งเรื่องมาตรการรักษาความมั่นคงปลอดภัย เพื่อคุ้มครองการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของผู้รับบริการ ซึ่งมีผู้รับบริการที่เกี่ยวข้อง และรายละเอียดดังนี้</span>
                    </div>
                </div>

                <div class="row" style="padding-top:15px">
                    <div class="col-xs-12" style="text-align:center">
                        <button class="btn-next" type="button" style="" id="btnReadDetail">อ่านรายละเอียด</button>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top:15px">
                <div class="col-xs-12" style="text-align:center">
                    <button class="btn-back-lineblue" type="button" style="border-radius:15px;" id="btnback">ย้อนกลับ</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfReference" value="@ViewBag.Reference" />
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            $('#btnReadDetail').click(function (e) {
                e.preventDefault();
                window.open(
                    'https://ssml.cc/PDPA/PDPA.pdf',
                    '_blank' // <- This is what makes it open in a new window.
                );
            });

            $('#btnback').click(function (e) {
                e.preventDefault();
                let encode_reference = window.btoa($('#hdfReference').val())
                window.location.href = `@Url.Action("Confirm")/${encode_reference}`;
            });
        });
    </script>
}