/*Boom*/
.modal-header {
    background-color: #337ab7;
    color: white;
}

.error {
    color: red;
}

.bgButton {
    text-align: center;
    background-color: #337ab7;
    cursor: pointer;
    /*height: 69px;*/
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 50px;
}

.btnNext {
    padding: 10px;
    font-size: 25px;
    color: #fff;
    background-color: #337ab7;
    border-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.form-control {
    /*font-size: smaller;*/
}

.Acontroldetail {
    /*margin-top: 5px;
    padding-left: 2px;
    padding-right: 2px;*/
}

.labelheader {
    /*padding-right: 3px;
    padding-left: 3px;
    margin-top: 15px;
    font-size: smaller;*/
    text-align: right;
}

.labeldetail {
    /*padding-right: 3px;
    padding-left: 3px;
    margin-top: 15px;*/
    font-size: smaller;
    text-align: left;
}

.Abuttonhoverlink {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: small;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .Abuttonhoverlink span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .Abuttonhoverlink span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .Abuttonhoverlink:hover span {
        padding-right: 25px;
    }

        .Abuttonhoverlink:hover span:after {
            opacity: 1;
            right: 0;
        }

.buttonhover span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .buttonhover span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.buttonhover:hover span {
    padding-right: 25px;
}

    .buttonhover:hover span:after {
        opacity: 1;
        right: 0;
    }
/*Bell*/

.Asetpadding {
    padding-right: 3px;
    padding-left: 3px;
}

.Asetmarginlabel {
    margin-top: 5px;
}

.Asetmarginformcontrol {
    margin-top: 5px;
}

/*.col-form-label {*/
/*    font-size: small;*/
/*}*/

.setright {
    text-align: right;
}

.setleftt {
    text-align: left;
}
/*ADD 16082018*/
body {
    font-family: 'Pridi', serif !important;
}

.menu {
    text-align: center;
    background-color: #00ADEF;
    cursor: pointer;
    color: white;
    height: 70px;
    border: 1px white solid;
}

#sales {
    background-color: #80D6F9;
}

.menu > label {
    padding-top: 10px;
    font-size: 30px;
}

#profile {
    height: 200px;
    padding: 20px 20px 20px 20px;
    background-color: #EBF4FD;
}

#image {
    width: 160px;
    background-color: white;
    display: table-cell;
}

#imgprofile {
    padding: 20px;
    width: 100%;
}

#detail {
    vertical-align: top;
    display: table-cell;
    font-size: 20px;
    padding: 16px 16px 16px 40px;
}

/* td > label{
            padding-left: 30px;
            font-size: 16px;
            font-weight: normal;
        } */

#performance {
    font-size: 20px;
    font-weight: bold;
}

#dcr {
    font-size: 20px;
    text-align: right;
}

#row3 {
    height: 60px;
    padding-top: 18px;
}

#dcr-month {
    width: 180px;
    display: table-cell;
}

#row4 {
    height: 100px;
    background-color: #00ADEF;
}

#imagemenu {
    text-align: center;
}

    #imagemenu > img {
        display: inline-block;
        width: 90px;
        margin: 5px 0px 5px 5px;
    }

img {
    display: inline-block;
    width: 90px;
    margin: 5px 0px 5px 5px;
}

#grading {
    background-color: #1C5078;
    color: white;
    height: 40px;
    display: table-cell;
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
}

#rating {
    width: 100%;
    text-align: center;
}

#star {
    width: 10px;
}

#tablegrade {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.trgrade > td {
    padding: 10px;
}

.parameter {
    color: #1A4F7A;
    font-weight: bold;
    font-size: 20px;
}

.grade {
    font-weight: bold;
}

#icon {
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

    #icon > table > tbody > tr > td {
        padding-left: 27px;
    }

.img-icon {
    width: 80px;
    display: table-cell;
    /* margin-left: 26px; */
    margin-left: 0px;
}

.icon-menu {
    height: 100%;
    /* display: inline-block; */
    display: table-cell;
    position: static;
    vertical-align: middle;
}

.icon-noti {
    display: table-cell;
    position: relative;
    right: 26px;
}

.badge {
    font-size: 23px !important;
    position: relative !important;
    top: -84px !important;
    left: 27px !important;
    background-color: red !important;
}

#error-text {
    text-align: center;
    position: absolute;
    top: 402px;
    left: 45.5%;
    font-size: 25px;
}

#modal-icondetail > div > div {
    width: 48em;
    right: 35px;
}

.modal-header {
    background-color: #06b6f9;
}

#datatable1 > thead > tr > th {
    background-color: lightskyblue;
}

.chart {
    /*border: 1px solid black;*/
    margin-top: 22px;
    background-color: #ebfafa;
}

/*#dcr1 {
                    margin: 54px 0px;
                }

                #dcr2 {
                    margin: 73px 0px;
                }

                #dcr3 {
                    margin: 17px 0px;
                }

                #dcr4 {
                    margin: 95px 0px 0px 0px;
                }*/

#dcr1 {
    margin: 10px 0px 0px 0px;
}

#dcr2 {
    margin: 10px 0px 0px 0px;
}

#dcr3 {
    margin: 10px 0px 0px 0px;
}

#dcr4 {
    margin: 10px 0px 0px 0px;
}

table {
    text-align: center !important;
}

th {
    text-align: center !important;
}

.graphname-label {
    font-size: 20px;
    /*margin-left: 20px;*/
}

.dateupdate-label {
    /*margin-left: 55px;*/
    font-size: 17px;
    margin-top: 3px;
    color: gray;
}

.headgraph-table {
    background-color: #00ADEF;
}

#tableRanking > thead > tr:nth-child(1) > td:nth-child(1) {
    background-color: #f0f07d;
}

#tableRanking > thead > tr:nth-child(1) > td:nth-child(2) {
    background-color: #ffbe7d;
}

#tableRanking > thead > tr:nth-child(1) > td:nth-child(3) {
    background-color: #f27d60;
}

#tableRanking > tbody > tr:nth-child(1) > td:nth-child(1) {
    background-color: #f8f8b6;
    border-top: none;
}

#tableRanking > tbody > tr:nth-child(1) > td:nth-child(2) {
    background-color: #ffdab5;
    border-top: none;
}

#tableRanking > tbody > tr:nth-child(1) > td:nth-child(3) {
    background-color: #fda690;
    border-top: none;
}

#tableRanking > tbody > tr:nth-child(1) {
    border: 0px;
}

/*#dcr1 > table > thead > tr > th:nth-child(1){
            background-color: #80D6F9;
        }*/

.table-detail {
    margin-top: 20px;
}

.table-head {
    background-color: #80D6F9;
}

/* Loading Spinner */
#loading {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    background: rgba(255,255,255,0.5);
    /* display: none; */
}

.spinner {
    margin: 0;
    width: 70px;
    height: 18px;
    margin: -35px 0 0 -9px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #00bfff;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -.32s;
        animation-delay: -.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -.16s;
        animation-delay: -.16s;
    }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-moz-keyframes bouncedelay {
    0%, 80%, 100% {
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
/*-----------------END------------------------*/