@{
    ViewBag.Title = "รายงานการคืนเงิน";
}
<div class="row">
    @* search *@
    <div id="Search_form" class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group row">
                    <div class="col-xs-10 col-md-offset-1 col-md-3">
                        <label class="control-label" for="">ช่วงวันที่บันทึกขอคืนเงิน :</label>
                        <input type="text" class="form-control pull-right" name="fromDate" id="fromDate"
                               data-date-language="th-th" data-provide="datepicker">
                    </div>
                    <div class="col-xs-10 col-md-3">
                        <label class="control-label" for="">ถึงช่วงวันที่ :</label>
                        <input type="text" class="form-control pull-right" name="toDate" id="toDate"
                               data-date-language="th-th" data-provide="datepicker">
                    </div>
                    <div class="col-xs-2 col-md-2" style="margin-top: 25px">
                        <button type="button" id="btnExport" class="btn btn-block btn-success">Export Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end form *@
</div>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            //set date default && fromDate month -1
            var d = new Date();
            d.setMonth(d.getMonth() - 1);
            $('#fromDate').datepicker({ format: 'dd MM yyyy', autoclose: true }).datepicker("setDate", d);
            $('#toDate').datepicker({ format: 'dd MM yyyy', autoclose: true }).datepicker("setDate", new Date());

            $('#btnExport').click(function (e) {
                DownloadExcel();
            });
        });

        const DownloadExcel = () => {
            //set dateFrom
            var dateFrom = $('#fromDate').datepicker('getDate');
            //console.log(dateFrom);
            //console.log(dateFrom.getFullYear());
            //var addfirstdateFrom = new Date(dateFrom.getFullYear(), dateFrom.getMonth(), 1);
            var dateFromSelected = new Date(dateFrom.getFullYear(), dateFrom.getMonth(), dateFrom.getDate());
            var dateFromConvert = moment(dateFromSelected).format('DD-MM-YYYY');
            // set dateTo
            var dateTo = $('#toDate').datepicker('getDate');
            //var addfirstdateTo = new Date(dateTo.getFullYear(), dateTo.getMonth(), 1);
            var dateToSelected = new Date(dateTo.getFullYear(), dateTo.getMonth(), dateTo.getDate());
            var dateToConvert = moment(dateToSelected).format('DD-MM-YYYY');

            window.location.href = `@Url.Action("ExportExcelReport","RefundPayment")?dateFrom=` + dateFromConvert + `&dateTo=` + dateToConvert;
        }
    </script>
}