@{
    ViewBag.Title = "Index";
}

<h2>SSO Document</h2>

<div class="box-body">
    <div class="form-group">
        @Html.ActionLink("Download Manual", "DownloadSSOManual", new { })
    </div>
</div>