@{
    Layout = "~/Views/Shared/_LayoutForTop.cshtml";
}
<div style="padding-top:50px">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <span class="info-box-number">กรุณาเลือกระบบเพื่อเข้าใช้งาน</span>
            <br />
        </div>
        <div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box div_hover" onclick="window.location.href='@Url.Action("IndexDirector","Home")';">
                <span class="info-box-icon bg-green"><i class="fa fa-phone"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">คัดกรอง<br />(สำหรับ ผอ.พท.)</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box div_hover" onclick="window.location.href='@Url.Action("IndexCM","Home")';">
                <span class="info-box-icon bg-aqua"><i class="fa fa-pen"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number">พิจารณาผลการคัดกรอง<br />(สำหรับประธานสาขา)</span>
                </div>
            </div>
        </div>
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>
    </div>
</div>