h1 {
    text-align : center;
    padding-top : 60px;
}
.browse{
    text-align : center;
}
.import{
    text-align : center;
}
.export{
    text-align : center;
}

.value{
    padding-left : 240px;
}
.browse{
    padding-top : 50px;
}
.import{
    padding-top : 40px;
}
.export{
    padding-top : 40px;
}
#valuetable{
    padding-left : 20px;
}


