.head{
    text-align : center;
    margin-top : 10px;
}

#costtable{
    margin-top : 10px;
}
.td1{
    margin : auto;
    margin-top : 220px;
    width : auto
}
fieldset{
    width : 200px;
}
.td2{
    width: 241px;
    margin-top : 185px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
.gridview{
    width : 100%;
}

th{
    text-align:center;
}

#ContentPlaceHolder1_insertbtn{
    margin-left : 100px;
}
