@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container body-content">
    <h2>ร่วมงานกับเรา</h2>
    <br />
    <fieldset>
        <legend>ข้อมูลส่วนตัว</legend>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">คำนำหน้า</label>
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ชื่อ</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">นามสกุล</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ชื่อเล่น</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ว/ด/ป เกิด</label>
                        <input type="date" name="startCoverDate" id="startCoverDate" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">อายุ</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">เบอร์โทร</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">อีเมล</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <legend>ที่อยู่</legend>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">เลขที่</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">หมู่ที่</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">หมู่บ้าน</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ซอย</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ถนน</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ตำบล</label>
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">อำเภอ</label>
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">จังหวัด</label>
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">รหัสไปรษณีย์</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <legend>ข้อมูลการศึกษา</legend>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">วุฒิการศึกษา</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">สาขา</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">คณะ</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">มหาวิทยาลัย</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">เกรด</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ปีที่จบ</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <legend>ประสบการณ์ทำงาน</legend>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ตั้งแต่</label>
                        <input type="date" name="startCoverDate" id="startCoverDate" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ถึง</label>
                        <input type="date" name="startCoverDate" id="startCoverDate" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">บริษัท</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ตำแหน่ง</label>
                        <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">รายละเอียด</label>
                        <textarea class="form-control" id="textarea" name="textarea" placeholder="โปรดระบุ"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div align="center"><button id="singlebutton" name="singlebutton" class="btn btn-primary">เพิ่มข้อมูล</button></div>
        <br />
        <br />
        <legend>ความรู้ความสามารถเพิ่มเติม</legend>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <label class="col-sm-4 col-lg-4 control-label">ภาษาไทย</label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios1">
                            <input type="radio" name="group1" id="radios1" value="1">
                            ดี
                        </label>
                        <label class="radio-inline" for="radios2">
                            <input type="radio" name="group1" id="radios2" value="2">
                            ปานกลาง
                        </label>
                        <label class="radio-inline" for="radios3">
                            <input type="radio" name="group1" id="radios3" value="3">
                            พอใช้
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <label class="col-sm-4 col-lg-4 control-label">อังกฤษ</label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios4">
                            <input type="radio" name="group2" id="radios4" value="1">
                            ดี
                        </label>
                        <label class="radio-inline" for="radios5">
                            <input type="radio" name="group2" id="radios5" value="2">
                            ปานกลาง
                        </label>
                        <label class="radio-inline" for="radios6">
                            <input type="radio" name="group2" id="radios6" value="3">
                            พอใช้
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 10px;"></div>
        <label class="col-sm-4 col-lg-4 control-label">อื่นๆ <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md"></label>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios7">
                            <input type="radio" name="group3" id="radios7" value="1">
                            ดี
                        </label>
                        <label class="radio-inline" for="radios8">
                            <input type="radio" name="group3" id="radios8" value="2">
                            ปานกลาง
                        </label>
                        <label class="radio-inline" for="radios9">
                            <input type="radio" name="group3" id="radios9" value="3">
                            พอใช้
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-sm-4 col-lg-4 control-label" for="appStatus">ทักษะอื่นๆ</label>
                        <textarea class="form-control" id="textarea" name="textarea" style="width: 500px;" placeholder="โปรดระบุ"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <legend>แนบไฟล์ CV หรือเอกสารประกอบการสมัคร</legend>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="col-md-4">
                            <input id="filebutton" name="filebutton" class="input-file" type="file">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div align="center"><button id="singlebutton" name="singlebutton" class="btn btn-primary">บันทึกข้อมูลสมัครงาน</button></div>
    </fieldset>
</div>