@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container body-content">
    <form class="form-horizontal">
        <fieldset>
            <h2>แนะนำติชม</h2>
            <br />
            <!-- Form Name
            <legend>Form Name</legend> -->
            <!-- Multiple Radios (inline) -->
            <div class="form-group">
                <div style="text-align: center">ทุกคำแนะนำและติชมของท่าน เป็นประโยชน์เพื่อในการปรับปรุงการบริการให้ดียิ่งขึ้นรบกวนท่านเลือกหัวข้อสำหรับการแนะนำ/ติชมและกรอกข้อมูลในช่องด้านล่างให้ครบถ้วนด้วยค่ะ</div>
            </div>
            <fieldset id="group1">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="radios"></label>
                    <div class="col-md-4">
                        <label class="radio-inline" for="radios-0">
                            <input type="radio" name="group1" id="radios-0" value="1" checked="checked">
                            ร้องเรียน
                        </label>
                        <label class="radio-inline" for="radios-1">
                            <input type="radio" name="group1" id="radios-1" value="2">
                            ชมเชย
                        </label>
                        <label class="radio-inline" for="radios-2">
                            <input type="radio" name="group1" id="radios-2" value="3">
                            สอบถาม
                        </label>
                        <label class="radio-inline" for="radios-3">
                            <input type="radio" name="group1" id="radios-3" value="4">
                            แนะนำ
                        </label>
                    </div>
                </div>
            </fieldset>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">เกี่ยวกับเรื่อง</label>
                <div class="col-md-4">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">ชื่อ-­นามสกุล*</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">เบอร์โทร*</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">อีเมล*</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="โปรดระบุ" class="form-control input-md">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textarea">ข้อความและคําแนะนำ</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="textarea" name="textarea" placeholder="โปรดระบุ"></textarea>
                </div>
            </div>

            <!-- Multiple Radios -->
            <fieldset id="group2">
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <div class="radio">
                            <label for="rdo1">
                                <input type="radio" name="group2" id="rdo1" value="1" checked="checked">
                                แจ้งความประสงค์ให้เจ้าหน้าที่ติดต่อกลับ
                            </label>
                        </div>
                        <div class="radio">
                            <label for="rdo2">
                                <input type="radio" name="group2" id="rdo2" value="2">
                                ไม่ประสงค์ให้เจ้าหน้าที่ติดต่อกลับ
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- File Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="filebutton">แนบไฟล์ (เพิ่มเติม)</label>
                <div class="col-md-4">
                    <input id="filebutton" name="filebutton" class="input-file" type="file">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">ส่งข้อความ</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>