.table-hover {
    cursor: pointer;
}

th.th-center {
    text-align: center;
}

th.th-left {
    text-align: left;
}

th.th-right {
    text-align: right;
}

td.td-center {
    text-align: center;
}

td.td-left {
    text-align: left;
}

td.td-right {
    text-align: right;
}

td.selected {
    font-weight: bold;
    background-color: #8EDCF8;
}

td.td-center-checkbox {
    vertical-align: middle !important;
    text-align: center;
}

.table {
    font-size: 14px;
}

input[type=checkbox] {
    transform: scale(2);
}

th.nosort {
    padding-right: 8px !important;
}

    th.nosort.sorting_asc::after {
        content: "" !important;
    }