<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet" />
    <!--- Template หลัก อย่าแก้ !! --->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Sarabun", sans-serif;
            font-size: 12pt;
        }

        .footer {
            position: fixed;
            width: 100%;
            bottom: 0;
        }

        .footer-block {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 50;
        }

        .footer-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            content: url("/Content/img/endpdfform.jpg");
        }
    </style>
</head>

<body>
    <div class="footer">
        <div class="footer-block">
            <!-- ใส่ Footer ตรงนี้ -->
        </div>
        <div class="footer-bg"></div>
    </div>
</body>

</html>