<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet" />
    <!--- Template หลัก อย่าแก้ !! --->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: "Sarabun", sans-serif;
            font-size: 12pt;
        }

        .header,
        .header-space {
            height: 4cm;
        }

        .header-block {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 50;
        }

        .header-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            content: url("/Content/img/headpdfform.jpg");
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="header-block">
            <!-- ใส่ Header ตรงนี้ -->
        </div>
        <div class="header-bg"></div>
    </div>
</body>

</html>