@{
    /**/

    ViewBag.Title = "Error";
}

<div class="error-page">

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> เตือน!!.</h3>

        <p>
            <h2 class="text-red">ไม่พบหน้าที่ต้องการค้นหา</h2>
        </p>

        <a href="@Url.Action("PayPeriodMain", "Compensation")" class="btn btn-default" role="button">กลับสู่หน้าหลัก</a>
    </div>
</div>