<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright © 2017-2021 <a href="https://www.siamsmile.co.th" target="_blank">SiamSmile</a>-</strong> ฝ่ายพัฒนาระบบ , Call Center 1434 และ 0-2533-3999
</footer>