<?xml version="1.0"?>
<configuration>
  <location path="frmAppDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUser"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageProduct.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageProductAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageBenefit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageBenefitAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageProductBenefit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageProductBenefitAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleBrand.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleBrandAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleModel.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleModelAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleSegment.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleSegmentAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleType.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManageVehicleTypeAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmSearchApplication.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUser"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmShowDetailByEmpID.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUser"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmMotorUnderwrite.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUser"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmApproveNewApp.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmManagePersonAddEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmAddEditAppCustomer.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmAddEditAppPayer.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmAddEditAppProduct.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmAddEditAppOther.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmAddEditApplicationComfirmed.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmReportNewApplication.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmImportFilePolicy.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="frmChangePassword.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser"/>
        <allow roles="MotorDeveloper"/>
        <allow roles="MotorUnderwrite"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
