.error {
    color: red;
    font-size: 12px !important;
}

.main-header .logo {
    height: 60px !important;
}

/*button*/
.btn-success, .btn-primary, .btn-info, .btn-warning, .btn-danger, .btn-default, .btn-block, .btn-lg {
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 7px -5px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    border-radius: 7px !important;
    border: 0px solid !important;
}