@{
    ViewBag.Title = "BillPaymentRenew";
}

<form>
    <div class="box box-primary">
        <div class="box-body">
            <div class="form-group">
                <fieldset>
                    <legend>ค้นหา</legend>
                    <div class="col-sm-3">
                        <label class="control-label">ApplicationID</label>
                        <input class="form-control" id="textSearchAppId" name="textSearchAppId" type="text" required />
                    </div>
                    <div class="col-sm-3" style="padding-top:26px;">
                        <button id="btnSearch" type="button" class="btn btn-primary" style="width: 80px;"><i class="fa fa-search"></i> ค้นหา</button>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset>
                    <legend>รายละเอียด</legend>
                    <div>
                        <table id="tableDetail" class="table table-bordered table-striped display responsive" style="width:100%;">
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetailLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalDetailLabel">รายละเอียด</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row" style="margin-left:0;margin-right:0">
                    <div class="col-md-6">
                        <label>ApplicationID : &nbsp</label>&nbsp;<span id="txtAppId"></span>
                    </div>
                    <div class="col-md-6">
                        <label>วันที่คุ้มครอง : </label>&nbsp;<span id="txtStartCoverDate"></span>
                    </div>
                </div>

                <div class="form-group row" style="margin-left:0;margin-right:0">
                    <div class="col-md-6">
                        <label>ชื่อ-สกุล ผู้ชำระเบี้ย : </label>&nbsp;<span id="txtPayerName"></span>
                    </div>
                    <div class="col-md-6">
                        <label>เบอร์โทร : </label>&nbsp;<span id="txtPayerMobile"></span>
                    </div>
                </div>

                <div class="form-group row" style="margin-left:0;margin-right:0">
                    <div class="col-md-6">
                        <label>สาขา : </label>&nbsp;<span id="txtPayerBranch"></span>
                    </div>
                    <div class="col-md-6">
                        <label>เขตพื้นที่การศึกษา : </label>&nbsp;<span id="txtPayerStudyArea"></span>
                    </div>
                </div>

                <div class="form-group row" style="margin-left:0;margin-right:0">
                    <div class="col-md-12">
                        <label>สถานที่ : </label>&nbsp;<span id="txtAddress"></span>
                    </div>
                </div>

                <div class="form-group row" style="margin-left:0;margin-right:0">
                    <div class="col-md-3">
                        <label>แผน : </label>&nbsp;<span id="txtProduct"></span>
                    </div>
                    <div class="col-md-3">
                        <label>ประเภท : </label>&nbsp;<span id="txtPeriodType"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="text-red">เบี้ยประกัน : </label>&nbsp;<span class="text-red" id="txtPremiumDebt"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="text-align:left !important">
                    <label>*ชำระเบี้ยประกันเพื่อคุ้มครองวันที่ :&nbsp;<span id="txtPeriodFrom"></span>&nbsp;-&nbsp;<span id="txtPeriodTo"></span>&nbsp;หากต้องการเปลี่ยนรายปีเป็นรายเดือน หรือเปลี่ยนแผนต้องดำเนินการก่อนยืนยันต่ออายุ</label>
                </div>

                <button type="button" class="btn btn-primary" id="btnConfirm">ยืนยันต่ออายุ</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript{
    <script>
        $(function () {

            //event click search
            $('#btnSearch').on('click', function (e) {
                e.preventDefault();
                //valid
                if ($('form').valid()) {
                    loadDatatables();
                }
            });

            //event click
            $('#btnConfirm').on('click', function (e) {
                e.preventDefault();
                swal_confirm("ยืนยันการทำรายการ", "", function (e) {
                    BillPaymentYearAndSentSMS();
                });
            });
        });

        /*function load datatables DebtForRegen*/
        function loadDatatables() {
            loadingSpinner('fadeIn');
            $('#tableDetail').empty();
            const table = $('#tableDetail').DataTable({
                pageLength: 10,
                lengthChange: false,
                processing: true,
                serverSide: true,
                destroy: true,
                searching: false,
                ordering: true,
                autoWidth: false,
                responsive: true,
                ajax: {
                    url: '@Url.Action("GetApplicationDetailForGenerateBillPeriodTypeYear")',
                    method: "GET",
                    data: function (d) {
                        d.draw = d.draw;
                        d.indexStart = d.start;
                        d.pageSize = d.length;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                        d.appId = $("#textSearchAppId").val().trim();
                    },
                    dataSrc: function (json) {
                        loadingSpinner('fadeOut');
                        return json.data;
                    },
                },
                columns: [
                    {
                        title: 'ลำดับ',
                        data: null,
                        orderable: false,
                        className: 'th-center td-center',
                        render: function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        title: 'วันที่คุ้มครอง',
                        data: 'StartCoverDate',
                        orderable: false,
                        className: 'th-center td-center',
                        render: function (data) {
                            return moment(data).add(543, 'years').format("DD/MM/YYYY");
                        }
                    },
                   {
                       title: 'ชื่อ-สกุล ผู้ชำระเบี้ย',
                       data: 'PayerName',
                       orderable: false,
                       className: 'th-center td-center'
                   },
                   {
                       title: 'เบี้ยที่ชำระ',
                       data: 'PremiumDebt',
                       orderable: false,
                       className: 'th-center td-right',
                       render: function (data) {
                           return formatNumberCurrency(data, 2);
                       }
                   },
                   {
                       title: 'เบอร์โทร',
                       data: 'PayerMobile',
                       orderable: false,
                       className: 'th-center td-center'
                    },
                    {
                        title: 'ประเภท',
                        data: 'PeriodType',
                        orderable: false,
                        className: 'th-center td-center'
                    },
                    {
                        title: 'รายละเอียด',
                        data: null,
                        orderable: false,
                        className: 'th-center td-center',
                        render: function (data) {

                            return `<button type="button" class="btn btn-info" onclick="AssignValue('${data.ApplicationCode}','${data.StartCoverDate}','${data.PayerName}','${data.PayerMobile}','${data.PayerBranch}','${data.PayerStudyArea}','${data.PayerWorkAddress}','${data.Product}','${data.PeriodType}','${data.PremiumDebt}','${data.PeriodFrom}','${data.PeriodTo}')"><i class="fa fa-search"></i></button>`;
                        }
                    },
                ]
           });
            window.onresize = function () {
                table.columns.adjust().responsive.recalc();
            };
        }

        function AssignValue(appId,startCoverDate,payerName,payerMobile,payerBranch,payerStudyArea,payerAddress,product,periodType,premiumDebt,periodFrom,periodTo) {
            $('#txtAppId').text(appId);
            $('#txtStartCoverDate').text(moment(startCoverDate).add(543, 'years').format("DD/MM/YYYY"));
            $('#txtPayerName').text(payerName);
            $('#txtPayerMobile').text(payerMobile);
            $('#txtPayerBranch').text(payerBranch);
            $('#txtPayerStudyArea').text(payerStudyArea);
            $('#txtAddress').text(payerAddress);
            $('#txtProduct').text(product);
            $('#txtPeriodType').text(periodType);
            $('#txtPremiumDebt').text(formatNumberCurrency(premiumDebt, 2));
            $('#txtPeriodFrom').text(moment(periodFrom).add(543, 'years').format("DD/MM/YYYY"));
            $('#txtPeriodTo').text(moment(periodTo).add(543, 'years').format("DD/MM/YYYY"));

            $('#modalDetail').modal('show');
        }

        function BillPaymentYearAndSentSMS() {
            loadingSpinner('fadeIn');
            $.post('@Url.Action("BillPaymentYearAndSentSMS")', {
                appId: $('#txtAppId').text(),
                mobileNumber: $('#txtPayerMobile').text(),
                period: $('#txtPeriodFrom').text()
            }, function (response) {
                    if (response.IsResult && response.SMSStatus === "000" ) {
                        loadingSpinner('fadeOut');
                        swal_success(function (e) {
                            window.location.replace(`http://${response.UrlBill}`);
                        });
                    } else {
                        loadingSpinner('fadeOut');
                        swal("เกิดข้อผิดพลาด", response.Msg, "error")
                    }
            }).fail(function (error) {
                loadingSpinner('fadeOut');
                swal("เกิดข้อผิดพลาด", error.message, "error")
            })
        }
    </script>
}