@{
    ViewBag.Title = "รายงานโยกคิวงาน";
    Layout = "~/Views/Shared/_LayoutForTopIndexMotor.cshtml";
}
<head>
    <style>
        .datepicker-wrapper {
            position: relative;
            display: inline-block;
        }

            .datepicker-wrapper input {
                padding: 8px 35px 8px 10px;
                width: 250px;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .datepicker-wrapper .fa-calendar-alt {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #888;
                pointer-events: none;
            }

        .note {
            color: red;
            font-size: 14px;
            margin-top: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<div class="box box-header bg-aqua">
    <center><span style="font-size:large;">ประกันรถยนต์</span></center>
</div>
<div class="row" style="margin-top: 25px">
    <div class="col-sm-12 col-md-12">
        <div class="box box-primary">
            <div class="box box-header ">
                <center><span style="font-size:large;">รายงานโยกคิวงาน</span></center>
            </div>
            <div class="box-body">
                <div class="form-group row" id="Download_form">
                    <div class="col-sm-12 col-md-offset-4 col-md-4 " style="ma">
                        <button type="button" id="btnDownload" class="btn btn-block btn-success" onclick="getDownloadLink()">Export to Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        $(function () {
            $('#btnDownload').click(function (e) {
                e.preventDefault();
                getDownloadLink();
            });
        });

        const getDownloadLink = () => {
            window.location.href = `@Url.Action("MotorExportReportQueueManualAssign", "MotorReport")`;
        }
    </script>
}