body {
}

@page {
    size: A4;
    margin: 0;
    font-family: 'Angsana New';
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        font-family: 'Angsana New';
    }
    /* ... the rest of the rules ... */
}