@{
    ViewBag.Title = null;

    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    .responsive {
        width: 100%;
        height: auto;
    }
</style>

<div class="row" style="text-align:center;">
    <div class="col-lg-6">
        <div class="vc_column-inner ">
            <a target="_blank" href="https://www.google.co.th/maps/place/%E0%B8%9A%E0%B8%A3%E0%B8%B4%E0%B8%A9%E0%B8%B1%E0%B8%97+%E0%B8%AA%E0%B9%84%E0%B8%A1%E0%B8%A5%E0%B9%8C+%E0%B8%97%E0%B8%B5%E0%B8%9E%E0%B8%B5%E0%B9%80%E0%B8%AD+%E0%B8%88%E0%B8%B3%E0%B8%81%E0%B8%B1%E0%B8%94/@("@13.9271629,100.6834336,20z/data=!4m8!1m2!2m1!1z4Lia4Lij4Li04Lip4Lix4LiXIOC4quC5hOC4oeC4peC5jCDguJfguLXguJ7guLXguYDguK0g4LiI4Liz4LiB4Lix4LiU!3m4!1s0x311d7c43cf481467:0xed45ea9efaec8bb8!8m2!3d13.9271108!4d100.6838075")"><img border="0" src="~/Content/img/Map.jpg" width="500" height="300"></a>
        </div>
    </div>
    <div class="col-lg-6" style="text-align:left;">
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <div class="place-desc-large">
                    <div class="place-name"><strong><span style="color: #00aeef;">บริษัท สยามสไมล์โบรกเกอร์ (ประเทศไทย) จำกัด สำนักงานใหญ่</span></strong></div>
                    <div class="address">
                        89/6-10 ถนน เฉลิมพงษ์ แขวง สายไหม เขต สายไหม<br>
                        กรุงเทพมหานคร 10220
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element  vc_custom_1513581531000">
            <div class="wpb_wrapper">
                <p>
                    <span style="color: #333333;">
                        <span style="font-size: 12pt;">เวลาทำการ วันจันทร์-ศุกร์ เวลา 08.00-17.00 น. (เว้นวันหยุดนักขัตฤกษ์)</span><br>
                    </span>
                </p>
                <p>
                    <span style="font-size: 12pt;"><span style="color: #333333;">เบอร์ติดต่อ Call Center <a href="callto:1434"> 1434</a> / <a href="callto:Line official"> Line official ID : @@siamsmile</a> </span></span><br>
                    <span style="font-size: 12pt;"><span style="color: #333333;">E-mail : Contact@siamsmile.co.th</span></span><br />
                    <span style="font-size: 12pt;"><span style="color: #333333;">www.siamsmile.co.th</span></span>
                </p>
            </div>
        </div>

    </div>
</div>                                                