@model IEnumerable<SmileClaimV2.Models.DownLoadFileInformation>

@{
    ViewBag.Title = "ดาวน์โหลดคู่มือ";
}
<form>
    <div class="box">
        <div class="box-body">
            <table id="table_document" class="table table-bordered table-striped" style="width: 100%">
                <thead>

                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.FileId)*@
                            ลำดับ
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.FileName)*@
                            ชื่อเอกสาร
                        </th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                var arr = item.FileName.Split('.');
                        <tr>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.FileId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => arr[0])
                            </td>
                            <td style="text-align: center">
                                @Html.ActionLink("Download", "DownloadFile", new { fileID = item.FileId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

@section ViewSpecificJavascript
{
    <script>
        $(function () {
            $('#table_document').DataTable({
                processing: true,
                searching: false,
                lengthChange: false,
                responsive: true,
                paging: false,
                ordering: false,
                info: false
            });
        });
    </script>
}