@{
    ViewBag.Title = "GetGuaranteeMedical";
    Layout = null;
}

<style>

    #form {
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, td {
        /*border: 1px solid;*/
        padding: 0;
        margin: 0;
    }

    th {
        font: large arial, tahoma, sans-serif;
        font-weight: bold;
        padding: 10px;
    }

    /*#table-main {
        margin: auto;
    }*/
</style>
<form id="form1" runat="server">
    <div class="page">
        <div id="form">
            <table id="table-main">
                <tr id="row1">
                    <td rowspan="2" style="width:120px; text-align:center;">
                        <img src="~/Content/img/LogoReport.png" style="width:100px;" />
                    </td>
                    <td style="text-align:center;">
                        หนังสือรับรองการใช้สิทธิ์เบิกค่ารักษาพยาบาล
                    </td>
                </tr>
                <tr id="row2">
                    <td style="text-align:center;">
                        11 เมษายน 2561
                    </td>
                </tr>
                <tr id="row3">
                    <td colspan="2" style="padding-top:20px;">
                        <table id="table-detail">
                            <tr>
                                <td style="width:45px;">
                                    เรื่อง
                                </td>
                                <td colspan="3">
                                    ยืนยันสิทธิ์เบื้องต้นสำหรับการเข้ารับการรักษาพยาบาล
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    เรียน
                                </td>
                                <td colspan="3">
                                    หัวหน้าฝ่ายการเงินผู้ป่วยนอก / เวชระเบียน / ประสานการแพทย์
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    คลินิคแพทย์อินเตอร์
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-indent:8%; padding-top: 10px;" colspan="3">
                                    ข้าพเจ้า
                                    <label> นางสาวนนทนี ธิขาว </label>
                                    ตำแหน่ง
                                    <label> เจ้าหน้าที่ Call Center </label>
                                    จังหวัด
                                    <lable> เชียงราย </lable>
                                    ขอรับรองว่า
                                    <label> นางสาวนนทนี ธิขาว </label>
                                    เป็นสมาชิกของโครงการบัตรประกันสุขภาพกลุ่มข้าราชการ สยามสไมล์การ์ด มีสิทธิเข้ารับการรักษาพยาบาลในโรงพยาบาลของกรมธรรม์ดังต่อไปนี้
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3">
                                    <table>
                                        <tr>
                                            <td></td>
                                            <td style="padding-top:10px;width:224px;">
                                                ชื่อผู้เอาประกันภัย
                                            </td>
                                            <td style="width:20px">
                                                :
                                            </td>
                                            <td>
                                                dsadas
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                เลขที่บัตรประชาชน
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td>
                                                dsadas
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                เลขที่อ้างอิง
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td>
                                                dsadas
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                วันเริ่มคุ้มครอง
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td>
                                                dsadas
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                แผนความคุ้มครอง
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td>
                                                dsadas
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                จำนวนครั้ง OPD ที่เหลือ
                                            </td>
                                            <td>
                                                :
                                            </td>
                                            <td>
                                                dsadas
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="3" style="padding-top:5px;padding-bottom:5px;font-weight:bold;">
                                    มีสิทธิประโยชน์ในการเข้ารับการรักษาดังนี้
                                </td>
                            </tr>
                            @*<tr>
                                    <td></td>
                                    <td>
                                        1.ค่าห้อง ค่าอาหาร และการพยาบาลผู้ป่วยปกติ
                                    </td>
                                    <td style="text-align:right;">
                                        <label>:</label>
                                    </td>
                                    <td>
                                        บาท / วัน
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        2.ค่ารักษาพยาบาล และค่าบริการทั่วไป
                                    </td>
                                    <td style="text-align:right;">
                                        <label>:</label>
                                    </td>
                                    <td>
                                        บาท / ครั้ง
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        3.ค่ารักษาโดยการผ่าตัด (ค่าธรรมเนียมแพทย์ผ่าตัด)
                                    </td>
                                    <td style="text-align:right;">
                                        <label>:</label>
                                    </td>
                                    <td>
                                        บาท / ครั้ง
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        4.ค่าเยี่ยมแพทย์ การดูแลของแพทย์
                                    </td>
                                    <td style="text-align:right;">
                                        <label>:</label>
                                    </td>
                                    <td>
                                        บาท / วัน
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        5.ค่าชดเชยการนอนในโรงพยาบาลกรณีผู้ป่วยใน
                                    </td>
                                    <td style="text-align:right;">
                                        <label>:</label>
                                    </td>
                                    <td>
                                        บาท / วัน
                                    </td>
                                </tr>*@
                            <tr>
                                <td></td>
                                <td>
                                    1.ค่ารักษาพยาบาลจากอุบัติเหตุ (กรณีผู้ป่วยนอก)
                                </td>
                                <td style="text-align:right;">
                                    <label>:</label>
                                </td>
                                <td>
                                    บาท / ครั้ง
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    2.ค่ารักษาพยาบาลจากโรคภัยไข้เจ็บ (กรณีผู้ป่วยนอก)
                                </td>
                                <td style="text-align:right;">
                                    <label>:</label>
                                </td>
                                <td>
                                    บาท / ครั้ง (6 ครั้ง / ปี)
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-indent:8%; padding-top:10px;" colspan="3">
                                    กรมธรรม์ของลูกค้ารายนี้มีการชำระเบี้ยต่ออายุกรมธรรม์ สามารถใช้สิทธิ์ในการเบิกค่ารักษาพยาบาลได้ตามปกติ ทั้งนี้บริษัท ฯ จะพิจารณาสิทธิ์ความคุ้มครองในการรักษาอีกครั้ง ตามระบบ Fax Claim
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="row4">
                    <td colspan="2" style="padding-top:10px;">
                        <table>
                            <tr>
                                <td style="width:50%;">
                                    <div style="width:340px; border:1px solid black">
                                        <table style="text-align:center; margin-top:20px; margin-bottom:20px;">
                                            <tr>
                                                <td>โปรดส่งเอกสารเรียกสิทธิ์ที่</td>
                                            </tr>
                                            <tr>
                                                <td>บริษัท สไมล์ ทีพีเอ จำกัด</td>
                                            </tr>
                                            <tr>
                                                <td>86/9-10 ถนนเฉลิมพงษ์ แขวงสายไหม</td>
                                            </tr>
                                            <tr>
                                                <td>เขตสายไหม กรุงเทพฯ 10220</td>
                                            </tr>
                                            <tr>
                                                <td>Siam Smile Card บัตรประกันสุขภาพกลุ่มราชการ</td>
                                            </tr>
                                            <tr>
                                                <td>Call Center : 1434 และ 0-2533-3999</td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <table style="text-align:center;">
                                        <tr>
                                            <td>จึงเรียนมาเพื่อทราบและโปรดพิจารณา</td>
                                        </tr>
                                        <tr>
                                            <td style="height:60px; vertical-align:bottom">....................................................</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                (
                                                <label> นางสาวนนทนี ธิขาว </label>
                                                )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>
                                                    เจ้าหน้าที่ Call Center
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>บริษัท สไมล์ ทีพีเอ จำกัด</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="row5">
                    <td style=" text-align: center; font-size: 8.6px; padding-top:200px;" colspan="2">
                        บริษัท สไมล์ทีพีเอ จำกัด
                    </td>
                </tr>
                <tr id="row6">
                    <td style="text-align: center; font-size: 8.6px" colspan="2">
                        89/6-10 ถนนเฉลิมพงษ์ แขวงสายไหม เขตสายไหม กรุงเทพฯ 10220 โทรสาร: 0-2533-3258-9
                    </td>
                </tr>
                <tr id="row7">
                    <td style="text-align: center; font-size: 8.6px" colspan="2">
                        Call Center: 1434 และ 0-2533-3999
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>