body, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Kanit', sans-serif !important;*/
    font-family: 'Sarabun', sans-serif !important;
}
/*----bg-color----*/
.bg-red {
    background-color: #ff6384 !important;
}

.bg-yellow {
    background-color: #f4e542 !important;
}

.bg-blue {
    background-color: #42bcf4 !important;
}

.bg-purple {
    background-color: #9f84f9 !important;
}

.bg-green {
    background-color: #42f48c !important;
}

.bg-brown {
    color: #fff !important;
    background-color: #964b00 !important;
}
/*----end----*/
.error {
    color: red;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.font-header {
    font-size: 20px;
    font-weight: bold;
}

.form-group-lg-flat .form-control {
    height: 46px;
    font-size: 18px;
    line-height: 1;
}

.font-detail-normal-16 {
    font-size: 16px;
    font-weight: normal !important;
    text-align: left !important;
}
/* Loading Spinner */
#loading {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    background: rgba(255,255,255,0.5);
    /* display: none; */
}

.spinner {
    margin: 0;
    width: 70px;
    height: 18px;
    margin: -35px 0 0 -9px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #00bfff;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -.32s;
        animation-delay: -.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -.16s;
        animation-delay: -.16s;
    }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-moz-keyframes bouncedelay {
    0%, 80%, 100% {
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
/*-----------------END------------------------*/
/*-----------------CSS Me---------------------*/
.td-center {
    text-align: center;
}

/*----------------DATA TABLE------------------*/
table {
    font-size: 16px;
}

th.h-dt-center {
    vertical-align: middle !important;
    text-align: center;
}

th.h-dt-left {
    text-align: left;
}

th.h-dt-right {
    text-align: right;
}

td.d-dt-center {
    text-align: center;
}

td.d-dt-left {
    text-align: left;
}

td.d-dt-right {
    text-align: right;
}

td.selected {
    font-weight: bold;
    background-color: #8EDCF8;
}

td.d-dt-center-checkbox {
    vertical-align: middle !important;
    text-align: center;
}

td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

/*-----------------Media Query----------------*/

/*==========  Non-Mobile First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .set-align {
        text-align: right;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    table {
        font-size: 16px;
    }

    .set-align {
        text-align: left;
    }

    .info-box {
        min-height: 160px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: right !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    table {
        font-size: 14px;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    .info-box {
        min-height: 120px !important;
    }

    .info-box-text {
        font-size: 18px !important;
    }

    .badge, .none-badge, .info-box-number {
        font-size: 11px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: left !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    table {
        font-size: 12px;
    }

    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    .info-box {
        min-height: 100px !important;
    }

    .info-box-text {
        font-size: 16px !important;
    }

    .badge, .none-badge, .info-box-number {
        font-size: 8px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: left !important;
    }
}
/*----------------DIV HOVER-------------------*/
.div_hover {
    background-color: #F0F8FF;
}

    .div_hover:hover {
        cursor: pointer;
        background-color: #86cdf5 !important;
    }