
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <img src="~/Content/img/logo.png" alt="Siam Smile Logo" />
    <h2 style="font-weight: bold;">ยินดีต้อนรับเข้าสู่ระบบ Smile Communicate</h2>
    <h3>(ระบบจัดการการส่ง SMS)</h3>
</div>
