@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">PLAYER</li>
            <li class="@Url.IsLinkActive("AudioPlayer", "AudioPlayer")">
                <a href="@Url.Action("AudioPlayer", "AudioPlayer")"><i class="fa fa-link"></i> <span>Audio</span></a>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>