
@{
    ViewBag.Title = "_PDPAView";
}
<input type="hidden" id="CheckA" hidden value="" />
<input type="hidden" id="CheckB" hidden value="" />
<input type="hidden" id="CheckC" hidden value="" />
<input type="hidden" id="CheckD" hidden value="" />

<div class="row">
    <div class="col-sm-12">
        <div class="box box-solid box-default" style="border-color:#0BB9B9">
            <div class="box-header " style="background-color:#0BB9B9">
                <label style="color:white"><i class="fa fa-file-pdf-o"></i> ข้อมูล PDPA</label>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i style="color:white" class="fa fa-chevron-down"></i></button>
                </div>
            </div>
            <div class="box-body" style="margin-top:-5px">
                <div class="row" style="margin-top:1%">
                    <div class="col-sm-12">
                        <label style="font-weight:bold">การให้ความยินยอมการเก็บ รวบรวม ใช้ เปิดเผยข้อมูลส่วนบุคคล</label>
                    </div>
                </div>

                <div class="row" style="margin-top:1%">                   
                    <div class="col-sm-12">
                        <div class="custom-control custom-checkbox">
                            <label for="customCheckbox1" class="custom-control-label">                          
                                    <input type="checkbox"  id="checkbox1" class="flat-red" style="position: absolute; opacity: 0;">                                    
                                    &emsp;&nbsp;
                                    การเก็บรวบรวม ใช้ เปิดเผยข้อมูลส่วนบุคคล เกี่ยวกับข้อมูลส่วนบุคคลพื้นฐาน                                                                
                            </label>
                        </div>
                                       
                    </div>        
                </div>


                <div class="row" style="margin-top:1%">
                    <div class="col-sm-12">
                        <div class="custom-control custom-checkbox">
                            <label for="customCheckbox1" class="custom-control-label">                              
                                    <input type="checkbox"  id="checkbox2" class="flat-red" style="position: absolute; opacity: 0;">                                    
                                    &emsp;&nbsp;
                                    การเก็บรวบรวม ใช้ เปิดเผยข้อมูลส่วนบุคคล เกี่ยวกับข้อมูลส่วนบุคคลที่มีความอ่อนไหว                               
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:1%">
                    <div class="col-sm-12">
                        <div class="custom-control custom-checkbox">
                            <label for="customCheckbox1" class="custom-control-label">
                                    <input type="checkbox"  id="checkbox3" class="flat-red" style="position: absolute; opacity: 0;">                                   
                                    &emsp;&nbsp;
                                    การเก็บรวบรวม ใช้ เปิดเผยข้อมูลส่วนบุคคล ที่ปรากฎอยู่ในใบคำขอเอาประกันภัย และการเสนอผลิตภัณฑ์เพิ่มเติมของบริษัท
                                
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:1%">
                    <div class="col-sm-12">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label"> 
                                <input type="checkbox" id="checkbox4" class="flat-red" style="position: absolute; opacity: 0;" readonly ="readonly">
                                &emsp;&nbsp;
                                การเก็บรวบรวม ใช้ เปิดเผยข้อมูลที่เกี่ยวข้องกับข้อมูลส่วนบุคคลของข้าพเจ้า เพื่อใช้ยื่นแสดงกับบริษัทรับประกันภัยที่เกี่ยวข้อง
                            </div>
                            </label>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">

        const GetPDPADetail = (personId) => {
            GetDataPDPADetail(personId);


            debugger;
            $('input[type="checkbox"]').iCheck("disable");

            if ($('#CheckA').val() == 1) {
                $('#checkbox1').iCheck("check");
            }
             if ($('#CheckB').val() == 1) {
                $('#checkbox2').iCheck("check");
            }
             if ($('#CheckC').val() == 1) {
                $('#checkbox3').iCheck("check");
            }
             if ($('#CheckD').val() == 1) {
                $('#checkbox4').iCheck("check");
            }                     
        }


        const GetDataPDPADetail = (personId) => {
            @*$.ajax({
                type: "GET",
                url: "@Url.Action("GetPDPAPersonById", "CustomerManagement")",
                data: {
                    personId: personId
                },
                async:  false,
                dataType: "json",
                success: function (response) {
                    $('#CheckA').val = response;
                    $('#CheckB').val = response;
                    $('#CheckC').val = response;
                    $('#CheckD').val = response;
            }
            });*@
            $('#CheckA').val(1)
            $('#CheckB').val(0)
            $('#CheckC').val(1)
            $('#CheckD').val(0)
        }
    </script>
