@{
    ViewBag.Title = "แก้ไขยอดเงินตั้งเบิก";

}
<form action="" method="post" id="Mainform">
    <div class="row">
        @* Search form *@
        <div class="col-sm-12" id="Edit_form">
            <div class="box box-default">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-3">
                            <label for="" class="control-label">ยอดขั้นต่ำตั้งเบิกเดิม :</label>
                            <input type="text" class="form-control pull-right" name="txtOldAmount" id="txtOldAmount" disabled="disabled" value="@ViewBag.oldWithdrawAmount">
                        </div>
                        <div class="col-sm-3">
                            <label for="" class="control-label">ยอดขั้นต่ำใหม่ :</label>
                            <input type="text" class="form-control pull-right" name="txtNewAmount" id="txtNewAmount">
                        </div>
                        <div class="col-sm-2" style="margin-top: 24px">
                            <button type="button" id="btnEdit" class="btn btn-block btn-info">ปรับยอด</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end form *@
    </div>
</form>
@section ViewSpecificJavascript

{
    <script type="text/javascript">
        $(function () {
            $('#btnEdit').click(() => {
                swal_confirm('ยืนยันดำเนินการ', 'ต้องการแก้ไขยอดเงินตั้งเบิกขั้นต่ำ?', () => {
                    EditNewWithdrawAmount();
                });
            });
        });

        const EditNewWithdrawAmount = () => {
            var amount = $('#txtNewAmount').val();
            $.post('@Url.Action("WithdrawalAmount_Update","FinanceChecker")', { amount: amount }, (data) => {
                if (data) {
                    swal_success("เปลี่ยนแปลงค่าสำเร็จ!");
                    setTimeout(() => { window.location = '@Url.Action("EditWithdrawalAmount")' },2500);
                } else {
                    swal_fail("ไม่สำเร็จ กรุณาตรวจสอบ!!");
                }
            });
        }
    </script>
}