@{
    ViewBag.Title = "รายละเอียดข้อมูลรถม้าลาย";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#NavZebraCaretaker" data-toggle="tab" aria-expanded="true"><h5>ข้อมูลผู้ดูแลรถม้าลาย</h5></a></li>
                    <li class=""><a href="#NavTransaction" data-toggle="tab" aria-expanded="false"><h5>ประวัติการทำรายการรถม้าลาย</h5></a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="NavZebraCaretaker">
                        <div class="row">
                            <div class="col-xs-2">
                                <span>สังกัดบริษัท :</span>
                            </div>
                            <div class=" col-xs-3 ">
                                <label id="lblCompanyType"></label>
                            </div>
                            <div class="col-xs-2">
                                <span>วันที่รับรถจากศูนย์ :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblPickupDate"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>เบอร์รถ :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblZebraNo"></label>
                            </div>

                            <div class="col-xs-2">
                                <span>สีรถ :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblZebraColor"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>ยี่ห้อรถ :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblCarBrand"></label>
                            </div>
                            <div class="col-xs-2">
                                <span>รุ่นรถ :</span>
                            </div>
                            <div class="col-xs-2">
                                <label id="lblCarModel"></label>
                            </div>
                            <div class="col-xs-1">
                                <span>รุ่นย่อย :</span>
                            </div>
                            <div class="col-xs-2">
                                <label id="lblCarSubModel"></label>
                            </div>
                        </div>
                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>ทะเบียนรถ :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblPlateNo"></label>
                            </div>
                            <div class="col-xs-2">
                                <span>จังหวัดทะเบียนรถ :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblPlateProvince"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>เลขตัวถัง :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblVinNo"></label>
                            </div>
                            <div class="col-xs-2">
                                <span>เลขเครื่อง :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblEngineNo"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>ประเภทรถ :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblZebraType"></label>
                            </div>
                            <div class="col-xs-2">
                                <span>วันที่เริ่มนำไปใช้งาน :</span>
                            </div>
                            <div class="col-xs-2">
                                <label id="lblApplyDate"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">

                            <div class="col-xs-2">
                                <span>ผู้ใช้รถ :</span>
                            </div>
                            <div class="col-xs-4">
                                <label id="lblOwner"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>ตำแหน่ง :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblOwnerPosition"></label>
                            </div>
                            <div class="col-xs-2">
                                <span>สถานะพนักงาน :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblOwnerStatus"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>เบอร์โทร :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblOwnerTel"></label>
                            </div>
                            <div class="col-xs-2">
                                <span>สาขา :</span>
                            </div>
                            <div class="col-xs-3">
                                <label id="lblOwnerBranch"></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top:8px">
                            <div class="col-xs-2">
                                <span>หมาเหตุ :</span>
                            </div>
                            <div class="col-xs-10">
                                <label id="lblRemark"></label>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="NavTransaction">
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="dtTransaction" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal Transaction Detail *@
    <div class="modal fade in" id="modal-TransactionDetail" style="display: none; padding-right: 5px;">
        <div class="modal-dialog" style="width:70%">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h3 class="box-title">รายละเอียด Transaction</h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="dtTransactionDetail" class="table table-bordered table-hover dataTable" style="width:100%"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdfZebraId" value="@ViewBag.ZebraId" />
</form>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {
            GetZebraManagementDetail();
            GetTransaction();
        });

        const GetZebraManagementDetail = () => {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetZebraCaretakerManagementById", "ZebraManagement")",
                data: {
                    zebraId: $('#hdfZebraId').val()
                },
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#lblCompanyType').text(response.Abbreviation);

                    debugger;

                    if (response.PickupDate != null) {
                        let d_pickupDate = moment(response.PickupDate).add(543, 'years').format("DD/MM/YYYY", "LLLL");

                        $('#lblPickupDate').text(d_pickupDate);
                    }

                    if (response.ApplyDate != null) {
                        let d_applyDate = moment(response.ApplyDate).add(543, 'years').format("DD/MM/YYYY", "LLLL");
                        $('#lblApplyDate').text(d_applyDate);
                    }

                    $('#lblZebraNo').text(response.Zebra_No);
                    $('#lblZebraColor').text(response.Color);
                    $('#lblCarBrand').text(response.Brand);
                    $('#lblCarModel').text(response.Model);
                    $('#lblCarSubModel').text(response.SubModel);
                    $('#lblPlateNo').text(response.PlateNo);
                    $('#lblPlateProvince').text(response.ProvinceDetail);
                    $('#lblVinNo').text(response.VINno);
                    $('#lblEngineNo').text(response.EngineNo);

                    $('#lblZebraType').text(response.ZebraType);

                    $('#lblOwner').text(response.OwnerEmployeeFullName);
                    $('#lblOwnerStatus').text(response.OwnerEmployeeStatus);
                    $('#lblOwnerPosition').text(response.OwnerEmployeePosition);
                    $('#lblOwnerTel').text(response.OwnerEmployeeTel);
                    $('#lblOwnerBranch').text(response.OWnerEmployeeBranch);

                    $('#lblRemark').text(response.Remark);
                }
            });
        }

        const GetTransaction = () => {
            $('#dtTransaction').empty();
            var t = $('#dtTransaction').dataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    searching: false,
                    "order": [[0, "desc"]],
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetTransaction", "ZebraManagement")',
                        type: 'POST',
                        async: false,
                           data: function (d) {
                               d.draw = d.draw;
                               d.pageSize = d.length;
                               d.pageStart = d.start;
                               d.sortField = d.columns[d.order[0].column].data;

                               d.orderType = d.order[0].dir;
                               d.search = d.search.value;

                               d.zebraId = $('#hdfZebraId').val();
                           }
                       },
                       columns: [
                           { title: 'TransactionCode', data: 'ZebraTransactionCode', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'ประเภทการทำรายการ', data: 'TransactionType', className: 'h-dt-center text-font-small', width: '8%' },
                           {
                               title: 'วันที่ทำรายการ', data: 'CreatedDate', className: 'h-dt-center', width: '8%',
                               mRender: function (data) {
                                   moment.locale('th');
                                   return moment(data).add(543, 'years').format("DD/MM/YYYY HH:mm:ss", "LLLL");
                               }
                           },
                           { title: 'ผู้ทำรายการ', data: 'CreateByfullName', className: 'h-dt-center text-font-small', width: '10%' },
                           {
                               title: 'เลือก',
                               data: null,
                               className: 'h-dt-center d-dt-center ',
                               mRender: (data, type, full) => {
                                   return '<button type="button"  class="btn btn-success btn-sm" id="btnEdit' + data.ZebraTransactionId + '"><i class="glyphicon glyphicon glyphicon-eye-open ColorWhite"></i> ดู</button>'
                               }, width: '5%'
                           },
                       ],
                       bLengthChange: false,
            });

            $('#dtTransaction tbody').on('click', 'td button', function () {
                debugger;
                var table = $('#dtTransaction').DataTable();
                var data = table.row($(this).closest('tr')).data()
                let transactionId = data.ZebraTransactionId;
                GetTransactionDetail(transactionId);
                $('#modal-TransactionDetail').modal('show');
            });
        }

        const GetTransactionDetail = (id) => {
            $('#dtTransactionDetail').empty();
            var t = $('#dtTransactionDetail').dataTable({
                    pageLength: 10,
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    searching: false,
                    "order": [[0, "desc"]],
                    destroy: true,
                    ajax: {
                        url: '@Url.Action("GetTransactionDetail", "ZebraManagement")',
                        type: 'POST',
                        async: false,
                           data: function (d) {
                               d.draw = d.draw;
                               d.pageSize = d.length;
                               d.pageStart = d.start;
                               d.sortField = d.columns[d.order[0].column].data;

                               d.orderType = d.order[0].dir;
                               d.search = d.search.value;

                               d.transactionId = id;
                           }
                       },
                       columns: [
                           { title: 'รหัสรายการ', data: 'ZebraTransactionDetailId', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'รายละเอียด', data: 'TransactionSubType', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'รหัสเดิม', data: 'FromId', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'ข้อมูลเดิม', data: 'FromDetail', className: 'h-dt-center text-font-small', width: '15%' },
                           { title: 'รหัสใหม่', data: 'ToId', className: 'h-dt-center text-font-small', width: '8%' },
                           { title: 'ข้อมูลใหม่', data: 'ToDetail', className: 'h-dt-center text-font-small', width: '15%' },
                       ],
                       bLengthChange: false,
            });
        }
    </script>
}