@{
    ViewBag.Title = "ตั้งค่าการแสดงผล Model ในรายงานตัวแทน";

}
<style>
    .table {
        font-size: 14px
    }
</style>
<form action="" method="post" id="Mainform">
    <div class="row">
        @* import model form*@
        <div class="col-sm-12" id="Detail_form">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">นำเข้า Model @ViewBag.PeriodDetail Period Id:@ViewBag.periodId</h3>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-offset-1 col-sm-8">
                            <label class="control-label" for="">เลือก Model</label>
                            <select id="select_model" class="form-control select2" multiple="multiple"></select>
                        </div>
                        <div class="col-sm-2" style="margin-top: 25px">
                            <button type="button" class="btn btn-block btn-info" id="btnAddModel">Add Model</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>