@{
    ViewBag.Title = "รายงานรอมอบบัตร";
    Layout = "~/Views/Shared/_LayoutForTopIndexPHReport.cshtml";
}

<div class="row" style="margin-top: 25px">
    <div class="col-sm-12 col-md-12">
        <div class="col-sm-12 col-md-6">
            <div class="box box-success">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="box-header">
                            <h4 class="text-center">รายงานรอมอบบัตร</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-3 col-md-6">
                            <button type="button" id="btnDownload" class="btn btn-block btn-success">Export to Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        $(function () {
            $('#btnDownload').click(function (e) {
                e.preventDefault();
                getDownloadLink();
            });
        });

        const getDownloadLink = () => {
            window.location.href = `@Url.Action("ExportReportQueueCoBrandPending", "Report")`;
        }

            @*function getDownloadLink(data) {
                loadingSpinner('fadeIn', 999999);
                $.ajax({
                    url: "@Url.Action("ExportReportQueueCoBrandPending", "Report")",
                    type: "POST",
                    data: {
                        period: $('#select_period').val()
                    },
                    success: function (data) {
                          if (data.IsResult == false) {
                            loadingSpinner('fadeOut');
                            swal("ผลการค้นหา", data.Msg, "warning", function (e) {
                                swal.close();
                                return false;
                            });
                          } else {
                              let reportName = "รายงานค้างมอบบัตร";
                            window.location = `@Url.Action("Download")?reportName=${reportName}`;
                            loadingSpinner('fadeOut');
                        }
                    },
                     error: function (jqXHR, exception) {
                         checkXHRStatus(jqXHR.status);
                         loadingSpinner('fadeOut');
                     }
                });
        }
        function checkXHRStatus(xhrStatus) {
           var msg = '';
              if (xhrStatus === 0) {
                  msg = 'Not connect.\n Verify Network.';
              } else if (jqXHR.status == 404) {
                  msg = 'Requested page not found. [404]';
              } else if (jqXHR.status == 500) {
                  msg = 'Internal Server Error [500].';
              } else if (exception === 'parsererror') {
                  msg = 'Requested JSON parse failed.';
              } else if (exception === 'timeout') {
                  msg = 'Time out error.';
              } else if (exception === 'abort') {
                  msg = 'Ajax request aborted.';
              } else {
                  msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            swal("ไม่สำเร็จ", msg, "error");
        }*@
    </script>
}