@{
    ViewBag.Title = "รายงานการมอบกรมธรรม์";
    Layout = "~/Views/Shared/_LayoutForTopIndexCancer.cshtml";
}

<div class="box box-header box-warning bg-yellow">
    <center><span style="font-size:large;">ประกันโรคร้ายแรง</span></center>
</div>
<div class="row" style="margin-top: 25px">
    @* top form *@
    <div class="col-sm-12 col-md-12">
        @* search form *@
        <div class="col-sm-12 col-md-6">
            <div class="box box-info">
                <div class="box-header">
                    <h4>รายงานการมอบกรมธรรม์</h4>
                </div>
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-1 col-md-10">
                            <label class="control-label">งวดความคุ้มครอง:</label>
                            <select class="form-control" id="select_period">
                                <option value="-1">----กรุณาเลือก----</option>
                                @foreach (var itm in ViewBag.PeriodList)
                                {
                                    <option value="@itm.Value.ToString("yyyy-MM-dd")"> @itm.Display</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end form *@
    </div>
    @* end top *@
    @* right form *@
    <div class="col-sm-12 col-md-12">
        @* download form *@
        <div class="col-sm-12 col-md-6" id="Download_form">
            <div class="box box-success">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="box-header">
                            <h4 class="text-center">รายงานการมอบกรมธรรม์</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-offset-3 col-md-6">
                            <button type="button" id="btnDownload1" class="btn btn-block btn-success" onclick="getDownloadLink()">Export to Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* end download *@
    </div>
</div>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        $(function () {
            
            $('#Download_form').hide();
            $('#select_period').change((e) => {
                e.preventDefault();
                if ($('#select_period').val() == -1) {
                    $('#Download_form').hide();
                } else {
                    $('#Download_form').show();
                }
            });

        });

        const getDownloadLink = () => {
            window.location.href = `@Url.Action("ExportCancerReportUnderwriteAndPoliciesCardBO_V2", "CancerReport")?period=` + $('#select_period').val();
        }
    </script>
}