
@{
    ViewBag.Title = "CallBatchFile";
}

<h2>CallBatchFile</h2>

<section class="content">

    <div class="row">
        <div class="box">
             <div class="box-body">

                <button type="button" class=" btn btn-success" id="btnRun">RUN
                <i class="fa fa-arrow-circle-right"></i></button>

             </div>
        </div>
    </div>
</section>

@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {



            $('#btnRun').on('click', function (e) {
                //debugger;
                e.preventDefault();
                CallFile();
            });


        })



         function CallFile()
        {
           //debugger;

            $.ajax({
                type: "POST",
                  url: '@Url.Action("CallFile")',
                data: { 
                },

                success: function (response) {
                debugger;
                }
            });
        }

       
           
  
    </script>
}

