.responsive {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.txt-nowrap {
    white-space: nowrap;
}

.error {
    color: red;
}

label.error {
    color: red;
    border: none !important;
    cursor: default !important;
}

/*button*/
.btn-success, .btn-primary, .btn-info, .btn-warning, .btn-danger, .btn-default, .btn-block, .btn-lg {
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 7px -5px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    border-radius: 7px !important;
}

/*Image Modal*/
.imgModal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    .imgModal:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal-img {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-img-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 500px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-img-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/*PDF Audit motor*/
.pdfobject-container {
    height: 30rem;
    border: 1rem solid rgba(0,0,0,.1);
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-img-content {
        width: 100%;
    }
}