@{
    ViewBag.Title = "หน้าแรก";
    ViewBag.Description = "Home Page";
}

<div class="container">
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header">
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/img/logo_200x200.png" alt="User SiamSmile">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">@ViewBag.UserDetail.FullName</h3>
            <h5 class="widget-user-desc">@ViewBag.UserDetail.EmployeePositionDetail - @ViewBag.UserDetail.DepartmentDetail</h5>
        </div>
    </div>
</div>