
@{
    ViewBag.Title = "IndexReport";
    Layout = "~/Views/Shared/_LayoutForTopMotor.cshtml";
}
@{
    // var userDetail = GlobalFunction.GetLoginDetail(this.Context);
    var userDetail = SmileSUnderwriteAudit.Helper.GlobalFunction.GetLoginDetail(this.Context);

    ViewBag.Firstname = userDetail.FirstName;
    ViewBag.Lastname = userDetail.LastName;
    ViewBag.EmpCode = userDetail.UserName;
    ViewBag.Department = userDetail.DepartmentDetail;
    ViewBag.BranchDetail = userDetail.BranchDetail;
    ViewBag.FullName = userDetail.FullName;
    ViewBag.EmployeeTeamDetail = userDetail.EmployeeTeamDetail;
    ViewBag.FullName = userDetail.FullName;
}

<style>
    .material-icons.md-65 {
        font-size: 65px;
    }
</style>
<div class="container">
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header">
            <div class="widget-user-image">
                <img class="img-circle" src="~/Content/img/logo_200x200.png" alt="User SiamSmile">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">@ViewBag.UserDetail.FullName</h3>
            <h5 class="widget-user-desc">@ViewBag.EmployeeTeamDetail - @ViewBag.UserDetail.DepartmentDetail</h5>
        </div>
    </div>

    <div class="row">
        @{

            if (ViewBag.AccessRole.Contains("UnderwriteAudit_InsureMotor") || ViewBag.AccessRole.Contains("Developer"))
            {
                <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorReport/MotorReportCheckAndNotApproveUnderwrite">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        รายงานตรวจสอบการคัดกรอง
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>

              @*  <div class="col-md-3 col-sm-4">
                    <div class="wrimagecard wrimagecard-topimage">
                        <a href="/MotorReport/MotorReportAuditInsureClose">
                            <div class="wrimagecard-topimage_header bg-aqua">
                                <center>
                                    <i class="fa fa-file-text" aria-hidden="true"></i>
                                </center>
                            </div>
                            <div class="wrimagecard-topimage_title">
                                <center>
                                    <h5>
                                        รายงานติดเงื่อนไข/ไม่ผ่านการคัดกรองจากฝ่ายรับประกัน
                                    </h5>
                                </center>
                            </div>
                        </a>
                    </div>
                </div>*@
            }

        }
    </div>
</div>