@{
    ViewBag.Title = "Error";
}

<div class="error-page">
    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> ไม่สามารถทำรายการได้!</h3>

        <p>
            @ViewBag.errorText
        </p>
    </div>
</div>