@model List<SmileSPoint.Models.TransactionImportRow>
@{
    ViewBag.Title = "นำเข้ารายการใช้ Point";
}
@* Upload Form *@

<form role="form" action="@Url.Action("UploadDeduct")" method="post" enctype="multipart/form-data">
    @if (!String.IsNullOrEmpty(ViewBag.ErrorText))
    {
        <div id="form1_msg" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
            @ViewBag.ErrorText
        </div>
    }
    <div class="box-body">
        <div class="form-group">
            @Html.ActionLink("ไฟล์ตัวอย่าง", "DownloadDeductExampleFile", new { })<br />
            @Html.ActionLink("ประเภทรายการ", "DownloadTransactionType", new { })
            <a class="help-block">กรุณาเลือกไฟล์ที่ต้องการ Import</a>
            <input type="file" name="file" id="exampleInputFile">
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-primary" onclick="waitingDialog.show('กำลัง Upload กรุณารอสักครู่');setTimeout(function () {waitingDialog.hide();}, 1000000);">ยืนยัน</button>
    </div>

    @*End Upload Form*@
</form>

@section ViewSpecificJavascript
{
    <script>
    </script>

}