@{
    ViewBag.Title = "Error:";
}

<div class="error-page">
    @*<h2 class="headline text-red">Format Error:</h2>*@

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i>@ViewBag.Header</h3>

        <p>
            @ViewBag.MSG
        </p>

        <a href="@Url.Action("Index", "Upload")" class="btn btn-default" role="button">Upload File</a>
    </div>
</div>