@*
    Parameters:
    Functions: GetHeir_dt(appId)
*@
@{
    <div id="Heir_Form">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">ผู้รับผลประโยชน์</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-sm-12 col-md-12">
                    <table id="dtHeir" name="dtHeir" class="table table-bordered table-striped" style="width: 100%"></table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const GetHeir_dt = (appId) => {
        $('#dtHeir').empty();
        var appTable = $('#dtHeir').DataTable({
            lengthChange: false,
            info: false,
            paging: false,
            searching: false,
            processing: true,
            serverSide: true,
            responsive: true,
            destroy: true,
            ajax: {
                url: '@Url.Action("HeirSelect_dt","Monitor")',
                method: 'POST',
                data: function (d) {
                    d.draw = d.draw;
                    d.pageSize = 999;
                    d.indexStart = d.start;
                    d.sortField = d.columns[d.order[0].column].data;
                    d.orderType = d.order[0].dir;
                    d.search = d.search;
                    d.appId = appId;
                }
            },
            columns: [
                { title: 'คำนำหน้า', data: 'Title' },
                { title: 'ชื่อ', data: 'FirstName' },
                { title: 'นามสกุล', data: 'LastName' },
                { title: 'ความสัมพันธ์', data: 'RelationType' }

            ]
        });
    }
    </script>
}