@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>
            <li>
                <a href="@Url.Action("Index", "SearchDebt")"><i class="fa fa-link"></i> <span>SearchDebt Page Index</span></a>
            </li>
            <li>
                <a href="@Url.Action("Payment", "SearchDebt")"><i class="fa fa-link"></i> <span>Payment</span></a>
            </li>
            <li>
                <a href="@Url.Action("Index", "SendPremium")"><i class="fa fa-link"></i> <span>SendPremium Page Index</span></a>
            </li>
            @*<li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i> <span>Multilevel</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Link in level 2</a></li>
                        <li><a href="#">Link in level 2</a></li>
                    </ul>
                </li>*@
        </ul>
        @* END Menu *@
    </section>
</aside>