.answerList {
    margin-bottom: 15px;
}

ol, ul {
    list-style: none;
}

.answerList li:first-child {
    border-top-width: 0;
}

.answerList li {
    padding: 3px 0;
}

.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}