body, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Kanit', sans-serif !important;*/
    font-family: 'Kanit','Sarabun', sans-serif !important;
}
/*----bg-color----*/
.bg-red {
    background-color: #ff6384 !important;
}

.bg-yellow {
    background-color: #f4e542 !important;
}

.bg-blue {
    background-color: #42bcf4 !important;
}

.bg-purple {
    background-color: #9f84f9 !important;
}

.bg-green {
    background-color: #42f48c !important;
}

.bg-brown {
    color: #fff !important;
    background-color: #964b00 !important;
}
/*----end----*/
label.error {
    color: red;
    border: none !important;
    cursor: default !important;
}

.error {
    color: red;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.font-header {
    font-size: 20px;
    font-weight: bold;
}

.form-group-lg-flat .form-control {
    height: 46px;
    font-size: 18px;
    line-height: 1;
}

.font-detail-normal-16 {
    font-size: 16px;
    font-weight: normal !important;
    text-align: left !important;
}
/* Loading Spinner */
#loading {
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    background: rgba(255,255,255,0.5);
    /* display: none; */
}

.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    top: 50%;
    left: 50%;
    text-align: center;
}

    .lds-heart div {
        top: 32px;
        left: 32px;
        position: absolute;
        width: 32px;
        height: 32px;
        /*background: #fff;*/
        background: #e90c59;
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    }

        .lds-heart div:after,
        .lds-heart div:before {
            content: " ";
            position: absolute;
            display: block;
            width: 32px;
            height: 32px;
            background: #e90c59;
        }

        .lds-heart div:before {
            left: -24px;
            border-radius: 50% 0 0 50%;
        }

        .lds-heart div:after {
            top: -24px;
            border-radius: 50% 50% 0 0;
        }

@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }

    5% {
        transform: scale(1.1);
    }

    39% {
        transform: scale(0.85);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0.9);
    }
}
/*-----------------END------------------------*/

/*-----------------CSS Me---------------------*/
.td-center {
    text-align: center;
}

/*----------------DATA TABLE------------------*/
table {
    font-size: 16px;
}

th.h-dt-center {
    vertical-align: middle !important;
    text-align: center;
}

th.h-dt-left {
    text-align: left;
}

th.h-dt-right {
    text-align: right;
}

td.d-dt-center {
    text-align: center;
}

td.d-dt-left {
    text-align: left;
}

td.d-dt-right {
    text-align: right;
}

td.selected {
    font-weight: bold;
    background-color: #8EDCF8;
}

td.d-dt-center-checkbox {
    vertical-align: middle !important;
    text-align: center;
}

td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

/*-----------------Media Query----------------*/

/*==========  Non-Mobile First Method  ==========*/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .set-align {
        text-align: right;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    table {
        font-size: 16px;
    }

    h3 {
        font-size: 25px !important;
        margin-left: 15px
    }

    h4 {
        font-size: 15px !important;
        margin-left: 15px
    }

    .set-align {
        text-align: left;
    }

    .info-box {
        min-height: 160px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: right !important;
    }
}

.dataTables_length {
    display: block !important;
}

.status_label {
    display: block !important;
}

.dot_status {
    display: none !important;
}

.subject_date {
    display: none !important;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
    span {
        font-size: 9px !important;
    }

    h3 {
        font-size: 25px !important;
        margin-left: 10px
    }

    h4 {
        font-size: 15px !important;
        margin-left: 10px
    }

    .dataTables_length {
        display: none !important;
    }

    .subject_date {
        display: inline-block !important;
        font-size: 65% !important;
    }

    .dot_status {
        display: block !important;
    }

    .status_label {
        display: none !important;
    }

    table {
        font-size: 14px;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    .info-box {
        min-height: 120px !important;
    }

    .info-box-text {
        font-size: 18px !important;
    }

    .badge, .none-badge, .info-box-number {
        font-size: 11px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: left !important;
    }

    ul.answerList {
        padding-left: 5px !important;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 390px) {
    span {
        font-size: 9px !important;
    }

    h3 {
        font-size: 20px !important;
        margin-left: 25px
    }

    h4 {
        font-size: 15px !important;
        margin-left: 25px
    }

    table {
        font-size: 12px;
    }

    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    .info-box {
        min-height: 100px !important;
    }

    .info-box-text {
        font-size: 16px !important;
    }

    .badge, .none-badge, .info-box-number {
        font-size: 8px !important;
    }

    .row1-align {
        text-align: left !important;
    }

    .row2-align {
        text-align: left !important;
    }
}
/*----------------DIV HOVER-------------------*/
.div_hover {
    background-color: #F0F8FF;
}

    .div_hover:hover {
        cursor: pointer;
        background-color: #86cdf5 !important;
    }

/*button*/
.btn-ellipse {
    border-radius: 15px;
}
/*end button*/