@{
    ViewBag.Title = "รายงานสลักหลังผู้เอาประกัน";
}

<style>
    .table {
        font-size: 14px;
    }

    .toolbar {
        float: left;
    }
</style>
<div class="row">
    @* operation *@
    <div class="col-sm-12 col-md-12" id="Operate_Form">
        <div class="box box-default">
            <div class="box-body">
                <div class="col-sm-12 col-md-offset-5 col-md-5">
                    <label class="control-label" for=""></label>
                    <form id="formsearch">
                        <input type="text" id="txtSearch" class="form-control" placeholder="เลข Application/ชื่อ-สกุล ผู้เอาประกัน/เลขบัตรประชาชน/เบอร์โทรศัพท์" />
                    </form>
                </div>
                <div class="col-sm-12 col-md-2">
                    <label class="control-label" for=""></label>
                    <button class="btn btn-block btn-info" id="btnSearch" type="button">ค้นหา</button>
                </div>
            </div>
        </div>
    </div>
    @* end *@
</div>