<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master1.master.cs" Inherits="SmileSDataCenterV1.Master1" %>

<link href="<%=Page.ResolveClientUrl("~/css/bootstrap.css")%>" rel="stylesheet" />
<link href="<%=Page.ResolveClientUrl("~/css/smiles.css") %>" rel="stylesheet" />
<link href="<%=Page.ResolveClientUrl("~/js/smiles.js") %>" rel="stylesheet" />
<script src="<%=Page.ResolveClientUrl("~/js/bootstrap.js") %>"></script>
<script src="<%=Page.ResolveClientUrl("~/js/jquery-3.1.1.min.js") %>"></script>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>SmileS DataCenter V1</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <%-- ก๊อบของ SmileClaimV1 ของพี่แจ็ค มา --%>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div>
                        <a href="<%= Page.ResolveUrl("") %>">
                            <table style="width: 100%;">
                                <tr>
                                    <td colspan="3" style="height: 3px;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>
                                            <img id="imgLogo" runat="server" src="Image/LogoMini.png" class="img-rounded" /></span>
                                    </td>
                                    <td style="width: 10px;"></td>
                                    <td>
                                        <span class="navbar-brand">SmileDataCenter</span>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </div>
                <div style="height: 12px;"></div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a id="Menu1" href="#" runat="server">Roles<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%=Page.ResolveUrl("/Module/Identity/frmManageRoles.aspx") %>">จัดการ Roles</a></li>
                                <li><a href="<%=Page.ResolveUrl("/Module/Identity/frmAddRoleToUser.aspx") %>">เพิ่ม Role to Users</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a id="Menu2" href="#" runat="server">User<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%=Page.ResolveUrl("/Module/Identity/frmAddNewUser.aspx") %>">เพิ่ม User</a></li>
                                <li><a href="<%=Page.ResolveUrl("/Module/Identity/frmAddRolesToUser.aspx") %>">เพิ่ม Roles ให้กับ User</a></li>
                                <li><a href="<%=Page.ResolveUrl("/Module/Identity/frmResetPassword.aspx") %>">Reset Password</a></li>
                                <li><a href="<%=Page.ResolveUrl("/Module/Identity/frmUpdatePassword.aspx") %>">Update Password</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a id="Menu3" href="#" runat="server">นำเข้าข้อมูล<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">นำเข้าข้อมูล User จากไฟล์ Excel</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <asp:LoginView runat="server" ViewStateMode="Disabled">
                            <AnonymousTemplate>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="<%=Page.ResolveUrl("/Login.aspx") %>">เข้าสู่ระบบ</a></li>
                                </ul>
                            </AnonymousTemplate>
                            <LoggedInTemplate>
                                <li class="dropdown"><a href="#">สวัสดีคุณ <%= Page.User.Identity.Name %><span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li><a href="<%=Page.ResolveUrl("/Module/Identity/frmChangePassword.aspx") %>">เปลี่ยนรหัสผ่าน</a></li>
                                        <li>
                                            <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="ออกจากระบบ" LogoutPageUrl="~/Login.aspx" OnLoggingOut="Unnamed_LoggingOut" />
                                        </li>
                                    </ul>
                                </li>
                            </LoggedInTemplate>
                        </asp:LoginView>
                    </ul>
                </div>
            </div>
        </div>
        <%--  --%>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
