.error {
    color: #dd4b39;
    font-weight: 400;
    border-color: #dd4b39;
}

thead, th {
    text-align: center;
}

/* OR */

.table thead,
.table th {
    text-align: center;
}

td.dt-center {
    text-align: center;
}

td.dt-right {
    text-align: right;
}

.small-box-custom {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

    .small-box-custom h3 {
        font-size: 38px;
        font-weight: bold;
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

.badge-confirm {
    color: #fff;
    background-color: #28a745;
}

.badge-unconfirm {
    color: #fff;
    background-color: #dc3545;
}

.badge-wait {
    color: #fff;
    background-color: #F39C12;
}

.badge-wait-blue {
    color: #fff;
    background-color: #00CCFF;
}

.inline-label {
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}