@model SmileSPACommunity.ViewModels.ApproveCustomerDetailDto
@{
    Layout = null;
}

<div class="modal-content" style="border-radius:10px">
    <div class="modal-header">
        <h4 class="modal-title text-center" id="exampleModalLabel" style="color:#000;"> <strong> โปรดเลือกสาเหตุการไม่อนมัติรายการนี้</strong></h4>
    </div>
    <div class="modal-body">

        <form id="form-validate" class="form-horizontal"
              asp-antiforgery="true"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-12">
                        <select class="form-control select2 " style="width: 100%;" tabindex="-1" aria-hidden="true" name="approveStatus" id="approveStatus" required>
                            <option value="">--- โปรดระบุ ---</option>
                            @{
                                var ApproveCause = ViewBag.ApproveCause as IEnumerable<SmileSPACommunity.Models.usp_ApproveCause_Select_Result>;
                                foreach (var get in ApproveCause)
                                {
                                    <option value="@get.ApproveCauseId">  @get.ApproveCause</option>
                                }
                            }
                        </select>

                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-12">
                        <textarea rows="5" id="approveRemark" name="approveRemark" class="form-control" placeholder="อื่นๆ โปรดระบุ"></textarea>
                    </div>
                </div>
            </fieldset>


            <input type="hidden" name="endorsePersonnelCustomerDetailHeaderId" value="@ViewBag.endorsePersonnelCustomerDetailHeaderId" />
            <input type="hidden" name="statusId" value="@ViewBag.statusId" />

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12 text-center">

                        <button type="button" class="btn btn-danger" data-dismiss="modal"> ยกเลิก</button>
                        <button type="submit" class="btn btn-success" id="submit"> ยืนยัน</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row"> </div>
    </div>
</div>