@model SmileSPACommunity.ViewModels.CommentInfoDto
@{
    Layout = null;
}


<div class="modal-content" style="border-radius:10px">
    <div class="modal-header" style="background-color:#df5151">
        <h4 class="modal-title" id="exampleModalLabel" style="color:#ffffff"> สาเหตุการไม่อนุมัติ</h4>
    </div>
    <div class="modal-body">

        <form id="form-validate" class="form-horizontal"
              asp-antiforgery="true"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="text" value="@Model.approveCause" readonly class="form-control">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-12">
                        <textarea rows="5" id="comment" name="comment" class="form-control" readonly>@Model.remark</textarea>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-12 text-center">

                        <button type="button" class="btn btn-danger" data-dismiss="modal"> Close</button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>