@{
    ViewBag.Title = "test gmail api";
}
<h4>Testtt</h4>
<input type="button" name="btntest" id="btntest" value="TESTTTT" />
@section ViewSpecificJavascript
{
    <script type="text/javascript">

        $(function () {
            chat = $.connection.chatHub;
            $.connection.hub.start().done(function () {
                //join group

                chat.server.joinGroup('000');
            });

            chat.client.receiveGroupMessage = function (name, message) {
                toastr["success"](name, message);
                //???
            };

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            /*END SignalR*/

            $('#btntest').click(function (e) {
                e.preventDefault();
                chat.server.sendGroupMessage("1111", 'ทดสอบ!', '000');
            })
        });
    </script>
}