<div class="row">
    @* SSS *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://sssph.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-heartbeat"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบประกันสุขภาพ</span>
                <br />
                <span class="info-box-number">SSS</span>
            </div>
        </div>
    </div>

    @* SSSPA *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://ssspa.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-graduation-cap"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">โปรแกรม PA นักเรียน</span>
                <br />
                <span class="info-box-number">SSSPA</span>
            </div>
        </div>
    </div>

    @* Critical Illness *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://critical.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-ambulance"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบประกันโรคร้ายแรง</span>
                <br />
                <span class="info-box-number">Critical Illness</span>
            </div>
        </div>
    </div>

    @* Miscellaneous *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://mcln.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ประกันภัยเบ็ดเตล็ด</span>
                <br />
                <span class="info-box-number">Miscellaneous</span>
            </div>
        </div>
    </div>

    @* Motor *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://b2b.siamsmile.co.th/sign/in', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-automobile"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">โปรแกรม Motor</span>
                <br />
                <span class="info-box-number">Motor (Broker-Mate)</span>
            </div>
        </div>
    </div>

    @* Underwrite Branch *@
    @*<div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://udwbranch.siamsmile.co.th/', '_blank');">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-phone"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">ระบบคัดกรองสาขา</span>
                    <br />
                    <span class="info-box-number">Underwrite Branch</span>
                </div>
            </div>
        </div>*@

    @* SSS CashReceive *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://ssscr.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-btc"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">โปรแกรม Cash Receive</span>
                <br />
                <span class="info-box-number">SSS-CashReceive</span>
            </div>
        </div>
    </div>

    @* SlipViewer *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('http://www.slipviewer.com/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-clipboard"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">โปรแกรม Slip เงินเดือน</span>
                <br />
                <span class="info-box-number">Slip Viewer</span>
            </div>
        </div>
    </div>

    @* HCM *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://siamsmile.mihcm.com/home/dashboard', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-group"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบ HR ใหม่</span>
                <br />
                <span class="info-box-number">HCM</span>
            </div>
        </div>
    </div>

    @* SSS-Doc *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('http://27.254.238.179:9129/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-pdf-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบจัดเก็บเอกสาร SSS-Doc</span>
                <br />
                <span class="info-box-number">SSS-Doc</span>
            </div>
        </div>
    </div>

    @* Smile-Doc *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('http://27.254.238.179:9139/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-pdf-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบจัดเก็บเอกสาร Smile-Doc</span>
                <br />
                <span class="info-box-number">Smile-Doc</span>
            </div>
        </div>
    </div>

    @* Customer Base *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://custbase.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบ Customer Base</span>
                <br />
                <span class="info-box-number">Customer Base</span>
            </div>
        </div>
    </div>

    @* SSSHR *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://ssshr.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-group"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบ HR เก่า</span>
                <br />
                <span class="info-box-number">SSSHR</span>
            </div>
        </div>
    </div>

    @* Incident *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://incident.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-exclamation-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบรับแจ้งปัญหาการใช้งาน SSS</span>
                <br />
                <span class="info-box-number">Incident</span>
            </div>
        </div>
    </div>

    @* Bill Payment *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://bill.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-exclamation-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบ Bill</span>
                <br />
                <span class="info-box-number">Bill Payment</span>
            </div>
        </div>
    </div>

    @* PACommunity *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://pac.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-university"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบประกัน PA ชุมชน</span>
                <br />
                <span class="info-box-number">PA Community</span>
            </div>
        </div>
    </div>

    @* UnderwriteBranchV2 - คัดกรองมอบบัตร *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://udwbranch2.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-id-card"></i></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบคัดกรองและมอบบัตร</span>
                @*<span class="info-box-text">เริ่มใช้งาน DCR กันยายน 2563</span>*@
                <br />
                <span class="info-box-number">Smile Underwrite</span>
            </div>
        </div>
    </div>

    @* Underwrite Audit *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://udwaudit.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-shield"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบตรวจสอบการคัดกรอง</span>
                <br />
                <span class="info-box-number">Underwrite Audit</span>
            </div>
        </div>
    </div>
    @* Roadside Assistance *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://rsas.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-car"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">บริการช่วยเหลือฉุกเฉินบนท้องถนน</span>
                <br />
                <span class="info-box-number">Roadside Assistance</span>
            </div>
        </div>
    </div>

    @* ClaimOnLine *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://col.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-medkit"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบสินไหมออนไลน์</span>
                <br />
                <span class="info-box-number">Claim On Line</span>
            </div>
        </div>
    </div>

    @* BankDirectDebit *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://bdd.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-paper-plane-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">BankDirectDebit</span>
                <br />
                <span class="info-box-number">BankDirectDebit</span>
            </div>
        </div>
    </div>

    @* claimpayback *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('http://operation.siamsmile.co.th:9152/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-money"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ClaimPayBack</span>
                <br />
                <span class="info-box-number">ClaimPayBack</span>
            </div>
        </div>
    </div>

    @* Fund Document *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://funddoc.siamsmile.co.th', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-archive"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบจัดส่งเอกสารเคลม</span>
                <br />
                <span class="info-box-number">Fund Document</span>
            </div>
        </div>
    </div>

    @* Premium Order *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://prmorder.siamsmile.co.th', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-paypal"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบใบแจ้งชำระเบี้ย</span>
                <br />
                <span class="info-box-number">Premium Order</span>
            </div>
        </div>
    </div>

    @* Premium *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://prm.siamsmile.co.th', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบเบี้ย</span>
                <br />
                <span class="info-box-number">New Premium</span>
            </div>
        </div>
    </div>

</div>

<hr>

<div class="row">

    @* SAP_PR *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('http://sap.siamsmile.co.th', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-powerpoint-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบ Web PR</span>
                <br />
                <span class="info-box-number">Web PR</span>
            </div>
        </div>
    </div>

    @* Smile Shop *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://siamsmileshop.com/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-shopping-cart"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบชอปปิ้งสินค้าสยามสไมล์</span>
                <br />
                <span class="info-box-number">Smile Shop</span>
            </div>
        </div>
    </div>

    @* Zebra Car *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://new-growth-7654.glideapp.io/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-car"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบแจ้งงานรถม้าลาย</span>
                <br />
                <span class="info-box-number">Zebra Car</span>
            </div>
        </div>
    </div>

    @* Meesuk *@
    <div class="col-md-3 col-sm-6 col-xs-12" style="cursor: pointer" onclick="window.open('https://meesuk.siamsmile.co.th/', '_blank');">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-smile-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">ระบบแต้มมีสุข</span>
                <br />
                <span class="info-box-number">Meesuk</span>
            </div>
        </div>
    </div>
</div>