@{
    Layout = "~/Views/Shared/_Layout_Empty.cshtml";
}

<div class="register-box">

    <div class="register-box-body">
        <div class="row">
            <div class="col-xs-12">
                <img src="~/Content/img/sslogo.png" width="200px" height="200px" style="display: block;margin-left: auto;margin-right: auto" />
            </div>
            <div class="col-xs-12">
                @*<i class="fa  fa-check" style="color: green"></i>*@
                <div class="alert alert-success alert-dismissible">

                    <h4><i class="icon fa fa-check"></i> บันทึกข้อมูลสำเร็จ</h4>
                    คุณได้ทำการแสดงความประสงค์การใช้สิทธิประโยชน์ทางภาษี เรียบร้อยแล้ว
                </div>
            </div>
        </div>
    </div>
</div>
@section ViewSpecificJavascript
{
    <script type="text/javascript">
        $(function () {

            setTimeout(closeWindow(), 1000);
        });

        function refresh() {
            var sURL = unescape("http://(some web page)/");
            window.location.replace(sURL);
        }
        function closeWindow() {
            var isiPad = navigator.userAgent.match(/iPad/i) != null;
            var isiPhone = navigator.userAgent.match(/iPhone/i) != null;
            if (isiPad || isiPhone) {
                setTimeout("refresh()", 300);
            } else {
                window.close();
            }
        }
    </script>
}