@{
    ViewBag.Title = "รายงานรายละเอียการใช้ Point";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="form1_msg" class="alert alert-danger alert-dismissible" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                    กรุณากรอกข้อมูลให้ถูกต้องและครบถ้วน
                </div>
                <!-- form start -->
                <form class="form-horizontal" id="form1" action="@Url.Action("Transaction")" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="IncreaseOrDecrease" class="col-sm-2 control-label">ประเภทบัญชี</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" name="IncreaseOrDecrease" id="AccountTypeId" style="width: 100%;">
                                    <option value="-1">ทั้งหมด</option>
                                    <option value="1">ได้รับแต้ม</option>
                                    <option value="0">ใช้แต้ม</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DateFrom" class="col-sm-2 control-label">ตั้งแต่วันที่*</label>
                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" name="DateFrom" id="DateFrom" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DateTo" class="col-sm-2 control-label">ถึงวันที่*</label>
                            <div class="col-sm-4">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right datepicker" name="DateTo" id="DateTo" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="col-sm-offset-2 btn btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
                        <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
@section ViewSpecificJavascript{
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $(".datepicker").datepicker();

            $("#form1").validate({
                rules: {
                    DateFrom: { required: true },
                    DateTo: { required: true }
                },
                invalidHandler: function (e, r) {
                    $("#form1_msg").css('display', 'block');
                },
                submitHandler: function (e) {
                    e.preventDefault();
                }
            });
        });
    </script>
}