@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>EmployeeList</h2>

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <h1 class="text-center">Hello World</h1>

    <div class="container">
        <table id="tbl" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>empCode</th>
                    <th>empName</th>
                    <th>empNickname</th>
                    <th>department</th>
                    <th>mobile</th>
                    <th>email</th>
                    <th>facebook</th>
                    <th>lineID</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>empCode</th>
                    <th>empName</th>
                    <th>empNickname</th>
                    <th>department</th>
                    <th>mobile</th>
                    <th>email</th>
                    <th>facebook</th>
                    <th>lineID</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var t = $('#tbl').DataTable({
                "ajax": {
                    'url': "http://49.231.178.249:9683/mobileapi/employees/list?pagesize=50",
                    'type': 'GET',
                    'beforeSend': function (request) {
                        request.setRequestHeader("Authorization", '9a4911e5c9a8fedbb37497e0f5cc5302');
                    }
                },
                "columns": [
                    { "data": "empCode" },
                    { "data": "empName" },
                    { "data": "empNickname" },
                    { "data": "department" },
                    { "data": "mobile" },
                    { "data": "email" },
                    { "data": "facebook" },
                    { "data": "lineID" }
                ],
                "order": [[1, 'asc']]
            });

        });
    </script>
</body>
</html>