<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmileMotorV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=147.50.133.169;Initial Catalog=DataCenterV1;Persist Security Info=True;User ID=App_SmileMotorV1;password=-v200wfhxt" providerName="System.Data.SqlClient" />
    <add name="MotorV1Entities" connectionString="metadata=res://*/Models.MotorV1.csdl|res://*/Models.MotorV1.ssdl|res://*/Models.MotorV1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=MotorV1;User ID=App_SmileMotorV1;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SSSCashReceiveEntities" connectionString="metadata=res://*/Models.CashReceiveModel.csdl|res://*/Models.CashReceiveModel.ssdl|res://*/Models.CashReceiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=SSSCashReceive;User ID=App_SmileMotorV1;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataCenterV1Entities" connectionString="metadata=res://*/Models.DataCenterV1.csdl|res://*/Models.DataCenterV1.ssdl|res://*/Models.DataCenterV1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=DataCenterV1;User ID=App_SmileMotorV1;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="th-TH" uiCulture="th-TH" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <customErrors mode="Off">
      <error statusCode="401" redirect="/Modules/Motor/ErrorPage/frmError401Unauthorized.aspx" />
      <error statusCode="403" redirect="/Modules/Motor/ErrorPage/frmError403Forbidden.aspx" />
    </customErrors>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.92.1.0" newVersion="0.92.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="MotorUser" />
        <allow roles="MotorUnderwrite" />
        <allow roles="MotorDeveloper" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <applicationSettings>
    <SmileMotorV1.Properties.Settings>
      <setting name="CashreceiveLink" serializeAs="String">
        <value>http://49.231.178.253:84/SSSCashReceive/Modules/CashReceive/frmReceiveList.aspx?</value>
      </setting>
      <setting name="ScanPDF" serializeAs="String">
        <value>http://49.231.178.252:81/SSSDoc/Modules/Document/frmDocumentScanPDF.aspx?</value>
      </setting>
      <setting name="OpenPDF" serializeAs="String">
        <value>http://49.231.178.252:81/SSSDoc/Modules/Document/frmDocumentOpenPDF.aspx?</value>
      </setting>
    </SmileMotorV1.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: 42417ADD-069B-49AA-A334-F2CAE7587E97-->