<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SmileSIncident.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- Add Serilog -->
		<add key="serilog:minimum-level" value="Debug" />
		<add key="serilog:minimum-level:override:Microsoft" value="Warning" />
		<add key="serilog:minimum-level:override:Microsoft.AspNetCore.Mvc" value="Error" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="%BASEDIR%\Logs\log.log" />
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="15" />
		<add key="serilog:using:MSSqlSever" value="Serilog.Sinks.MSSqlServer" />
		<add key="serilog:write-to:MSSqlServer.connectionString" value="Data Source=147.50.133.169;initial catalog=Incident;persist security info=True;user id=DevDBA;password=-v200wfhxt;MultipleActiveResultSets=True;" />
		<add key="serilog:write-to:MSSqlServer.tableName" value="Logs" />
		<add key="serilog:write-to:MSSqlServer.schemaName" value="EventLogging" />
		<add key="serilog:write-to:MSSqlServer.batchPostingLimit" value="1000" />
		<add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="true" />
		<add key="serilog:write-to:MSSqlServer.period" value="0.00:00:30" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
	<system.web>
		<globalization culture="th-TH" uiCulture="th" />
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" maxRequestLength="31240" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="RouteJs" />
			<add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
			<remove name="WebHelpers" />
			<add name="WebHelpers" verb="GET" path="WebHelpers.axd" type="WebHelpers.Mvc5.Enum.EnumHandler" preCondition="integratedMode" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<!--
    exposeAllRoutes: Sets whether to expose all routes to the site.
    If true, all routes will be exposed unless explicitly hidden using the [HideRoutesInJavaScript]
    attribute on the controller. If false, all routes will be hidden unless explicitly exposed
    using the [ExposeRoutesInJavaScript] attribute.

    lowerCaseUrls: Sets whether urls should be converted to lowercase.
    If true, urls will be converted to lowercase while preserving route value placeholders.
    Example: "Posts/{postKey}/Edit" -> "posts/{postKey}/edit"
  -->
	<routeJs exposeAllRoutes="true" lowerCaseUrls="false" />
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ISSOService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://uat.siamsmile.co.th:9110/Services/SSOService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISSOService" contract="SSOService.ISSOService" name="BasicHttpBinding_ISSOService" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<SmileSIncident.Properties.Settings>
			<setting name="TokenName" serializeAs="String">
				<value>SiamsmileToken</value>
			</setting>
			<setting name="LoginPageURL" serializeAs="String">
				<value>https://demoauthserver.devsiamsmile.com</value>
			</setting>
			<setting name="LogoutURL" serializeAs="String">
				<value>https://demoauthserver.devsiamsmile.com/Account/Logout</value>
			</setting>
			<setting name="LogoutAllURL" serializeAs="String">
				<value>https://demoauthserver.devsiamsmile.com/Account/Logout</value>
			</setting>
			<setting name="ChangePasswordURL" serializeAs="String">
				<value>https://demoauthserver.devsiamsmile.com/Manage/ChangePassword</value>
			</setting>
			<setting name="PathStorage" serializeAs="String">
				<value>D:\FTP\Develop\Publish\DocumentFiles_Storage\Incident\</value>
			</setting>
			<setting name="UrlStorage" serializeAs="String">
				<value>http://uat.siamsmile.co.th:9193</value>
			</setting>
			<setting name="SecretKey" serializeAs="String">
				<value>$ecretKeyF0rUAT</value>
			</setting>
			<setting name="RefreshTokenName" serializeAs="String">
				<value>SiamsmileRefreshToken</value>
			</setting>
			<setting name="ClientId" serializeAs="String">
				<value>93c3cc46-7c3b-40a4-841e-24ae81b4afda</value>
			</setting>
			<setting name="Issuer" serializeAs="String">
				<value>https://demoauthserver.devsiamsmile.com</value>
			</setting>
			<setting name="Scope" serializeAs="String">
				<value>openid profile email roles employee_profile employee_branch employee_department employee_team offline_access</value>
			</setting>
			<setting name="CheckSession" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="AcceptedFileTypes" serializeAs="String">
				<value>.pdf, .doc, .docx, .jpg, .jpeg, .png, .xlsx, .txt</value>
			</setting>
			<setting name="CallbackURL" serializeAs="String">
				<value>http://localhost:2111/Auth/SigninCallback</value>
			</setting>
		</SmileSIncident.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
		<!--<add name="IncidentEntities" connectionString="metadata=res://*/Models.IncidentModel.csdl|res://*/Models.IncidentModel.ssdl|res://*/Models.IncidentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=Incident;user id=App_SmileSIncident;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DataCenterV1Entities" connectionString="metadata=res://*/Models.DatacenterModel.csdl|res://*/Models.DatacenterModel.ssdl|res://*/Models.DatacenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=DataCenterV1;user id=App_SmileSDataCenterV2;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="IncidentEntities" connectionString="metadata=res://*/Models.IncidentModel.csdl|res://*/Models.IncidentModel.ssdl|res://*/Models.IncidentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=Incident;user id=DevDBA;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DataCenterV1Entities" connectionString="metadata=res://*/Models.DatacenterModel.csdl|res://*/Models.DatacenterModel.ssdl|res://*/Models.DatacenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=DataCenterV1;user id=DevDBA;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>