
@{
    ViewBag.Title = "MotorReportCheckAndConsideringUnderwrite";
    Layout = "~/Views/Shared/_LayoutForTopMotor.cshtml";
}

<div class="box box-header bg-aqua">
    <center><span style="font-size:large;">ประกันรถยนต์</span></center>
</div>
<div class="row" style="margin-top: 25px">
    @* search form *@
    <div class="col-sm-12 col-md-6">
        <div class="box box-info">
            <div class="box-header">
                <h4>รายงาน</h4>
            </div>
            <div class="box-body">
                <div class="form-group row">
                    <div class="col-sm-12 col-md-offset-1 col-md-10">
                        <label class="control-label">งวดความคุ้มครอง:</label>
                        <select class="form-control" id="select_period">
                            <option value="-1" disabled selected>----กรุณาเลือก----</option>
                            @foreach (var itm in ViewBag.PeriodList)
                            {
                                <option value="@itm.Value.ToString("dd/MM/yyyy")"> @itm.Display</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* end form *@
    @* right form *@
    <div class="col-sm-12 col-md-12">
        @* download form *@
        <div class="row">
            <div class="col-sm-12 col-md-6" id="Download_form" hidden>
                <div class="box box-success">
                    <div class="box-body">
                        <div class="form-group row">
                            <div class="box-header">
                                <h4 class="text-center">รายงานตรวจสอบการคัดกรอง</h4>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-offset-3 col-md-6">
                                <button type="button" id="btnDownload1" class="btn btn-block btn-success" onclick="getDownloadLink()">Export to Excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* end download *@

    </div>
</div>

@section ViewSpecificJavascript
    {
    <script type="text/javascript">
        $(function () {
            $('#select_period').change((e) => {
                e.preventDefault();
                if ($('#select_period').val() != -1) {
                    $('#Download_form').show();
                }
            });

        });

        function getDownloadLink() {
                loadingSpinner('fadeIn', 999999);
                $.ajax({
                    url: "@Url.Action("MotorAuditInsureReport", "MotorReport")",
                    type: "POST",
                    data: {
                        period: $('#select_period').val(),
                    },
                    success: function (data) {
                          if (data.IsResult == false) {
                            loadingSpinner('fadeOut');
                            swal("ผลการค้นหา", data.Msg, "warning", function (e) {
                                swal.close();
                                return false;
                            });
                          } else {
                              let reportName = "รายงานตรวจสอบการคัดกรอง";
                            window.location = `@Url.Action("Download")?reportName=${reportName}`;
                            loadingSpinner('fadeOut');
                        }
                    },
                     error: function (jqXHR, exception) {
                         checkXHRStatus(jqXHR.status);
                         loadingSpinner('fadeOut');
                     }
                });
        }
        function checkXHRStatus(xhrStatus) {
           var msg = '';
              if (xhrStatus === 0) {
                  msg = 'Not connect.\n Verify Network.';
              } else if (jqXHR.status == 404) {
                  msg = 'Requested page not found. [404]';
              } else if (jqXHR.status == 500) {
                  msg = 'Internal Server Error [500].';
              } else if (exception === 'parsererror') {
                  msg = 'Requested JSON parse failed.';
              } else if (exception === 'timeout') {
                  msg = 'Time out error.';
              } else if (exception === 'abort') {
                  msg = 'Ajax request aborted.';
              } else {
                  msg = 'Uncaught Error.\n' + jqXHR.responseText;
            }
            swal("ไม่สำเร็จ", msg, "error");
        }
    </script>
}
