@{
    ViewBag.Title = "Error";
}

<div class="error-page">
    <h2 class="headline text-red">400</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> เกิดข้อผิดพลาดระหว่างการอัพโหลด</h3>

        <p>
            รายละเอียด : @ViewBag.Msg
        </p>

        <a href="@Url.Action("ImportRoadsideAssis", "RoadsideAssistance")" class="btn btn-default" role="button">ตกลง</a>
    </div>
</div>