@{
    Layout = "~/Views/Shared/_LayoutForSurvey.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div style="text-align:center">
            <label style="font-size:2rem;font-style:italic;color:#337ab7;margin-top:4rem" class="box-title">เกิดข้อผิดพลาด :'(</label>
        </div>
        <div style="text-align:center">
            <label style="font-size:1.5rem;" class="box-title">@ViewBag.Msg</label>
        </div>
        <div style="text-align:center">
            <img src="~/Content/img/Fail.png" style="max-width: 250px;margin-top: -50px;" class="responsive">
        </div>
    </div>
</div>