@{
    Layout = "~/Views/Shared/_LayoutForSurvey.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div style="text-align:center">
            <label style="font-size:18px;font-style:italic;color:#337ab7;margin-top:4rem" class="box-title">ขอขอบพระคุณสำหรับข้อเสนอแนะของท่าน</label>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align:center;">
                <label style="font-size:1.5rem;" class="box-title" id="thank1"></label><br />
                <label style="font-size:1.5rem;" class="box-title" id="thank2"></label><br />
                @if (ViewBag.Img == true)
                {
                    <a class="btn btn-sm" style="margin-top: 2px;" href="https://line.me/R/ti/p/%40siamsmile" target="_blank">คลิก!<img src="~/Content/img/line.png" style="width:55px;height:45px;" /></a>
                }
            </div>
        </div>
        <div style="text-align:center">
            <img src="~/Content/img/Mascot.png" style="max-width:150px;" class="responsive">
        </div>
    </div>
    <input id="msg" value="@ViewBag.Msg" hidden/>
</div>

@section ViewSpecificJavascript
{
    <script type="text/javascript">

        $(function () {

                var val = $('#msg').val();
                var text = val.split(" ");

                $('#thank1').text(text[0]);
                $('#thank2').text(text[1]);
            
    })
    </script>
        }