#loadingCancer {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    display: inline-block;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /*----*/
    background-color: #EFEFEF;
    z-index: 1000;
    opacity: .7; /* in FireFox */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-page {
    position: relative;
    -webkit-animation-name: animatepage;
    -webkit-animation-duration: 1s;
    animation-name: animatepage;
    animation-duration: 1s
}

@-webkit-keyframes animatepage {
    from {
        top: -100px;
        opacity: 0
    }

    to {
        top: 0px;
        opacity: 10
    }
}

@keyframes animatepage {
    from {
        top: -100px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 10
    }
}