<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SmileSClaimOnLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- 06074 Add Serilog -->
		<add key="serilog:minimum-level" value="Debug" />
		<add key="serilog:minimum-level:override:Microsoft" value="Warning" />
		<add key="serilog:minimum-level:override:Microsoft.AspNetCore.Mvc" value="Error" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="%BASEDIR%\Logs\log.log" />
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="15" />
		<add key="serilog:using:MSSqlSever" value="Serilog.Sinks.MSSqlServer" />
		<add key="serilog:write-to:MSSqlServer.connectionString" value="Data Source=147.50.133.169;initial catalog=ClaimOnLine;persist security info=True;user id=devcrud;password=-v200wfhxt;MultipleActiveResultSets=True;" />
		<add key="serilog:write-to:MSSqlServer.tableName" value="SmileSClaimOnLineLogs" />
		<add key="serilog:write-to:MSSqlServer.schemaName" value="EventLogging" />
		<add key="serilog:write-to:MSSqlServer.batchPostingLimit" value="1000" />
		<add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="true" />
		<add key="serilog:write-to:MSSqlServer.period" value="0.00:00:30" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
	<system.web>
		<globalization culture="th-TH" uiCulture="th" />
		<compilation targetFramework="4.6.1" debug="true" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.7" newVersion="6.0.0.7" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.15.0" newVersion="8.0.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<remove name="RouteJs" />
			<add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
			<remove name="WebHelpers" />
			<add name="WebHelpers" verb="GET" path="WebHelpers.axd" type="WebHelpers.Mvc5.Enum.EnumHandler" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
	<!--
    exposeAllRoutes: Sets whether to expose all routes to the site.
    If true, all routes will be exposed unless explicitly hidden using the [HideRoutesInJavaScript]
    attribute on the controller. If false, all routes will be hidden unless explicitly exposed
    using the [ExposeRoutesInJavaScript] attribute.

    lowerCaseUrls: Sets whether urls should be converted to lowercase.
    If true, urls will be converted to lowercase while preserving route value placeholders.
    Example: "Posts/{postKey}/Edit" -> "posts/{postKey}/edit"
  -->
	<routeJs exposeAllRoutes="true" lowerCaseUrls="false" />
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IEmployeeService" />
				<binding name="BasicHttpBinding_IMobileService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://uat.siamsmile.co.th:9204/Module/Employee/EmployeeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService" contract="EmployeeService.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
			<endpoint address="http://uat.siamsmile.co.th:9204/Module/Mobile/MobileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMobileService" contract="DataCenterMobileService.IMobileService" name="BasicHttpBinding_IMobileService" />
		</client>
	</system.serviceModel>
	<connectionStrings>
		<add name="ClaimOnLineEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=ClaimOnLine;persist security info=True;user id=devcrud;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ClaimOnLineDBContext" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=147.50.133.169;initial catalog=ClaimOnLine;persist security info=True;user id=devcrud;password=-v200wfhxt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="ClaimOnLineEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=ClaimOnLine;persist security info=True;user id=App_ClaimOnLine;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ClaimOnLineDBContext" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.238.180;initial catalog=ClaimOnLine;user id=App_ClaimOnLine;password=wxFi'giupodyog5vt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<applicationSettings>
		<SmileSClaimOnLine.Properties.Settings>
   <setting name="TokenName" serializeAs="String">
    <value>SiamsmileToken</value>
   </setting>
   <setting name="LoginPageURL" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9110/Auth/Login</value>
   </setting>
   <setting name="LogoutURL" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9110/Auth/Logout</value>
   </setting>
   <setting name="LogoutAllURL" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9110/Auth/LogoutAll</value>
   </setting>
   <setting name="ChangePasswordURL" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9110/Auth/ChangePassword</value>
   </setting>
   <setting name="LinkClaimHeaderGroupPH" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9101/Modules/Claim/frmClaimOnLineHeaderGroupSelect.aspx?clhg=</value>
   </setting>
   <setting name="LinkClaimHeaderGroupPA" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9102/Modules/Claim/frmClaimOnLineHeaderGroupSelect.aspx?clhg=</value>
   </setting>
   <setting name="SecretKey" serializeAs="String">
    <value>$ecretKeyF0rUAT</value>
   </setting>
   <setting name="LinkClaimOverview" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9101/Modules/Claim/frmClaimApproveOverview.aspx?clm=</value>
   </setting>
   <setting name="LinkClaimOverviewPA" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9102/Modules/Claim/frmClaimPA_New.aspx?clm=</value>
   </setting>
   <setting name="Environment" serializeAs="String">
    <value>UAT</value>
   </setting>
   <setting name="Survey_EndPoint" serializeAs="String">
    <value>https://uatsurvey.siamsmile.co.th/</value>
   </setting>
   <setting name="RefreshTokenName" serializeAs="String">
    <value>SiamsmileRefreshToken</value>
   </setting>
   <setting name="ClientId" serializeAs="String">
    <value>93c3cc46-7c3b-40a4-841e-24ae81b4afda</value>
   </setting>
   <setting name="Issuer" serializeAs="String">
    <value>https://demoauthserver.devsiamsmile.com</value>
   </setting>
   <setting name="SMS_Template_AccountEqual10" serializeAs="String">
    <value>บริษัทได้อนุมัติค่าสินไหมทดแทนเข้าบัญชี xxx-x-x{0}-x {1} กรณีรับเงินไม่ถูกต้อง หรือไม่ได้เรียกร้องสินไหม ติดต่อ 1434</value>
   </setting>
   <setting name="SMS_Template_AccountOther" serializeAs="String">
    <value>บริษัทได้อนุมัติค่าสินไหมทดแทนเข้าบัญชี xxxx{0}xxxx {1} กรณีรับเงินไม่ถูกต้อง หรือไม่ได้เรียกร้องสินไหม ติดต่อ 1434</value>
   </setting>
   <setting name="SMS_Template_AccountEqual10WithSurvey" serializeAs="String">
    <value>ขอขอบคุณที่ใช้บริการสยามสไมล์ ท่านสามารถดูรายละเอียดสินไหมและโปรดประเมิน ความพึงพอใจในการรับบริการ ที่ </value>
   </setting>
   <setting name="SMS_Template_AccountOtherWithSurvey" serializeAs="String">
    <value>ขอขอบคุณที่ใช้บริการสยามสไมล์ ท่านสามารถดูรายละเอียดสินไหมและโปรดประเมิน ความพึงพอใจในการรับบริการ ที่ </value>
   </setting>
   <setting name="CheckSession" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PhonNumberForTest" serializeAs="String">
    <value>0909638287</value>
   </setting>
   <setting name="SMSURL" serializeAs="String">
    <value>http://uat.siamsmile.co.th:9215/api/sms/SendSMSWithRef</value>
   </setting>
   <setting name="RabbitMqHost" serializeAs="String">
    <value>192.168.200.50</value>
   </setting>
   <setting name="RabbitMqUsername" serializeAs="String">
    <value>rabbitmq</value>
   </setting>
   <setting name="RabbitMqPassword" serializeAs="String">
    <value>Abcd1234#</value>
   </setting>
   <setting name="RabbitMqUri" serializeAs="String">
    <value>exchange:PayTransferAPI.Contract:TempPayListHeaderCreate</value>
   </setting>
   <setting name="RabbitMqPort" serializeAs="String">
    <value>5672</value>
   </setting>
   <setting name="RabbitMqVHost" serializeAs="String">
    <value>/</value>
   </setting>
   <setting name="PayAutoBankAccNo" serializeAs="String">
    <value>0000348333</value>
   </setting>
   <setting name="PayAutoBankAccName" serializeAs="String">
    <value>Siam smile Test</value>
   </setting>
   <setting name="MinBalance" serializeAs="String">
    <value>2000000</value>
   </setting>
   <setting name="SendSMSList" serializeAs="String">
    <value>http://operation.siamsmile.co.th:9215/api/sms/SendSMSListV2</value>
   </setting>
   <setting name="SMS_Template_BalanceNotification" serializeAs="String">
    <value>ยอดเงินคงเหลือในบัญชี บจ.สไมล์ ทีพีเอ ต่ำกว่า {0} บาท</value>
   </setting>
   <setting name="PhonNoSMSMinBalance" serializeAs="String">
    <value>0909638287,0982627234</value>
   </setting>
   <setting name="PayTransferApiURL" serializeAs="String">
    <value>https://payapi.uatsiamsmile.com</value>
   </setting>
   <setting name="Scope" serializeAs="String">
    <value>openid profile email roles employee_profile employee_branch employee_department employee_team claimai_api offline_access</value>
   </setting>
   <setting name="ClaimAI_API_URL" serializeAs="String">
    <value>https://apigw.uatsiamsmile.com/claim/ai/claim-detection</value>
   </setting>
   <setting name="TimeStartReport" serializeAs="String">
    <value>17</value>
   </setting>
   <setting name="TimeEndReport" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="CallbackURL" serializeAs="String">
    <value>http://localhost:56752/Auth/SigninCallback</value>
   </setting>
  </SmileSClaimOnLine.Properties.Settings>
	</applicationSettings>
</configuration>
<!--ProjectGuid: A4AC7095-6F3D-42F6-938C-6D144D586307-->