﻿@{
    ViewBag.Title = "New Point Account";
    ViewBag.Description = "New Point Account Page";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">เพิ่ม Point Account</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="form1_msg" class="alert alert-danger alert-dismissible" style="display: none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> เตือน!</h4>
                    กรุณากรอกข้อมูลให้ถูกต้องและครบถ้วน
                </div>
                <!-- form start -->
                <form class="form-horizontal" id="form1" action="@Url.Action("Add")" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        @*ชื่อบัญชี*@
                        <div class="form-group">
                            <label for="PointAccountName" class="col-sm-2 control-label">เลขที่ Point Account *</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" placeholder="เลขที่ Account" name="PointAccountId" id="PointAccountId">
                            </div>
                        </div>

                        @* ประเภทบัญชี *@
                        <div class="form-group">
                            <label for="PointAccountTypeId" class="col-sm-2 control-label">ประเภท</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" name="PointAccountTypeId" id="PointAccountTypeId" required="required" style="width: 100%;">
                                    @foreach (var item in ViewBag.PointAccountTypes)
                                    {
                                        <option value="@item.PointAccountTypeId">@item.PointAccountTypeName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        @*ชื่อบัญชี*@
                        <div class="form-group">
                            <label for="PointAccountName" class="col-sm-2 control-label">ชื่อ Point Account *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="ชื่อ Point Account" name="PointAccountName" required="required" id="PointAccountName">
                            </div>
                        </div>

                        @*รหัสอ้างอิง (รหัสพนักงาน / สาขา / เขตพื้นที่)*@
                        <div class="form-group">
                            <label for="ReferenceCode" class="col-sm-2 control-label">รหัสอ้างอิง *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="รหัสพนักงาน/สาขา/เขตพื้นที่" name="ReferenceCode" required="required" id="ReferenceCode">
                            </div>
                        </div>

                        @*รายละเอียดอ้างอิง (ชื่อพนักงาน / สาขา / เขตพื้นที่)*@
                        <div class="form-group">
                            <label for="ReferenceDetail" class="col-sm-2 control-label">ชื่ออ้างอิง *</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="ชื่อพนักงาน / สาขา / เขตพื้นที่" name="ReferenceDetail" required="required" id="ReferenceDetail">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="col-sm-offset-2 btn btn-primary"><i class="fa fa-floppy-o"></i> Submit</button>
                        <a href="@Url.Action("Index")" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
@section ViewSpecificJavascript{
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            $(".datepicker").datepicker();

            $("#form1").validate({
                rules: {
                    Name: { required: true }
                },
                invalidHandler: function (e, r) {
                    $("#form1_msg").css('display', 'block');
                },
                submitHandler: function (e) {
                    e.preventDefault();
                }
            });
        });
    </script>
}