@{
    ViewBag.Title = "ข้อมูลบัญชี";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="datatable1" class="table table-bordered table-striped"></table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

@section ViewSpecificJavascript
{
    <script>
        $(function () {

            //Load Datatable
            $('#datatable1').DataTable({
                pageLength: 10,
                processing: true,
                serverSide: true,
                responsive: true,
                ajax: {
                    url: '@Url.Action("GetDatatable")',
                    method:'POST',
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;
                        d.orderType = d.order[0].dir;
                        d.search = d.search.value;
                    }
                },
                columns: [
                    {
                        title: '',
                        data: 'PointAccountId',
                        width: 100,
                        className: 'dt-right',
                        render: function (data) {
                            return '<a href="@Url.Action("Detail")?id=' + data +'" class="btn btn-success" title="View Detail" style="margin: 2px;">View Detail</a>';
                        }
                    },
                    { title: 'เลขบัญชี', data: 'PointAccountId',
                        className: 'dt-right'  },
                    { title: 'ประเภท', data: 'PointAccountTypeName' },
                    { title: 'ชื่อบัญชี', data: 'PointAccountName' },
                    {
                        title: 'Point',
                        data: 'PointRemain',
                        className: 'dt-right',
                        render: function (data) {
                            var amount = data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            var result;
                            result = '<p class="text-blue">' + amount + '</p>';
                            return result;
                        }
                    },
                    { title: 'รหัสอ้างอิง', data: 'ReferenceCode' }
                ]
            });
        });
    </script>
}