@{
    ViewBag.Title = "BarcodeGenerate";
}

<h2>BarcodeGenerate</h2>

<svg id="barcode"></svg>

<br />

<input id="txtDetail" type="text" name="name" value="" />
<select id="barcodeType" title="CODE128">
    <option value="CODE128">CODE128 auto</option>
    <option value="CODE128A">CODE128 A</option>
    <option value="CODE128B">CODE128 B</option>
    <option value="CODE128C">CODE128 C</option>
    <option value="EAN13">EAN13</option>
    <option value="EAN8">EAN8</option>
    <option value="UPC">UPC</option>
    <option value="CODE39">CODE39</option>
    <option value="ITF14">ITF14</option>
    <option value="ITF">ITF</option>
    <option value="MSI">MSI</option>
    <option value="MSI10">MSI10</option>
    <option value="MSI11">MSI11</option>
    <option value="MSI1010">MSI1010</option>
    <option value="MSI1110">MSI1110</option>
    <option value="pharmacode">Pharmacode</option>
</select>
<button id="btnGenerate">Generate Barcode </button>

@section ViewSpecificJavascript
{
    <script>
        //barcode component = jsBarcode
        //https://github.com/lindell/JsBarcode

        $(document).ready(function () {
            $('#btnGenerate').click(function (e) {
                e.preventDefault();

                var detail = $('#txtDetail').val();
                var barcodeformat = $('#barcodeType').val();

                GenerateBarCode(detail, barcodeformat);
            });
        });

        function GenerateBarCode(detail, barcodeformat) {
            JsBarcode("#barcode", detail, { format: barcodeformat });
        }

            ////ถ้าเป็น EAN128 ให้ใช้ตัวอย่างตามนี้
            //function GenerateBarCode(detail, barcodeformat) {
            //    var x1 = "|013555100438301\r510120008698100011\r510120008698100011\r1456100";
            //    var x2 = "|013555100438302\r510120008698100012\r510120008698100012\r1456200";
            //    var x3 = "|013555100438303\r510120008698100013\r510120008698100013\r1456300";
            //    var x4 = "|013555100438304\r510120008698100014\r510120008698100014\r1456400";

            //    JsBarcode("#barcode", x4, { ean128: true });   //FOR EAN128
            //}
    </script>
}