@{
    ViewBag.Title = "DateDiff";
    Layout = "~/Views/Shared/_Layout_empty.cshtml";
}

<h2>DateDiff Example</h2>

<div class="form-group">
    <label for="DateFrom" class="col-sm-2 control-label">ตั้งแต่วันที่*</label>
    <div class="col-sm-4">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right datepicker" name="DateFrom" id="DateFrom" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="DateTo" class="col-sm-2 control-label">ถึงวันที่*</label>
    <div class="col-sm-4">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right datepicker" name="DateTo" id="DateTo" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy">
        </div>
    </div>
</div>

<button id="btn-calculate" class="buttonSubmit">Get Date diff</button>

<div class="form-group">
    <label for="DateDiffToday" class="col-sm-2 control-label">diff กับ วันนี้</label>
    <div class="col-sm-4">
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right datepicker" name="DateDiffToday" id="DateDiffToday" data-provide="datepicker" data-date-language="th-th" placeholder="dd/mm/yyyy">
        </div>
    </div>
</div>

<button id="btn-calculate-today" class="buttonSubmit">Get Compare with Today</button>

@section ViewSpecificJavascript{
    <script>
        $(function () {
            $('#btn-calculate').click(function (e) {
                e.preventDefault();
                debugger;
                //get date from
                var datefrom = $('#DateFrom').datepicker('getDate');

                //get date to
                var dateto = $('#DateTo').datepicker('getDate');

                //get result
                var result = DateDiff_Days(datefrom, dateto);

                //Show Result
                alert(result);
            });

            $('#btn-calculate-today').click(function (e) {
                e.preventDefault();
                debugger;

                //get selectedDate
                var datetoDiff = new Date($('#DateDiffToday').datepicker('getDate'));

                //current date and time
                var today = new Date();

                if (datetoDiff > today) {
                    alert('SelectedDate > today');
                }
                else {
                    alert('SelectedDate < today')
                }

            });
        });
    </script>
}