@{
    ViewBag.Title = "QRGenerate";
}

<h2>QRGenerate</h2>
<input type="text" id="txtDetail" name="name" value="" />
<button id="btnGenerate">generate</button>
<div id="qrcode"></div>

@section ViewSpecificJavascript
{
    <script>
        //QR Component = qrcodejs
        //https://github.com/davidshimjs/qrcodejs

        //Init QR CODE
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "",
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });

        $(document).ready(function () {
            $('#btnGenerate').click(function (e) {
                e.preventDefault();
                generateQR();
            });
        });

        function generateQR() {
            debugger;
            qrcode.clear();
            qrcode.makeCode($('#txtDetail').val());
        };

            ////Carriage Return Example
            //function generateQR() {
            //    debugger;
            //    qrcode.clear();
            //    var x1 = "|013555100438301\r510120008698100011\r510120008698100011\r1456100";
            //    qrcode.makeCode(x1);
            //};
    </script>
}