@{
    ViewBag.Title = "Radiobutton";
}

<h2>Radiobutton</h2>

ใช้ component icheck ดูเพิ่มเติมได้จาก link http://icheck.fronteed.com/

<input type="radio" name="my_options" value="option 1" /> Option 1
<input type="radio" name="my_options" value="option 2" /> Option 2
<input type="radio" name="my_options" value="option 3" /> Option 3

@section ViewSpecificJavascript
{
    <script>
        $(document).ready(function () {
            $('input[type=radio][name=my_options]').on('ifChecked', function () {
                debugger;
                alert($(this).val());
            });
        });
    </script>
}