@{
    ViewBag.Title = "TEST_BY_BOOM";
}

<h2>TEST_BY_BOOM</h2>
<form>
    <div>
        <input type="button" id="bt_1" class="btn btn-success" value="TEST BUTTON OPEN NEW TAB" />
        <input type="text" id="txt_1" class="form-control" />
    </div>
</form>

@section ViewSpecificJavascript
{

    <script>
        $(function () {
            //EVENT CLICK
            $('#bt_1').click(function () {
                //CALL FUNCTION
                //FUNCTION_TEST();
                $.get('@Url.Action("ACTION_BOOM")', function (d) {
                    if (d != 0) {
                        $('#txt_1').val(d);
                        openInNewTab('http://www.bnk48.com');
                    }
                });
            });
        });
        //FUCNTION TEST
        function FUNCTION_TEST() {
            //CALL AJAX
            $.ajax({
                type: "POST",
                url: "@Url.Action("ACTION_BOOM")",
                success: function (response) {
                    if (response != 0) {
                        $('#txt_1').val(response);
                        openInNewTab('http://www.bnk48.com');
                    }
                }
            });
        }
        //OPEN NEW TAB
        function openInNewTab(url) {
            var win = window.open(url, '_blank');
            win.focus();
        }
    </script>
}