@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/Content/Style.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <!--ส่วนข้อมูล application -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                <h4>ข้อมูล Application</h4>
            </div>
        </div>
        <div class="form-group row">
            <div class="container-fluid">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class=""> เลขที่ App:</label>
                </div>
                <div class="col-xs-5 col-sm-4 col-md-4 col-lg-2 Acontroldetail ">
                    <input class="form-control" type="text" id="example-text-input">
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1 Acontroldetail ">
                    <button type="button" class="btn btn-info">CheckApp</button>
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-4 col-sm-2  col-md-2 col-lg-1 labelheader  ">
                    <label for="" class="">
                        สถานะ App:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-2  col-md-2 col-lg-1 labeldetail ">
                    <label for="" class="text-success">อนุมัติกรมธรรม์</label>
                </div>

                <div class="clearfix visible-sm-block visible-md-block"></div>

                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        ประเภท:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w+)/\u/g}" class="form-control" required="required">
                        <option value="1">ผู้เอาประกัน PH</option>
                        <option value="2">ผู้เอาประกัน PA</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        บริษัท:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4  col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w+\1/g}" class="form-control" required="required">
                        <option value="1">รออนุมัติ</option>
                    </select>
                </div>
                <div class="clearfix visible-lg-block"></div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        เลขบัตรประกัน:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <input name="" id="input${1/(\)/\u\1/g}" class="form-control" required="required">
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1  labelheader">
                    <label for="" class="">
                        แผน:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\+)/\u\1/g}" class="form-control" required="required">
                        <option value="1">902</option>
                        <option value="2">904</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        งวดคุ้มครอง:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4  col-md-2 col-lg-2 Acontroldetail">
                    <input type="date" name="" id="" class="form-control" value="" required="required" title="">
                </div>
                <div class="clearfix visible-xs-block visible-sm-block visible-md-block  visible-lg-block"></div>
                <div class="col-xs-offset-4 col-xs-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-sm-2 col-md-3 col-lg-1 labeldetail">
                    <a class="Abuttonhoverlink" href="http://www.google.co.th"><span>Smile Doc</span></a>
                </div>
                <div class="col-xs-offset-4 col-xs-8 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-sm-3 col-md-4 col-lg-2 labeldetail">
                    <a class="Abuttonhoverlink" href="http://www.google.co.th"><span>ผลการตรวจเอกสาร/คัดกรอง</span></a>
                </div>
                <div class="col-xs-offset-4 col-xs-8 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-sm-2 col-md-3 col-lg-2 labeldetail">
                    <a class="Abuttonhoverlink" href="http://www.google.co.th"><span>ดู Transaction</span></a>
                </div>
            </div>
        </div>

        <!--ส่วนข้อมูลเบื้องต้นผู้เอาประกัน -->

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                <h4>ข้อมูลเบื้องต้นผู้เอาประกัน</h4>
            </div>
        </div>
        <div class="form-group row">
            <div class="container-fluid">
                <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1  labelheader">
                    <label for="" class="">
                        คำนำหน้า:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2 Acontroldetail">
                    @Html.DropDownList("ddlTitleName", ViewBag.lstTitle as SelectList, "--โปรดระบุ--", new { @class = "form-control" })
                </div>

                <div class="clearfix visible-sm-block "></div>
                <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1  labelheader">
                    <label for="" class="">
                        ชื่อ:
                    </label>
                </div>
                <div class="col-sm-offset-0 col-md-offset-0 col-xs-8 col-sm-4  col-md-2 col-lg-2 Acontroldetail">
                    <input type="text" name="" id="input${1/(\)/\u\/g}" class="form-control" placeholder="ชื่อ" value="" required="required" pattern="" title="">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1  labelheader">
                    <label for="" class="">
                        สกุล:
                    </label>
                </div>
                <div class="col-sm-offset-0 col-md-offset-0 col-xs-8 col-sm-4  col-md-2 col-lg-2 Acontroldetail">
                    <input type="text" name="" id="input${1/(\+)/\u\1g}" class="form-control" placeholder="สกุล" value="" required="required" pattern="" title="">
                </div>

                <div class="clearfix visible-sm-block">
                </div>

                <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 labelheader">
                    <label for="" class="">
                        วันเกิด:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <input type="date" name="" id="input${1/(\w+)\u\1g}" class="form-control" value="" required="required" title="">
                </div>
            </div>
        </div>

        <!--ข้อมูลตัวแทน -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                <h4>ข้อมูลตัวแทน</h4>
            </div>
        </div>
        <div class="form-group row">
            <div class="container-fluid">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        ตัวแทนที่ 1:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w+)/\u\k1/g}" class="form-control" required="required">
                        <option value="">เชียงราย</option>
                        <option value="">เชียงใหม่</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        ทีมขาย 1:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\wk+)/\u\1k/g}" class="form-control" required="required">
                        <option value="">ทีมขาย1</option>
                        <option value="">ทีมขาย2</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        รหัสตัวแทน 1:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w+)/\u\kk1/g}" class="form-control" required="required">
                        <option value="">03525 พงษ์พันธ์ ท้าวยศ[บูม]</option>
                    </select>
                </div>
                <div class="clearfix visible-xs-block  visible-sm-block"></div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        หมายเลขรถ:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/kkk(\w+)/\u\1/g}" class="form-control" required="required">
                        <option value="">001 สำนักงาน</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        รหัสหัวหน้าทีม:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <input type="text" name="" id="input${1/(\kw+)/\uk\1/g}" class="form-control" value="03552 [หัวหน้าแพรว]" required="required"
                           pattern="" title="" disabled="disabled">
                </div>
                <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">ตัวแทนที่ 2</span>
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/\u\1/g}" class="form-control" required="required" disabled="disabled">
                        <option value=""></option>
                    </select>
                </div>

                <div class="clearfix visible-xs-block">
                </div>

                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        ทีมขาย 2:
                    </label>
                </div>

                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w+)/k1/g}" class="form-control" required="required" disabled="disabled"></select>
                </div>

                <div class="clearfix visible-sm-block"> </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        รหัสตัวแทน 2:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w+)/\u\1/g}" class="form-control" required="required" disabled="disabled">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <!--ข้อมูลการชำระเบี้ย -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                <h4>ข้อมูลการชำระเบี้ย</h4>
            </div>
        </div>

        <div class="form-group row">
            <div class="container-fluid">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        เบี้ยประกัน:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-2 col-md-2 col-lg-1 Acontroldetail">
                    <input type="text" name="" id="input${1/(\wg}" class="form-control" value="350" required="required" pattern="" title=""
                           disabled="disabled">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        จำนวนงวด:
                    </label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 Acontroldetail">
                    <input type="number" name="" id="input${1/(\u\1/g}" class="form-control" value="12" required="required" title="">
                </div>
                <div class="col-xs-3 col-sm-1 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        รวมเงิน:
                    </label>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-2 col-lg-1 Acontroldetail">
                    <input type="number" name="" id="input${1/(\w+)//g}" class="form-control" value="4200" required="required" title="" disabled="disabled">
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        เลขที่ใบเสร็จ:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-4 col-lg-2 Acontroldetail">
                    <input type="number" name="" id="input${1/(\w)/\u1}" class="form-control" value="" required="required" title="" placeholder="เล่มที่/เลขที่ใบเสร็จ">
                </div>

                <div class="clearfix visible-xs-block"></div>

                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        วันที่ใบเสร็จ:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-4 col-lg-2 Acontroldetail">
                    <input type="date" name="" id="input${1/(w+)/\u\1/g}" class="form-control" value="" required="required" title="">
                </div>
                <div class="col-xs-offset-4 col-sm-offset-2 col-md-offset-1 col-lg-offset-1 col-xs-8 col-sm-3 col-md-2 col-lg-2 labeldetail">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">หักผ่านธนาคารล่วงหน้า</span>
                    </label>
                </div>
                <div class="col-xs-offset-4 col-sm-offset-0 col-xs-8 col-sm-3 col-md-2 col-lg-2 labeldetail">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">ตรวจลายเซ็นต์ผ่าน</span>
                    </label>
                </div>
                <div class="col-xs-offset-4 col-sm-offset-0 col-xs-8 col-sm-4 col-md-3 col-lg-3 labeldetail">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">ลูกค้าเก่าทำเพิ่ม(ใช้บัญชีเดิม)</span>
                    </label>
                </div>
                <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        วิธีการชำระ:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w)/\u1/g}" class="form-control" required="required">
                        <option value="">หักธนาคาร</option>
                    </select>
                </div>

                <div class="clearfix visible-xs-block">
                </div>

                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        แหล่งจัดเก็บ:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w+)/\u\1g}" class="form-control" required="required">
                        <option value="">ทดสอบ</option>
                    </select>
                </div>

                <div class="clearfix visible-xs-block">
                </div>
                <div class="clearfix visible-md-block"> </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        ธนาคาร:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1(\+)/\u\1/}" class="form-control" required="required">
                        <option value="">กรุงไทย</option>
                    </select>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        เลขที่บัญชี:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">

                    <input type="text" name="" id="input${1(\w+)/\u\/g}" class="form-control" value="" required="required" title="">
                </div>
            </div>
        </div>
        <!--เวลาที่สะดวกคัดกรอง -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                <h4>เวลาที่สะดวกคัดกรอง</h4>
            </div>
        </div>
        <div class="form-group row">
            <div class="container-fluid">
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        ช่วงเวลา:
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 Acontroldetail">
                    <select name="" id="input${1/(\w)/\u\1g}" class="form-control" required="required">
                        <option value="">เลือกช่วงเวลา</option>
                        <option value="">8.00-9.00 น.</option>
                    </select>
                </div>
            </div>
        </div>

        <!--บันทึก P30 พ่วง -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                <h4>บันทึก P30 พ่วง</h4>
            </div>
        </div>
        <div class="form-group row">
            <div class="container-fluid">
                <div class="col-xs-offset-4 col-xs-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-1 col-sm-4 col-md-3 col-lg-2 labeldetail">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" required>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">ลูกค้าเก่าทำเพิ่ม(ใช้บัญชีเดิม)</span>
                    </label>
                </div>
                <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1 labelheader">
                    <label for="" class="">
                        AppID :
                    </label>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-3 col-lg-2 Acontroldetail">
                    <input type="text" name="" id="input${1/(\w)/\\1/g}" class="form-control" value="123456789101112131415" required="required"
                           title="" disabled="disabled">
                </div>
                <div class="clearfix visible-sm-block  visible-md-block visible-lg-block"> </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 Acontroldetail">
                    <a class="btn btn-primary btn-md btn-block buttonhover" data-toggle="modal" href='#modal-id'><span>+Add Address</span></a>
                </div>
                <div class="col-xs-12 col-sm-offset-8  col-md-offset-8 col-lg-offset-8 col-sm-2 col-md-2 col-lg-2 Acontroldetail">
                    <button type="button" class="btn btn-success btn-md btn-block buttonhover"><span>ถัดไป</span></button>
                </div>
            </div>
        </div>

        <div class="modal fade " id="modal-id">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-primary text-white">
                            <h4>ที่อยู่</h4>
                        </div>

                        <div class="col-xs-12 col-sm-3  col-md-3 col-lg-3  Asetmarginlabel">
                            <label for="" class="">
                                ประเภทที่อยู่
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9  ">
                            <select name="" id="input${1/(\w+)/\u\1/}" class="form-control" required="required">
                                <option value="1">ที่อยู่ตามบัตรประชาชน</option>
                                <option value="2">ที่อยู่ที่ติดต่อ</option>
                                <option value="3">ที่อยู่ที่ทำงาน</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 Asetmarginlabel  ">
                            <label for="" class="">
                                หน่วยงาน
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1/(\w+)/\u1/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="หน่วยงาน">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                หมู่บ้าน
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1/(\w)/\u\1/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="หมู่บ้าน">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                เลขที่
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9 ">
                            <input type="text" name="" id="input${1/(\w+)\u\1/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="เลขที่">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                หมู่ที่
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1/(\w+)/\u\/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="หมู่ที่" />
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 Asetmarginlabel">
                            <label for="" class="">
                                ชั้น
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9  ">
                            <input type="text" name="" id="input${1/(\w+)/u\1/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="ชั้น">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                ถนน
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1(\w+)/\u\1/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="ถนน">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                ซอย
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1(\w+/\u\1/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="ซอย">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                จังหวัด
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <select name="" id="input${1/\w+)/\u\1g}" class="form-control" required="required">
                                <option value="1">จังหวัด1</option>
                                <option value="2">จังหวัด2</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                อำเภอ
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <select name="" id="input${w+)/\u\1/g}" class="form-control" required="required">
                                <option value="1">อำเภอ1</option>
                                <option value="2">อำเภอ2</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                ตำบล
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <select name="" id="input${1/\w+)/\u\/g}" class="form-control" required="required">
                                <option value="1">ตำบล1</option>
                                <option value="2">ตำบล2</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                ไปรษณีย์
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1/(\w+)/u\1/}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="ไปรษณีย์" disabled="disabled">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                เบอร์โทร1
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1/()/\u\1/g}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="เบอร์โทร1">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  Asetmarginlabel  ">
                            <label for="" class="">
                                เบอร์โทร2
                            </label>
                        </div>
                        <div class="col-xs-12 col-sm-9  col-md-9 col-lg-9   ">
                            <input type="text" name="" id="input${1/(\w+)/\u\}" class="form-control" value="" required="required" pattern="" title=""
                                   placeholder="เบอร์โทร2">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="clearfix "></div>
                        <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol">
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                        <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6  Asetmarginformcontrol setleftt">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>