<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization culture="th-TH" />
    <customErrors mode="RemoteOnly" />
    <!-- <customErrors mode="On"> -->
    <!-- <error statusCode="404" redirect="404.aspx" /> -->
    <!-- </customErrors> -->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClaimReportService" />
        <binding name="BasicHttpBinding_IHCIService" />
        <binding name="BasicHttpBinding_IClaimService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://uat.siamsmile.co.th:9211/Module/Claim/ClaimService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimService" contract="PAClaimReportService.IClaimService" name="BasicHttpBinding_IClaimService" />
      <endpoint address="http://uat.siamsmile.co.th:9212/Report/Claim/ClaimReportService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaimReportService" contract="PHClaimReportService.IClaimReportService" name="BasicHttpBinding_IClaimReportService" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: 18A28F79-2BF8-4AA3-9978-0836FC13E02C-->