
@{
    ViewBag.Title = "Payment";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">ข้อมูลผู้ชำระเบี้ย</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-6 control-label">เลขบัตรประชาชนผู้ชำระเบี้ย</label>
                            <label for="inputEmail3" class="col-md-6 control-label" style="text-align:left;">@ViewBag.payerZCard</label>

                            @*<div class="col-sm-6">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>*@
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-md-6 control-label">เบอร์มือถือผู้ชำระเบี้ย</label>

                            <div class="col-md-6">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>


                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">รายการชำระ</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <table id="datatable1" class="table table-bordered table-striped "></table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">ช่องทางการชำระเงินและงวดที่ต้องการชำระ</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal">

                    <div class="col-md-6">
                        <div class="radio">
                            <label>
                                <input type="radio" name="radioPayment" id="radio_cash" value="option1">
                                เงินสด
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radioPayment" id="radio_edc" value="option2">
                                EDC
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="radioPayment" id="radio_barcode" value="option3">
                                QR/Barcode
                            </label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div id="div_calculate" class="col-md-6" style="padding-top:30px;display:none;">

                        <label for="" class="col-md-6 control-label">งวด</label>
                        
                        <div class="input-group input-group">
                            <input type="number" id="input_period" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" id="btn_calculate" class="btn btn-info btn-flat">คำนวณ</button>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div id="div_totaldebt" class="col-md-8" style="display:none;">
                        <label for="inputEmail3" class="col-md-6 control-label">ยอดรวมที่ต้องชำระ</label>
                        <label id="totalDebt" for="inputEmail3" class="col-md-6 control-label" style="text-align:left;"></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="div_cash" class="col-md-6" style="display:none;">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">ยืนยันการชำระ เงินสด</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <label class="control-label">1.ยืนยันเลขที่ใบเสร็จรับเงิน</label>
                        </li>
                    </ul>
                </div>
                <div class="form-group col-md-12">
                    <label class="">เล่มที่ :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group col-md-12">
                    <label class="">เลขที่ :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">วันที่ออกใบเสร็จ :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control datepicker checkcard" id="" name="" data-provide="datepicker" data-date-language="th-th" required readonly />
                    </div>
                </div>

                @*<div class="clearfix"></div>*@

                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <label class="control-label">2.กรุณาอัพโหลด</label>
                            <ul>
                                <li>1.สำเนาบัตรประจำตัวประชาชน<input type="file" id="cash_identitycardFile"></li>
                                <li>2.สำเนาหน้าบัญชีเพื่อตัดบัญชีธนาคาร<input type="file" id="cash_bookbankFile"></li>
                                <li>3.ใบเสร็จรับเงิน<input type="file" id="cash_receiptFile"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="div_edc" class="col-md-6" style="display:none;">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">ยืนยันการชำระ EDC</h3>
            </div>
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li>
                        <label class="control-label">1.ยืนยันเลขที่ใบเสร็จรับเงิน</label>
                    </li>
                </ul>
            </div>
            <div class="box-body">

                <div class="form-group col-md-12">
                    <label class="">เล่มที่ :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group col-md-12">
                    <label class="">เลขที่ :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">วันที่ออกใบเสร็จ :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control datepicker checkcard" id="" name="" data-provide="datepicker" data-date-language="th-th" required readonly />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="">เลขเครื่อง EDC :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group col-md-12">
                    <label class="">เลขบัตรเครดิต :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group col-md-12">
                    <label class="">จำนวนเงิน :</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>

                @*<div class="clearfix"></div>*@

                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <label class="control-label">2.กรุณาอัพโหลด</label>
                            <ul>
                                <li>1.สำเนาบัตรประจำตัวประชาชน<input type="file" id="edc_identitycardFile"></li>
                                <li>2.สำเนาหน้าบัญชีเพื่อตัดบัญชีธนาคาร<input type="file" id="edc_bookbankFile"></li>
                                <li>3.ใบเสร็จรับเงิน<input type="file" id="edc_receiptFile"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="div_barcode" class="col-md-6" style="display:none;">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">ยืนยันการชำระ QR/Barcode</h3>
            </div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="input-group input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat">คำนวณ</button>
                        </span>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-md-6 control-label">ยอดรวมที่ต้องชำระ</label>
                        <label for="inputEmail3" class="col-md-6 control-label" style="text-align:left;">5,000 บาท</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</form>*@

@section ViewSpecificJavascript
{
    <script>

        var premiumDeptList = [];

        $(function () {

            DrawTable();

            $('input:radio[name="radioPayment"]').on('ifChecked', function (event) {
                if ($(this).val() == 'option1') {
                    $('#div_cash').css('display', '');
                    $('#div_edc').css('display', 'none');
                    $('#div_barcode').css('display', 'none');
                    $('#div_calculate').css('display', '');
                    $('#div_totaldebt').css('display', '');
                } else if ($(this).val() == 'option2') {
                    $('#div_cash').css('display', 'none');
                    $('#div_edc').css('display', '');
                    $('#div_barcode').css('display', 'none');
                    $('#div_calculate').css('display', '');
                    $('#div_totaldebt').css('display', '');
                } else if ($(this).val() == 'option3') {
                    $('#div_cash').css('display', 'none');
                    $('#div_edc').css('display', 'none');
                    $('#div_barcode').css('display', '');
                    $('#div_calculate').css('display', '');
                    $('#div_totaldebt').css('display', '');
                }
            });

            $('#btn_calculate').click(function () {

                var radioPayment = $('input:radio[name="radioPayment"]');

                var totalDebt = 0;

                if (radioPayment.val() == 'option1') {
                    $.each(premiumDeptList, function( index, value ) {
                        totalDebt = totalDebt + (value * $('#input_period').val());
                    });

                    $('#totalDebt').text(totalDebt+' บาท');
                } else if (radioPayment.val() == 'option2') {

                } else if (radioPayment.val() == 'option3') {

                }
            });
        });


        function DrawTable() {
            $('#datatable1').empty();

            var t = $('#datatable1').DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                lengthChange: false,
                responsive: true,
                paging: false,
                destroy: true,
                language: {
                    url: '/Content/js/plugins/datatable/Thai.json'
                },
                ajax: {
                    url: '@Url.Action("GetDataTablePaymentDebt")',
                    method: "POST",
                    data: function (d) {
                        d.draw = d.draw;
                        d.pageSize = d.length;
                        d.pageStart = d.start;
                        d.sortField = d.columns[d.order[0].column].data;;
                        d.orderType = d.order[0].dir;
                        d.search = $('#input_textsearch').val();
                        d.debtRefIdList = '@ViewBag.debtRefId';
                    }
                },

                createdRow:function( row, data, dataIndex ) {
      		        $(row).attr('id', data.DebtRef_ID);
                },

                columnDefs: [ {
                    searchable: false,
                    orderable: false,
                    targets: 0,
                    className: "dt-center", "targets": "_all"
                }],

                order: [[ 1, 'asc' ]],

                columns: [
                    { title: 'ลำดับที่', data: null},
                    { title: 'เลขบัตรประจำตัวประชาชน', data: 'CustomerCard_ID' },
                    { title: 'เลขสติ๊กเกอร์', data: 'App_ID' },
                    { title: 'กลุ่มผลิตภัณฑ์', data: 'ProductGroup' },
                    { title: 'ผลิตภัณฑ์', data: 'Product'},
                    {
                        title: 'เบี้ย',
                        data: null,
                        render: function (o) {

                            var debtRefId = '@ViewBag.debtRefId'.split(',');

                            if (premiumDeptList.length < debtRefId.length) {
                                premiumDeptList.push(o.Premium_Dept);
                            } 

                            return o.Premium_Dept;
                        }
                    }
                ]

            });

            //RUN INDEX NUMBER
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        }
    </script>
}

